@import "blocks/header";
@import "blocks/production";
@import "blocks/confirmation";

#body {
    overflow: hidden;

    .display {
        float: left;
    }

    .builders {
        float: right;
    }
}

#content {
    overflow: hidden;
    position: relative;

    > div {
        position: relative;
    }
}