@include bp(max-width, $bp-small) {
    .body {
        @include flex-direction(column);
    }
    .display, .builders {
        margin: 0 auto;
    }
    .tracker {
        position: absolute;
        z-index: 200;
        bottom: 20px;
        left: 45%;
    }
    .display {
        height: 50%;
    }
    .builders {
        height: 50%;
        width: 100%;
        margin: 0 auto;

        .filters {
            *{display: none;}
        }
    }
    .options {
        width: 105%;
        > div {
            padding-top: 40px;
            position: relative;

            h3 {
                position: absolute;
                height: 15px;
                top: 0;
                left: 0;
            }
        }
    }
    .option {
        @include display-flex(flex);
        @include flex-direction(row);
        width: 90%;
        height: 100px;
        max-width: 250px;

        div {
            &.image {
                width: 40%;
                height: 100%;
            }
            &.inner {
                width: 60%;
                height: 100%;
            }
            div {
                height: 50%;
            }
        }

        .image {
            max-height: 100%;
            position: relative;

            img {
                height: 100%;
                width: auto;
            }
        }

        .name {
            width: 100%;
            padding: 10px;
        }

        .price, .select {
            width: 50%;
        }
        .price {
            float: left;
        }
        .select {
            float: right;
        }

        .specs {
            span {
                display: none;
            }

            width: 15px;
            position: absolute;
            left: 0;
            height: 100%;
            top: 0;

            &.open {
                width: 70%;
            }
        }

        .select:before, .select:after {
            width: 3px;
        }
        .select button:before, .select button:after {
            height: 3px;
        }
    }
}

@include bp(min-width, $bp-small + 1) {
    .body {
        @include flex-direction(row);
        overflow: hidden;
    }
    .display {
        width: 60%;
        height: 100%;
    }
    .builders {
        width: 30%;
        height: 80%;
        margin-right: 2em;
    }
    .tracker {
        @include flex-direction(column);
    }
}