// =============================================
// Primary Break Points
// =============================================
$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 770px;
$bp-large: 979px;
$bp-xlarge: 1199px;

$media-folder: "images/";

$red: #cc0000;
$orange: orange;
$yellow: yellow;
$green: #00cc00;
$blue: #0000cc;
$violet: violet;
$gray: #ccc;
$white: #fff;
$black: #000;