@import "compass/css3";

@import "var";
@import "mixin/breakpoints";
@import "mixin/screensize";
@import "mixin/clearfix";


body {
    font-family: Avenir, sans-serif;
}

// @include display-flex(flex);
// @include flex-direction(row | row-reverse | column | column-reverse);
// @include flex-wrap(nowrap | wrap | wrap-reverse);
// @include justify-content(flex-start | flex-end | center | baseline | stretch);
// @include align-items(auto | flex-start | flex-end | center | baseline | stretch);
// @include align-content(flex-start | flex-end | center | space-between | space-around | stretch);


.hidden {
    display: none;
}

html, body {
    height: 100%;
}

h2,h4 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.body {
    @include display-flex(flex);
    @include flex-direction(row);
    @include justify-content(space-around)
}

.display, .builders {
    @include bp(max-width, $bp-small) {
        width: 100%;
    }
    @include bp(min-width, $bp-small+1) {
        width: 50%;
    }
}

.display {
    svg {
        height: 100px;
        width: 100px;
        background-color: #ddd;
    }
    text {
        fill: red;
    }
}

.builder {
    margin: 1em;
    border: solid 1px black;
    li {
        // height: 100px;
        position: relative;

        input[type="checkbox"] {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .cableType {
        background-color: #222;
    }

    .cable {
        background-color: #555;
    }

    .inputPlug {
        background-color: #888;
    }

    .outputPlug {
        background-color: #bbb;
    }

    .protection {
        background-color: #eee;
    }
}

.options {
    @include display-flex(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
}

.option {
    width: 20%;
    margin: 1em 2.5%;
    text-align: center;
    color: white;
    position: relative;

    .image, .image img {
        width: 100%;
    }

    .name {
        background-color: #555;
    }

    .price {
        background-color: #af9757;
    }

    .specs {
        background-color: #6f9dbe;
    }

    .select {
        background-color: #ff1200;
    }

    .selector {
        display: none;
    }

    label {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    &.selected ~ & {
        
    }
}
