@import "compass/css3";

@import "var";
@import "mixin/breakpoints";
@import "mixin/screensize";
@import "mixin/clearfix";

// @include display-flex(flex);
// @include flex-direction(row | row-reverse | column | column-reverse);
// @include flex-wrap(nowrap | wrap | wrap-reverse);
// @include justify-content(flex-start | flex-end | center | baseline | stretch);
// @include align-items(auto | flex-start | flex-end | center | baseline | stretch);
// @include align-content(flex-start | flex-end | center | space-between | space-around | stretch);

#test {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.loader {
    background: url("/v/s/images/customshop/builder/misc/page-loader.gif") no-repeat scroll 50% 50% rgb(0, 0, 0);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
}

html, body, .content, .body {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.body {
    @include display-flex(flex);
    @include flex-direction(row);
    @include justify-content(space-around);
}

.display, .builders {
    width: 45%;
}

.tracker {
    width: 10%;

    @include display-flex(flex);
    @include align-items(flex-start);
    @include flex-direction(column);
    @include justify-content(center);

    .dot {
        width: 10px;
        height: 10px;
        background-color: red;
        border: solid 1px black;
        border-radius: 50%;
        margin-bottom: 0.5em;
        cursor: pointer;
    }

    .dot.done {
        background-color: green;
    }
}

.display {
    height: 100%;
}

.builders {
    margin-right: 2em;
    @include align-self(center);
    height: 70%;

    .builder, .builder > li {
        height: 100%;
    }
}

.cableTypes {
    @include display-flex(flex);
    @include flex-direction(row);
    @include justify-content(space-around);
    margin: 1em 1em 0;
    text-align: center;

    .tab {
        @include flex-grow(1);
        cursor: pointer;
        padding: 0.5em 0;
        border: 1px solid black;
        border-bottom: none;
        background-color: #676767;
        color: white;
        border-radius: 15px 15px 0 0;

        &:not(:first-child) {
            border-left: none;
        }

        &.selected {
            background-color: #050505;
        }
    }
}

.builder {
    margin: 0 1em 1em;
    border: solid 1px black;
    border-top: none;
    display: none;
    position: relative;

    &.selected {
        display: block;
    }

    > li {
        &.current {
            display: block;
        }
        display: none;

        input[type="checkbox"] {
            position: absolute;
        }
        
    }
}

.filters {
    &.cable{}
    &.inputPlug{}
    &.outputPlug{}
    &.other{}

    height: 10%;
    background-color: #73adbc;

    @include display-flex(flex);
    @include flex-direction(row);
    @include flex-wrap(no-wrap);

    .filter {
        @include flex-grow(1);
        @include display-flex(flex);
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(center);
    }

    h1 {
        margin: 0;
    }
}

.options {
    overflow-y: scroll;
    height: 90%;
    .premium, .standard {
        @include display-flex(flex);
        @include flex-direction(row);
        @include flex-wrap(wrap);
        padding-bottom: 58px;

        h3 {
            width: 100%;
        }
    }
}

.option {
    width: 22%;
    margin: 1em 1.5%;
    text-align: center;
    display: none;
    color: white;
    position: relative;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    min-width: 100px;

    > div {
        height: 30px;
        @include display-flex(flex);
        @include align-items(center);
        @include justify-content(center);
    }

    .image, .image img {
        // display: none;
        height: auto;
        width: 100%;
    }

    .name {
        background-color: #555;
    }

    .price {
        background-color: #af9757;
        font-weight: bolder;
        font-size: 14px;
    }

    .specs {
        background-color: #6f9dbe;
        > div {
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            height: 200px;
        }
    }

    .select {
        background-color: #ff1200;

        cursor: pointer;

        button {
            background: none;
            border: none;
            text-transform: inherit;
        }

        button:after {
            position: absolute;
            content: "";
            height: 8px;
            background-color: transparent;
            top: 0;
        }
    }

    .selector {
        display: none;
    }

    .select:after, .select:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 8px;
        background-color: transparent;
        top: 0;
    }

    .selector:checked ~ .select:before, &:hover .select:before {
        background-color: #ff1200;
        left: 0;
    }

    .selector:checked ~ .select:after, &:hover .select:after {
        background-color: #ff1200;
        right: 0;
    }

    .selector:checked ~ .select button:after, &:hover .select button:after {
        background-color: #ff1200;
        left: 0;
        right: 0;
    }
}

.step {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background-color: #444;
    height: 58px;
    
    button {
        color: white;
        border: solid 1px white;
        text-transform: uppercase;
        background: none;
        padding: 0.5em 2.5em;
        overflow: hidden;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;

        &.previous {
            float: left;
        }

        &.next {
            float: right;
        }
    }
}
