.option {
    border: solid 1px #ccc;
    cursor: pointer;
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    z-index: 2;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;

    @include bp(max-width, $bp-small) {
        margin: 1em auto;
    }

    .inner div {
        height: 30px;
        @include display-flex(flex);
        @include align-items(center);
        @include justify-content(center);
    }

    .info {
        @include transition(top 0.25s ease-in-out);
        background-color: rgba(0,0,0,0.75);
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: 100%;
        z-index: 30;

        @include display-flex(flex);
        @include flex-direction(column);

        ul {
            text-align: left;
            padding: 10px 0 0 10px;

            li.title {
                font-size: 12px;
                font-weight: 800;
                margin-bottom: 11px;
                letter-spacing: 1.5px;
                display: inline-block;
                color: #eee;
            }

            li {
                margin-bottom: 6px;
                em {
                    color: #92d9f3;
                    font-style: none;
                }
            }

            .capacitance:after {
                content: " pf/ft";
                font-size: 7px;
            }
        }

        button.more {
            background: none;
            border: none;
            bottom: 5px;
            display: none;
            left: 0;
            right: 0;
            position: absolute;
            width: 50%;
            margin: 0 auto;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.cable {
        .price span {
            &:after {
                content: "/ft";
                font-size: 8px;
                font-weight: 300;
            }
        }
    }

    // specs open
    &.specs .info {
        top: 0;
    }

    .image {
        overflow: hidden;
        position: relative;
        pointer-events: none;

        &:before {
            background-color: rgba(0, 0, 0, 0.0);
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
        }

        img {
            height: auto;
            width: 100%;
            pointer-events: auto;
        }

        .overlay {
            position: absolute;
            top: -2px;
            width: 102%;
            left: -2.5px;
        }

        .choices {
            bottom: 5px;
            left: 10px;
            position: absolute;
            top: 0;
            width: 11px;
            z-index: 20;

            @include display-flex(flex);
            @include flex-direction(column);
            @include justify-content(flex-end);

            div {
                border-radius: 50%;
                cursor: pointer;
                height: 10px;
                margin-top: 3px;
                pointer-events: auto;
                position: relative;
                width: 10px;

                &:after {
                    border-radius: 50%;
                    content: "";
                    height: 10px;
                    left: 0;
                    top: 0;
                    position: absolute;
                    width: 10px;
                }
            }

            [data-choice-value="red"]:after {
                background-color: #e90d2f;
            }

            [data-choice-value="orange"]:after {
                background-color: #ff864f;
            }

            [data-choice-value="yellow"]:after {
                background-color: #fcf86c;
                border: solid 1px #ccc;
                height: 11px;
                left: -0.5px;
                top: -0.5px;
                width: 11px;
            }

            [data-choice-value="green"]:after {
                background-color: #25c265;
            }

            [data-choice-value="violet"]:after {
                background-color: #6154ba;
            }

            [data-choice-value="black"]:after {
                background-color: #000;
            }

            [data-choice-value="gray"]:after {
                background-color: #999da3;
            }

            [data-choice-value="white"]:after {
                background-color: #fff;
                border: solid 1px #aeaeae;
                height: 11px;
                left: -0.5px;
                top: -0.5px;
                width: 11px;
            }

            [data-choice-value="gold"]:after {
                background-color: #fff282;
                border: solid 1px #bbb;
                height: 11px;
                left: -0.5px;
                top: -0.5px;
                width: 11px;
            }

            [data-choice-value="nickel"]:after {
                background-color: #dce4f5;
            }
        }
    }

    .name {
        background-color: #555;
        padding: 0 8px;
    }

    .price {
        background-color: #af9757;
        font-weight: bolder;
        font-size: 14px;

        span:before {
            content: '$';
        }
    }

    .specs {
        background-color: #6f9dbe;
        cursor: pointer;
    }

    .selector {
        display: none;
    }

    .select {
        background-color: #ff1200;
        cursor: pointer;

        button {
            background: none;
            border: none;
            text-transform: inherit;
        }

        .pickme {
            display: block;
        }

        .picked {
            display: none;
        }
    }

    .border {
        border-color: #ff1200;
        border-style: solid;
        border-width: 0;
        height: 100%;
        pointer-events: none;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    &:hover .border {
        border-width: 4px;
    }

    .selector:checked {
        & ~ .border {
            border-width: 6px;
        }

        & ~ .inner .select {
            .picked {
                display: block;
            }

            .pickme {
                display: none;
            }
        }
    }

    .notice_onlyPatch {
        background: url($media-folder + 'builder/notice.png') no-repeat scroll center center / 100% auto transparent;
        border-radius: 50%;
        height: 10px;
        position: absolute;
        right: 10px;
        top: 158px;
        width: 10px;

        span {
            background-color: #eee;
            border: solid 1px black;
            border-bottom: solid 5px black;
            bottom: 16px;
            color: black;
            padding: 5px;
            position: absolute;
            opacity: 0;
            right: -3px;
            visibility: hidden;
            width: 125px;

            &:before {
                position: absolute;
                content: "";
                display: block;
                height: 0;
                width: 0;
                bottom: -12px;
                right: 4px;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                border-top: 7px solid black;
                border-bottom: none;
            }
        }

        /**
         * notice fade transitions
         */
        $duration: 0.3s;
        span {
            @include transition(opacity $duration ease-out, visibility 0 step-end $duration);
        }

        &:hover {
            span {
            @include transition(opacity $duration ease-out, visibility 0 step-start $duration);
                opacity: 1;
                visibility: visible;
            }
        }

    }

    &[data-oos-option="true"] {
        cursor: default;

        &:before {
            background-color: black;
            color: white;
            content: "Out of stock";
            display: block;
            height: 30px;
            left: 0;
            line-height: 30px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        &:after {
            background: url($media-folder + 'misc/outofstock.png') no-repeat scroll center center / 100% auto rgba(0,0,0,0.224);
            content: "";
            width: 100%;
            height: 148px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:hover {
            .select {
                &:before, &:after, button:before, button:after {
                    background-color: transparent;
                }
            }
        }
    }

    &[data-filter-status="visible"] {
        display: block;
    }

    &[data-filter-status="hidden"], &[data-filter-status="filtered"] {
        display: none;
    }
}
