/* line 4, sass/mixin/_screensize.scss */
body:before {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  color: white;
  content: "";
  height: 15px;
  left: 0;
  line-height: 100%;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 9999;
}
@media only screen and (max-width: 479px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an XSMALL screen";
  }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an SMALL screen";
  }
}
@media only screen and (min-width: 600px) and (max-width: 770px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an MEDIUM screen";
  }
}
@media only screen and (min-width: 771px) and (max-width: 979px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an LARGE screen";
  }
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an XLARGE screen";
  }
}
@media only screen and (min-width: 1200px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an XLARGE+ screen";
  }
}

/* line 15, sass/screen.scss */
#screen-width {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
  color: white;
}
/* line 21, sass/screen.scss */
#screen-width:after {
  content: 'px';
}
/* line 22, sass/screen.scss */
#screen-width:before {
  content: 'width: ';
}

/* line 25, sass/screen.scss */
#screen-height {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  color: white;
}
/* line 31, sass/screen.scss */
#screen-height:after {
  content: 'px';
}
/* line 32, sass/screen.scss */
#screen-height:before {
  content: 'height: ';
}

/* line 35, sass/screen.scss */
#test {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

/* line 42, sass/screen.scss */
.loader {
  background: url("/v/s/images/customshop/builder/misc/page-loader.gif") no-repeat scroll 50% 50% black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
}

/* line 52, sass/screen.scss */
html, body, .content, .body {
  height: 100%;
}

/* line 56, sass/screen.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 62, sass/screen.scss */
button {
  text-transform: uppercase;
}

/* line 66, sass/screen.scss */
div.body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  overflow-x: hidden;
}

/* line 73, sass/screen.scss */
.tracker {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 78, sass/screen.scss */
.tracker .dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border: solid 1px black;
  border-radius: 50%;
  margin-bottom: 0.5em;
  cursor: pointer;
}
/* line 88, sass/screen.scss */
.tracker .dot.done {
  background-color: green;
}

/* line 93, sass/screen.scss */
.display {
  position: relative;
  z-index: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 101, sass/screen.scss */
.display .outer {
  width: 80%;
  max-width: 500px;
  max-height: 500px;
  height: 80%;
}
/* line 106, sass/screen.scss */
.display .outer .inner {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 112, sass/screen.scss */
.display .outer .inner div:first-child {
  height: 100%;
}
/* line 116, sass/screen.scss */
.display .outer .inner div:not(:first-child) {
  position: absolute;
}
/* line 120, sass/screen.scss */
.display .outer .inner div img {
  max-height: 99%;
}
/* line 126, sass/screen.scss */
.display .outer .inner .inputPlug img {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 131, sass/screen.scss */
.display .outer .inner .outputPlug img {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 139, sass/screen.scss */
.display .cable img {
  max-width: 100%;
  margin: 0 auto;
}

/* line 151, sass/screen.scss */
.builders {
  -webkit-align-self: center;
  align-self: center;
  min-width: 300px;
  position: relative;
  z-index: 2;
}
/* line 157, sass/screen.scss */
.builders .builder, .builders .builder > li {
  height: 100%;
}

/* line 162, sass/screen.scss */
.cableTypes {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  text-align: center;
  display: none;
}
/* line 169, sass/screen.scss */
.cableTypes .tab {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  cursor: pointer;
  padding: 0.5em 0;
  border: 2px solid #ccc;
  border-bottom: none;
  background-color: #676767;
  color: white;
  border-radius: 15px 15px 0 0;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
/* line 182, sass/screen.scss */
.cableTypes .tab:not(:first-child) {
  border-left: none;
}
/* line 186, sass/screen.scss */
.cableTypes .tab.selected {
  background-color: #050505;
}

/* line 192, sass/screen.scss */
.builder {
  border: solid 1px black;
  border-top: none;
  display: none;
  position: relative;
  background: #ddd;
}
/* line 199, sass/screen.scss */
.builder.selected {
  display: block;
}
/* line 203, sass/screen.scss */
.builder > li {
  display: none;
}
/* line 204, sass/screen.scss */
.builder > li.current {
  display: block;
}

/* line 216, sass/screen.scss */
.filters {
  height: 10%;
  background-color: #73adbc;
  text-transform: uppercase;
  position: relative;
  font-size: 10px;
  letter-spacing: 1px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
/* line 233, sass/screen.scss */
.filters .filterContainer {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 241, sass/screen.scss */
.filters .filterContainer.color {
  -webkit-flex-grow: 2;
  flex-grow: 2;
}
/* line 244, sass/screen.scss */
.filters .filterContainer.color .filter {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 249, sass/screen.scss */
.filters .filterContainer.color .filter .filter-option {
  width: 50%;
}
/* line 254, sass/screen.scss */
.filters .filterContainer .filter-option input, .filters .filterContainer .filter-option label {
  display: inline-block;
  vertical-align: middle;
}
/* line 261, sass/screen.scss */
.filters h1 {
  margin: 0;
}
/* line 265, sass/screen.scss */
.filters button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: none;
  border: none;
  text-transform: uppercase;
}

/* line 275, sass/screen.scss */
.options {
  overflow-y: scroll;
  height: 90%;
}
/* line 278, sass/screen.scss */
.options .premium, .options .standard {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 58px;
}
/* line 284, sass/screen.scss */
.options .premium h3, .options .standard h3 {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 13px;
  margin: 1.5em 1.5em 0.5em;
}

/* line 295, sass/screen.scss */
.option {
  width: 22%;
  margin: 1em 1.5%;
  text-align: center;
  color: white;
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 100px;
  cursor: pointer;
}
/* line 307, sass/screen.scss */
.option div div {
  height: 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 314, sass/screen.scss */
.option .info {
  -moz-transition: top 0.25s ease-in-out;
  -o-transition: top 0.25s ease-in-out;
  -webkit-transition: top 0.25s ease-in-out;
  transition: top 0.25s ease-in-out;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 100%;
}
/* line 324, sass/screen.scss */
.option.specs .info {
  top: 0;
}
/* line 328, sass/screen.scss */
.option .image {
  overflow: hidden;
  position: relative;
}
/* line 329, sass/screen.scss */
.option .image img {
  height: auto;
  width: 100%;
}
/* line 337, sass/screen.scss */
.option .image .colors, .option .image .boots {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
}
/* line 349, sass/screen.scss */
.option .image .colors div, .option .image .boots div {
  width: 20%;
  height: 10px;
  cursor: pointer;
}
/* line 355, sass/screen.scss */
.option .image .colors .red, .option .image .boots .red {
  background-color: red;
}
/* line 356, sass/screen.scss */
.option .image .colors .orange, .option .image .boots .orange {
  background-color: orange;
}
/* line 357, sass/screen.scss */
.option .image .colors .yellow, .option .image .boots .yellow {
  background-color: yellow;
}
/* line 358, sass/screen.scss */
.option .image .colors .green, .option .image .boots .green {
  background-color: green;
}
/* line 359, sass/screen.scss */
.option .image .colors .black, .option .image .boots .black {
  background-color: black;
}
/* line 360, sass/screen.scss */
.option .image .colors .violet, .option .image .boots .violet {
  background-color: violet;
}
/* line 361, sass/screen.scss */
.option .image .colors .gray, .option .image .boots .gray {
  background-color: gray;
}
/* line 365, sass/screen.scss */
.option .name {
  background-color: #555;
}
/* line 369, sass/screen.scss */
.option .price {
  background-color: #af9757;
  font-weight: bolder;
  font-size: 14px;
}
/* line 374, sass/screen.scss */
.option .price span:before {
  content: '$';
}
/* line 379, sass/screen.scss */
.option .specs {
  background-color: #6f9dbe;
}
/* line 383, sass/screen.scss */
.option .select {
  background-color: #ff1200;
  cursor: pointer;
}
/* line 388, sass/screen.scss */
.option .select button {
  background: none;
  border: none;
  text-transform: inherit;
}
/* line 394, sass/screen.scss */
.option .select button:before {
  position: absolute;
  content: "";
  height: 8px;
  background-color: transparent;
  bottom: 0;
}
/* line 402, sass/screen.scss */
.option .select button:after {
  position: absolute;
  content: "";
  height: 8px;
  background-color: transparent;
  top: 0;
}
/* line 411, sass/screen.scss */
.option .selector {
  display: none;
}
/* line 415, sass/screen.scss */
.option .select:after, .option .select:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 8px;
  background-color: transparent;
  top: 0;
}
/* line 424, sass/screen.scss */
.option .selector:checked ~ .inner .select:before, .option:hover .select:before {
  background-color: #ff1200;
  left: 0;
  z-index: 30;
}
/* line 430, sass/screen.scss */
.option .selector:checked ~ .inner .select:after, .option:hover .select:after {
  background-color: #ff1200;
  right: 0;
  z-index: 30;
}
/* line 436, sass/screen.scss */
.option .selector:checked ~ .inner .select button:after, .option:hover .select button:after, .option .selector:checked ~ .inner .select button:before, .option:hover .select button:before {
  background-color: #ff1200;
  left: 0;
  right: 0;
  z-index: 30;
}

/* line 444, sass/screen.scss */
.step {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  background-color: #444;
  z-index: 100;
}
/* line 453, sass/screen.scss */
.step button {
  color: white;
  border: solid 1px white;
  text-transform: uppercase;
  background: none;
  padding: 0.5em 2.5em;
  overflow: hidden;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}
/* line 464, sass/screen.scss */
.step button.previous {
  float: left;
}
/* line 468, sass/screen.scss */
.step button.next {
  float: right;
}

/* line 476, sass/screen.scss */
.length > input[type="hidden"].patch ~ .rulers .patch {
  display: block;
}
/* line 480, sass/screen.scss */
.length > input[type="hidden"].regular ~ .rulers .regular {
  display: block;
}
/* line 485, sass/screen.scss */
.length .rulers {
  margin: 1em;
}
/* line 487, sass/screen.scss */
.length .rulers div, .length .rulers input {
  display: none;
}

@media only screen and (max-width: 599px) {
  /* line 2, sass/_media.scss */
  div.content .body {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  /* line 5, sass/_media.scss */
  div.content .display, div.content .builders {
    margin: 0 auto;
  }
  /* line 8, sass/_media.scss */
  div.content .tracker {
    position: absolute;
    z-index: 200;
    bottom: 20px;
    left: 45%;
  }
  /* line 14, sass/_media.scss */
  div.content .display {
    height: 50%;
  }
  /* line 17, sass/_media.scss */
  div.content .builders {
    height: 50%;
    width: 100%;
    margin: 0 auto;
  }
  /* line 23, sass/_media.scss */
  div.content .builders .filters * {
    display: none;
  }
  /* line 26, sass/_media.scss */
  div.content .options {
    width: 105%;
  }
  /* line 28, sass/_media.scss */
  div.content .options > div {
    padding-top: 40px;
    position: relative;
  }
  /* line 32, sass/_media.scss */
  div.content .options > div h3 {
    position: absolute;
    height: 15px;
    top: 0;
    left: 0;
  }
  /* line 40, sass/_media.scss */
  div.content .option {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 90%;
    height: 100px;
    max-width: 250px;
  }
  /* line 48, sass/_media.scss */
  div.content .option div.image {
    width: 40%;
    height: 100%;
  }
  /* line 52, sass/_media.scss */
  div.content .option div.inner {
    width: 60%;
    height: 100%;
  }
  /* line 56, sass/_media.scss */
  div.content .option div div {
    height: 50%;
  }
  /* line 61, sass/_media.scss */
  div.content .option .image {
    max-height: 100%;
    position: relative;
  }
  /* line 65, sass/_media.scss */
  div.content .option .image img {
    height: 100%;
    width: auto;
  }
  /* line 71, sass/_media.scss */
  div.content .option .name {
    width: 100%;
    padding: 10px;
  }
  /* line 76, sass/_media.scss */
  div.content .option .price, div.content .option .select {
    width: 50%;
  }
  /* line 79, sass/_media.scss */
  div.content .option .price {
    float: left;
  }
  /* line 82, sass/_media.scss */
  div.content .option .select {
    float: right;
  }
  /* line 86, sass/_media.scss */
  div.content .option .specs {
    width: 15px;
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
  }
  /* line 87, sass/_media.scss */
  div.content .option .specs span {
    display: none;
  }
  /* line 97, sass/_media.scss */
  div.content .option .specs.open {
    width: 70%;
  }
  /* line 102, sass/_media.scss */
  div.content .option .select:before, div.content .option .select:after {
    width: 3px;
  }
  /* line 105, sass/_media.scss */
  div.content .option .select button:before, div.content .option .select button:after {
    height: 3px;
  }
}
@media only screen and (min-width: 600px) {
  /* line 112, sass/_media.scss */
  div.content .body {
    -webkit-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
  }
  /* line 116, sass/_media.scss */
  div.content .display {
    width: 60%;
    height: 100%;
  }
  /* line 120, sass/_media.scss */
  div.content .builders {
    width: 30%;
    height: 80%;
    margin-right: 2em;
  }
  /* line 125, sass/_media.scss */
  div.content .tracker {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/* line 497, sass/screen.scss */
div.storage {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
}
/* line 508, sass/screen.scss */
div.storage .build {
  position: relative;
  cursor: pointer;
  border: solid 2px black;
}
/* line 513, sass/screen.scss */
div.storage .build input[name="storage_build"]:checked + .image {
  outline: solid red 1px;
}
/* line 517, sass/screen.scss */
div.storage .build input[type="radio"] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
/* line 524, sass/screen.scss */
div.storage .build .image {
  position: relative;
  width: 100px;
  height: 100px;
}
/* line 528, sass/screen.scss */
div.storage .build .image img {
  position: absolute;
}
/* line 534, sass/screen.scss */
div.storage .build .image .plug {
  bottom: 0;
}
/* line 538, sass/screen.scss */
div.storage .build .image .input {
  left: 0;
}
/* line 542, sass/screen.scss */
div.storage .build .image .output {
  right: 0;
}
/* line 547, sass/screen.scss */
div.storage .build .information {
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  background-color: #ddd;
  position: absolute;
  left: 100px;
  top: -2px;
  bottom: -2px;
  width: 0;
  overflow: hidden;
  border: solid 2px black;
  border-left: none;
}
/* line 561, sass/screen.scss */
div.storage .build:hover .information, div.storage .build:hover .information p {
  width: 200px;
}
