/* line 1, sass/mixin/_screensize.scss */
body {
  padding-bottom: 15px;
}
/* line 4, sass/mixin/_screensize.scss */
body:before {
  background-color: #666;
  bottom: 0;
  color: white;
  content: "";
  height: 15px;
  left: 0;
  line-height: 100%;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 9999;
}
@media only screen and (max-width: 479px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an XSMALL screen";
  }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an SMALL screen";
  }
}
@media only screen and (min-width: 600px) and (max-width: 770px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an MEDIUM screen";
  }
}
@media only screen and (min-width: 771px) and (max-width: 979px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an LARGE screen";
  }
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an XLARGE screen";
  }
}
@media only screen and (min-width: 1200px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an XLARGE+ screen";
  }
}

/* line 9, sass/screen.scss */
body {
  font-family: Avenir, sans-serif;
}

/* line 21, sass/screen.scss */
.hidden {
  display: none;
}

/* line 25, sass/screen.scss */
html, body {
  height: 100%;
}

/* line 29, sass/screen.scss */
h2, h4 {
  margin: 0;
}

/* line 33, sass/screen.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 39, sass/screen.scss */
div.body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

@media only screen and (max-width: 599px) {
  /* line 45, sass/screen.scss */
  .display, .builders {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 45, sass/screen.scss */
  .display, .builders {
    width: 50%;
  }
}

/* line 55, sass/screen.scss */
.display svg {
  height: 100px;
  width: 100px;
  background-color: #ddd;
}
/* line 60, sass/screen.scss */
.display text {
  fill: red;
}

/* line 65, sass/screen.scss */
.builder {
  margin: 1em;
  border: solid 1px black;
}
/* line 68, sass/screen.scss */
.builder li {
  position: relative;
}
/* line 72, sass/screen.scss */
.builder li input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 78, sass/screen.scss */
.builder .cableType {
  background-color: #222;
}
/* line 82, sass/screen.scss */
.builder .cable {
  background-color: #555;
}
/* line 86, sass/screen.scss */
.builder .inputPlug {
  background-color: #888;
}
/* line 90, sass/screen.scss */
.builder .outputPlug {
  background-color: #bbb;
}
/* line 94, sass/screen.scss */
.builder .protection {
  background-color: #eee;
}

/* line 99, sass/screen.scss */
.options {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 105, sass/screen.scss */
.option {
  width: 20%;
  margin: 1em 2.5%;
  text-align: center;
  color: white;
  position: relative;
}
/* line 112, sass/screen.scss */
.option .image, .option .image img {
  width: 100%;
}
/* line 116, sass/screen.scss */
.option .name {
  background-color: #555;
}
/* line 120, sass/screen.scss */
.option .price {
  background-color: #af9757;
}
/* line 124, sass/screen.scss */
.option .specs {
  background-color: #6f9dbe;
}
/* line 128, sass/screen.scss */
.option .select {
  background-color: #ff1200;
}
/* line 132, sass/screen.scss */
.option .selector {
  display: none;
}
/* line 136, sass/screen.scss */
.option label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
