/* line 1, sass/mixin/_screensize.scss */
body {
  padding-bottom: 15px;
}
/* line 4, sass/mixin/_screensize.scss */
body:before {
  background-color: #666;
  bottom: 0;
  color: white;
  content: "";
  height: 15px;
  left: 0;
  line-height: 100%;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 9999;
}
@media only screen and (max-width: 479px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an XSMALL screen";
  }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an SMALL screen";
  }
}
@media only screen and (min-width: 600px) and (max-width: 770px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an MEDIUM screen";
  }
}
@media only screen and (min-width: 771px) and (max-width: 979px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an LARGE screen";
  }
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an XLARGE screen";
  }
}
@media only screen and (min-width: 1200px) {
  /* line 4, sass/mixin/_screensize.scss */
  body:before {
    content: "You're on an XLARGE+ screen";
  }
}

/* line 9, sass/screen.scss */
body {
  font-family: Avenir, sans-serif;
}

/* line 20, sass/screen.scss */
.loader {
  background: url("/v/s/images/customshop/builder/misc/page-loader.gif") no-repeat scroll 50% 50% black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
}

/* line 30, sass/screen.scss */
.hidden {
  display: none;
}

/* line 34, sass/screen.scss */
html, body {
  height: 100%;
}

/* line 38, sass/screen.scss */
h2, h4 {
  margin: 0;
}

/* line 42, sass/screen.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 48, sass/screen.scss */
div.body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

@media only screen and (max-width: 599px) {
  /* line 54, sass/screen.scss */
  .display, .builders {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 54, sass/screen.scss */
  .display, .builders {
    width: 50%;
  }
}

/* line 66, sass/screen.scss */
.cableTypes {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
/* line 70, sass/screen.scss */
.cableTypes .tab {
  cursor: pointer;
}

/* line 75, sass/screen.scss */
.builder {
  margin: 1em;
  border: solid 1px black;
  display: none;
}
/* line 80, sass/screen.scss */
.builder.selected {
  display: block;
}
/* line 84, sass/screen.scss */
.builder li {
  display: none;
  position: relative;
}
/* line 85, sass/screen.scss */
.builder li.current {
  display: block;
}
/* line 91, sass/screen.scss */
.builder li input[type="checkbox"] {
  position: absolute;
}

/* line 98, sass/screen.scss */
.options > div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 104, sass/screen.scss */
.option {
  width: 22%;
  margin: 1em 1.5%;
  text-align: center;
  color: white;
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 114, sass/screen.scss */
.option > div {
  height: 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 121, sass/screen.scss */
.option .image, .option .image img {
  display: none;
  height: auto;
  width: 100%;
}
/* line 127, sass/screen.scss */
.option .name {
  background-color: #555;
}
/* line 131, sass/screen.scss */
.option .price {
  background-color: #af9757;
  font-weight: bolder;
  font-size: 14px;
}
/* line 137, sass/screen.scss */
.option .specs {
  background-color: #6f9dbe;
}
/* line 141, sass/screen.scss */
.option .select {
  background-color: #ff1200;
  cursor: pointer;
}
/* line 146, sass/screen.scss */
.option .select button {
  background: none;
  border: none;
  text-transform: inherit;
}
/* line 152, sass/screen.scss */
.option .select button:after {
  position: absolute;
  content: "";
  height: 8px;
  background-color: transparent;
  top: 0;
}
/* line 161, sass/screen.scss */
.option .selector {
  display: none;
}
/* line 165, sass/screen.scss */
.option .select:after, .option .select:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 8px;
  background-color: transparent;
  top: 0;
}
/* line 174, sass/screen.scss */
.option .selector:checked ~ .select:before, .option:hover .select:before {
  background-color: #ff1200;
  left: 0;
}
/* line 179, sass/screen.scss */
.option .selector:checked ~ .select:after, .option:hover .select:after {
  background-color: #ff1200;
  right: 0;
}
/* line 184, sass/screen.scss */
.option .selector:checked ~ .select button:after, .option:hover .select button:after {
  background-color: #ff1200;
  left: 0;
  right: 0;
}
/* line 192, sass/screen.scss */
.option label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
