.builders-wrap {
    background-color: $white;

    @include bp(max-width, $bp-small) {
        padding-bottom: 75px;
        position: absolute;
        width: 100%;
        @include justify-content(center);
    }

    @include bp(min-width, $bp-small + 1) {
        width: 50%;
    }
}

article {
    overflow: hidden;
    height: 100%;
    display: none;

    @include flexbox((
        flex-direction: column,
    ));

    .header {
        background-color: $teal;
        color: $white;
        padding: 15px;
        position: relative;
        @include flex-shrink(0);

        h1 {
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 2px;
            margin: 0;
            text-transform: uppercase;
            text-align: center;

            strong {
                font-weight: 600;
            }
        }
    }

    .body {
        @include flexbox((
            display: flex,
            flex-grow: 1,
        ));
        height: 100%;
        overflow: hidden;

        &.complete + .footer {
            .builder-next {
                background-color: $white;
                color: #333;

                &:before,
                &:after {

                    background-color: #333;
                }
            }
        }
    }

    .footer {
        background-color: #333;
        width: 100%;
        padding: 10px;
        @include flex-shrink(0);

        @include bp(max-width, $bp-small) {
            display: none;
        }

        @include bp(min-width, $bp-small + 1) {

        }

        button {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: solid $white 1px;
            color: $white;
            letter-spacing: 1px;
            height: 30px;
            overflow: hidden;
            position: relative;
            font-size: 11px;
            letter-spacing: 2px;

            @include transition(all 0.2s ease-out);

            &:hover {
                background-color: $black;
                color: $white;
            }

            &:before,
            &:after {
                background-color: $white;
                content: "";
                position: absolute;
                display: block;
                height: 10px;
                width: 2px;
            }

            $angle: 50deg;
            $x: 10px;
            $y: 6px;

            &.builder-prev {
                float: left;
                padding-left: 30px;
                padding-right: 15px;

                &:before {
                    left: $x;
                    top: $y;
                    @include transform(rotate($angle));
                }

                &:after {
                    bottom: $y;
                    left: $x;
                    @include transform(rotate($angle*-1));
                }
            }

            &.builder-next {
                float: right;
                padding-right: 30px;
                padding-left: 15px;

                &:before {
                    right: $x;
                    top: $y;
                    @include transform(rotate($angle*-1));
                }

                &:after {
                    bottom: $y;
                    right: $x;
                    @include transform(rotate($angle));
                }
            }
        }
    }

    .back,
    .home {
        @include bp(max-width, $bp-small) {
            background-color: darken($teal, 20%);
            border: 0 none;
            font-weight: 300;
            height: 100%;
            letter-spacing: 2px;
            padding: 5px;
            position: absolute;
            top: 0;
            width: 40px;
            z-index: 10;

            &:before,
            &:after {
                background-color: lighten($black, 10%);
                content: "";
                position: absolute;
                width: 2px;
            }
        }

        @include bp(min-width, $bp-small + 1) {
            display: none;
        }
    }

    .back {
        @include bp(max-width, $bp-small) {
            left: 0;

            &:before,
            &:after {
                height: 15px;
                left: 18px;
            }

            &:before {
                top: 11px;
                @include transform(rotate(50deg));
            }

            &:after {
                bottom: 10px;
                @include transform(rotate(-50deg));
            }
        }
    }

    .home {
        @include bp(max-width, $bp-small) {
            right: 0;

            &:before,
            &:after {
                height: 30px;
                right: 19px;
                top: 8px;
            }

            &:before {
                @include transform(rotate(45deg));
            }

            &:after {
                @include transform(rotate(-45deg));
            }
        }
    }
}

.length-wrap {
    .body {
        overflow-y: scroll;
        @include flex-direction(column);
    }

    .notice {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .length-choice .active,
    .input,
    .ruler,
    .select {
        display: none;
    }

    .length-choices {
        @include display-flex(flex);
        @include justify-content(space-around);
        @include align-items(center);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        .length-choice {
            @include bp(max-width, $bp-small) {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            @include bp(min-width, $bp-small + 1) {
                margin-top: 20px;
                margin-bottom: 30px;
            }

            .name span {
                font-weight: 600;
                letter-spacing: 2px;
            }

            .desc {
                letter-spacing: 1px;
            }
        }

        .image {
            cursor: pointer;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            width: 100%;

            @include bp(max-width, $bp-small) {
                max-width: 75px;
            }

            @include bp(min-width, $bp-small + 1) {
                max-width: 150px;
            }

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .rulers {
        margin: 1em auto;
        max-width: 600px;
        width: 90%;

        @include bp(max-width, $bp-small) {
            display: none;
        }

        .ui-slider-horizontal {
            height: 4px;
            border: none;
            @include background-image(linear-gradient(to right, #dd0000, orange, #eeee00));
        }

        .ui-slider-handle {
            background: none;
            background-color: white;
            border-color: #898989;
            border-radius: 50%;
            border-width: 2px;
            top: -9px;
            @include box-shadow(#8c8c8c 3px 2px 3px);
        }

        .ui-slider-range {
            background-color: #999;
            background-image: none;
        }

        .ui-state-active {
            background: none;
            background-color: #ccc;
            border: white;
        }
    }

    .inputs {
        color: #777;
        margin: 0 auto;
        text-transform: uppercase;
        width: 100px;

        @include bp(max-width, $bp-small) {
            display: none;
        }

        span {
            display: block;
            font-size: 11px;
            margin-bottom: 0.5em;
            text-align: center;
        }

        label {
            float: right;
            font-size: 14px;
            margin-top: 17px;
            margin-left: 5px;
        }

        input {
            border: 1px solid #999;
            color: $black;
            font-size: 20px;
            font-weight: 900;
            letter-spacing: 1px;
            margin: 0 auto 0 17px;
            padding: 0.5em 0;
            text-align: center;
            width: 65px;
        }

        .input {
            width: 106px;
        }
    }

    .selects {
        margin: 20px 0;
        text-align: center;

        @include bp(min-width, $bp-small + 1) {
            display: none;
        }

        select {
            padding: 10px;
        }

        option {
            text-align: center;
        }
    }

    .body button {
        background-color: $teal;
        border: 0 none;
        color: $white;
        font-size: 12px;
        letter-spacing: 1px;
        padding: 10px 15px;
        width: 150px;

        @include bp(max-width, $bp-small) {
            margin: 10px auto;
        }

        @include bp(min-width, $bp-small + 1) {
            margin: 25px auto 10px;
        }
    }
}

.details-wrap {
    background-color: #e9e9e9;
    display: none;

    @include bp(max-width, $bp-small) {
        height: 100%;
        left: 0;
        padding-bottom: 75px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 20;

        .body-wrap[data-completed="true"] & {
            padding-bottom: 125px; // 75px + 50px
        }
    }

    @include bp(min-width, $bp-small + 1) {
        width: 225px;
        @include flex-shrink(0);
    }

    &.active {
        display: block;
    }
}

.details-content {
    display: none;
    height: 100%;
    position: relative;

    $small-header-height: 45px;

    @include bp(max-width, $bp-small) {
        @include justify-content(center);
        @include flex-direction(row);
        @include flex-wrap(wrap);
        overflow-y: scroll;
        padding-top: $small-header-height;

        .details-wrap.active & {
            @include display-flex;

            @include bp(max-width, $bp-small) {
                display: block;
            }
        }
    }

    @include bp(min-width, $bp-small + 1) {
        overflow-y: scroll;

        .details-wrap.active & {
            @include display-flex;
            @include flex-direction(column);
        }
    }

    .name-wrap {
        background-color: darken($yellow, 10%);
        color: $black;
        padding: 5px;
        position: relative;
        text-align: center;
        text-transform: uppercase;

        @include bp(max-width, $bp-small) {
            height: $small-header-height;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 50;

            span {
                display: block;
            }
        }

        @include bp(min-width, $bp-small + 1) {
            @include order(1);

            width: 100%;

            span {
                display: block;
            }
        }

        .manufacturer {
            display: block;
            font-weight: 300;
        }

        .model {
            font-weight: 500;
        }

        .back,
        .home {
            background-color: darken($yellow, 20%);
        }
    }

    .image-wrap {
        position: relative;
        max-width: 300px;
        @include clearfix;

        @include bp(max-width, $bp-small) {
            width: 70%;
            margin: 0 auto 10px;

            .details-wrap.hasChoices & {
                float: left;
                margin-right: auto;
            }
        }

        @include bp(min-width, $bp-small + 1) {
            @include order(2);

            padding: 5%;
            width: 100%;
        }

        img {
            @include bp(max-width, $bp-small) {
                height: auto;
                margin: 0 auto;
                width: 100%;
            }

            @include bp(min-width, $bp-small + 1) {
                height: auto;
                width: 100%;
            }
        }

        .choice {
            position: absolute;

            @include bp(max-width, $bp-small) {
                top: 0;
                left: 0;
            }

            @include bp(min-width, $bp-small + 1) {
                left: 5%;
                top: 5%;
                width: 90%;
            }
        }

        .measurement {
            background-color: rgba($black, 0.75);
            cursor: pointer;
            display: none;
            left: 0;
            padding: 5%;
            position: absolute;
            top: 0;

            &:before {
                border-width: 5px;
                border-color: $yellow;
                content: "";
                display: none;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }

            &:hover:before {
                border-style: dashed;
                display: block;
            }

            &.clicked {
                display: block;

                &:before {
                    border-style: solid;
                    content: "";
                    display: block;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        &:hover .measurement {
            display: block;
        }

        article[data-component="cable"] & {
            &:hover .measurement {
                @include display-flex;
            }

            .measurement {
                @include align-items(center);
                @include justify-content(center);
                @include flex-direction(column);
                color: $white;
                text-align: center;

                @include bp(max-width, $bp-small) {
                    height: 100%;
                    width: 100%;
                }

                @include bp(min-width, $bp-small + 1) {
                    height: 100%;
                    width: 100%;
                }

                &.clicked {
                    @include display-flex;
                }

                .spec {
                    margin-bottom: 10px;
                    position: relative;
                }

                .modal-capacitance {
                    border: 1px solid darken($white, 50%);
                    background-color: $white;
                    border-radius: 50%;
                    color: $black;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    left: -30px;
                    top: 5px;
                }

                .label {
                    display: block;
                    font-size: 12px;
                }
            }
        }

        .more-details {
            display: none !important;

            @include bp(max-width, $bp-small) {
                background-color: #999;
                border: solid 2px black;
                border-radius: 50%;
                bottom: 10px;
                height: 25px;
                left: 10px;
                padding: 5px;
                position: absolute;
                width: 25px;
                @include flexcenter;
            }

            @include bp(min-width, $bp-small + 1) {
                display: none;
            }
        }
    }

    .choice-wrap {
        background-color: #5a6d71;
        color: #efefef;

        @include bp(max-width, $bp-small) {
            float: right;
            height: 0;
            padding: 0 5px 70% 10px;
            width: 30%;

            &.empty { display: none; }
        }

        @include bp(min-width, $bp-small + 1) {
            @include order(3);

            border: 2px solid $black;
            margin: 0 5% 10px;
            padding: 0 10px;
            position: relative;
        }

        &:before {
            content: "Additional Options:";
            font-size: 10px;
            font-weight: 600;
            margin: 5px 0;
            text-transform: uppercase;
            width: 100%;
            @include display-flex;
            @include align-items(center);
        }

        &.empty {
            display: none;
        }

        div {
            // border: 2px solid #666;
            border-radius: 50%;
            cursor: pointer;

            @include bp(max-width, $bp-small) {
                float: left;
                height: 30px;
                margin: 0 10px 10px 0;
                width: 30px;
            }

            @include bp(min-width, $bp-small + 1) {
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
                padding-bottom: calc(20% - 10px);
                width: calc(20% - 10px);
            }

            &[data-choice-status="backordered"] {
                position: relative;

                &:after {
                    background-image: image-url('misc/!.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 60% auto;
                    content: "";
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }

            &[data-choice-status="unavailable"] {
                position: relative;

                &:after {
                    background-image: image-url('misc/restricted.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 80% auto;
                    content: "";
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }

        .selected {
            position: relative;

            &:before {
                border: 4px solid $white;
                border-radius: 50%;
                content: "";
                // display: none;
                height: calc(100% + 4px);
                left: -2px;
                position: absolute;
                top: -2px;
                width: calc(100% + 4px);

                .details-wrap.selected & { display: block; }
            }

            $contrast: "white" "vintage cream" "nickel" "nnn" "bnn" "ngg";
            @each $c in $contrast {
                &[data-value="#{$c}"]:before {
                    border-color: $black;
                }
            }
        }

        // Fix spacing for incomplete rows
        .blank {
            border: 0 none;
            height: 0;
            margin-bottom: 0;

            @include bp(max-width, $bp-small) {
                display: none;
            }
        }
    }

    .price-wrap {
        @include bp(max-width, $bp-small) {
            padding: 10px 0;
            @include clearfix;
            @include flexcenter;
        }

        @include bp(min-width, $bp-small + 1) {
            @include order(6);

            text-align: center;
            margin: 15px;
        }

        span {
            color: $red;
            font-size: 20px;
            font-weight: 500;

            &:before {
                content: "$";
            }

            article[data-component="cable"] &:after {
                color: #666;
                content: "/ft";
                font-size: 14px;
                font-weight: 300;
            }
        }
    }

    .backordered-wrap {
        @include bp(max-width, $bp-small) {
            clear: both;
            margin: 0 auto;
            width: 60%;
        }

        @include bp(min-width, $bp-small + 1) {
            @include order(5);

            margin: 0 5%;
            width: 90%;
        }

        background-color: $white;
        border: 2px solid $black;
        color: $red;
        display: none;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        padding: 5px;
        text-align: center;

        .details-wrap.backordered & {
            display: block;
        }

        span {
            color: $red;
            display: block;
            font-weight: 700;
        }
    }

    .select-option {
        background-color: $orange;
        border: 0 none;
        display: block;
        height: 35px;
        letter-spacing: 1px;
        outline: 2px solid darken($orange, 15%);
        padding: 10px 0;
        position: relative;
        margin: 0 auto;
        width: 150px;

        @include bp(max-width, $bp-small) {
            @include order(10);
            margin-bottom: 15px;
        }

        @include bp(min-width, $bp-small + 1) {
            margin-top: 10px;
            @include order(10);
        }

        &:after {
            color: $white;
            height: 100%;
            left: 0;
            position: absolute;
            text-transform: uppercase;
            top: 0;
            width: 100%;

            @include flex-center;
        }

        .details-wrap.selected &:after {
            background-color: $green;
            content: "Selected";
            outline: 2px solid darken($green, 25%);
        }

        .details-wrap.unavailable & {
            cursor: default;

            &:after {
                content: "Out of Stock";
                background-color: $red;
            }
        }
    }
}

.options-box {
    @include flexbox((
        display: flex,
        flex-direction: column,
        flex-grow: 1,
    ));

    height: 100%;
    min-height: 160px;
    overflow: hidden;
    position: relative;

    h2 {
        background-color: #333;
        color: $white;
        padding: 10px 50px 10px 10px;
        position: relative;
        text-transform: uppercase;
        @include flex-shrink(0);

        span {
            float: right;

            strong {
                color: $red;
            }
        }
    }
}

.options-wrap {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    @include bp(max-width, $bp-small) {
        padding: 5px;
    }

    @include bp(min-width, $bp-small + 1 ) {
        padding: 10px;
    }
}

.options {
    margin-bottom: 15px;

    @include flexbox((
        align-content: flex-start,
        display: flex,
        flex-wrap: wrap,
        justify-content: space-around,
    ));

    h3 {
        letter-spacing: 2px;
        text-transform: uppercase;
        width: 100%;
    }

    &[data-restriction="hide"] {
        display: none;
    }

    &[data-restriction="show"] {
        @include display-flex;
    }

    .options-wrap & .option[data-restriction="hide"] {
        display: none;
    }
}

.option {
    border: 1px solid #ccc;
    display: none;
    position: relative;
    max-width: 175px;
    min-width: 115px;
    overflow: hidden;
    width: 30%;

    @include bp(max-width, $bp-small) {
        margin: 5px;
    }

    @include bp(min-width, $bp-small + 1 ) {
        margin: 5px;
    }

    &:before {
        background-color: rgba(#fff, 0.75);
        cursor: default;
        display: none;
        height: 100%;
        left: 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 0;
        width: 100%;
        z-index: 10;
        @include flex-center;
    }

    &:hover {
        &:before {
            display: none;
        }

        .option-select:after {
            background-color: $white;
            color: $black;
            display: none;
            height: 100%;
            outline: 2px solid darken($green, 25%);
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            @include flexcenter;
        }

        .inner:after {
            content: "";
        }
    }

    &.blank {
        border: 0 none;
        display: block;
        margin-bottom: 0;
        margin-top: 0;

        @include order(9999 !important);
    }

    &:hover {
        .outer {
            @include display-flex;
        }
    }

    &[data-status="backordered"] {
        &:before {
            color: $black;
            content: "Backordered";
            font-size: 12px;
            font-weight: 300;
        }
    }

    &.clicked {
        outline: 3px solid $yellow;
        border-color: $yellow;

        .option-specs {
            background-color: darken($yellow, 20%);
            outline: 2px solid darken($yellow, 30%);
        }
    }

    &.selected {
        outline: 3px $green solid;
        border-color: $green;

        .option-select:after {
            @include display-flex;
        }
    }

    &.selected {
        &:before {
            background-color: rgba(lighten($green, 10%), 0.75);
            color: $white;
            content: "Selected";
            font-weight: 700;
            letter-spacing: 2px;
        }

        &:hover {
            .option-select:after {
                background-color: $green;
                color: $white;
                content: "Selected";
            }
        }
    }

    &[data-status="unavailable"] {
        &:before {
            color: #333;
            content: "Coming Soon";
            font-weight: 300;
        }

        &:hover {
            .option-select {
                cursor: default;

                &:after {
                    color: #333;
                    content: "Coming Soon";
                    font-weight: 300;
                }
            }
        }
    }

    &.restricted-cable {
        display: none !important;
    }

    .hasChoices {
        font-size: 18px;
        line-height: 0.9;
        position: absolute;
        right: 0;
        top: 0;
    }

    .outer {
        background-color: rgba($white, 0.75);
        display: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 10;

        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);

        button {
            border: 0 none;
            font-size: 13px;
            height: 30px;
            padding: 0 10px;
            position: relative;
            width: 75%;
        }
    }

    .option-specs {
        background-color: $yellow;
        color: $black;
        margin-bottom: 15px;
        outline: 2px solid darken($yellow, 10%);
    }

    .option-select {
        background-color: lighten($green, 30%);
        outline: 2px solid lighten($green, 20%);

        &:after {
            @include flexcenter;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            display: none;
        }
    }

    .image-wrap {
        height: 100%;
        width: 100%;

        img {
            height: auto;
            width: 100%;
        }
    }

    .details {
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .name {
        font-size: 10px;
        letter-spacing: 1px;
        position: absolute;
        text-transform: uppercase;
        text-align: center;
        top: 4px;
        width: 100%;

        span {
            display: block;
        }
    }

    .price {
        bottom: 10px;
        color: $red;
        font-size: 14px;
        font-weight: 800;
        left: 10px;
        position: absolute;

        &:before {
            content: '$';
        }

        .cable-wrap &:after {
            color: #bababa;
            content: 'per ft';
            display: block;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 300;
        }
    }
}

.extras-wrap {
    .body {
        overflow-y: scroll;
        padding: 15px;
        @include display-flex;
        @include flex-flow(row wrap);
        @include align-content(flex-start);

        > div {
            @include bp(max-width, $bp-small) {
                padding: 20px;
            }

            @include bp(min-width, $bp-small + 1) {
                padding: 25px;
            }
        }

        .techflex-wrap {
            @include bp(max-width, $bp-small) {
                padding: 10px 10px 20px;
            }
        }
    }

    h3 {
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 2px;
        margin-bottom: 1em;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        span {
            color: #aaa;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: lowercase;
        }

        p {
            font-size: 10px;
            font-weight: 300;
            letter-spacing: 1px;
            margin: 1em auto 0;
            text-transform: none;
        }
    }
}

.techflex-wrap {
    position: relative;
    width: 100%;
    @include flexbox((
        display: flex,
        flex-flow: row wrap,
        justify-content: center,
        align-content: flex-start,
    ));

    &:before {
        background-color: #999;
        bottom: 0;
        content: "";
        height: 1px;
        left: 5%;
        position: absolute;
        width: 90%;
    }

    &[data-enabled="true"] {
        &:after {
            display: none;
        }
    }

    &[data-enabled="false"] {
        &:after {
            position: absolute;
            content: "NO TECHFLEX FOR YOU";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($white, 0.9);
            border: solid 2px $black;
            @include flexcenter;
        }
    }

    .techflex {
        margin: 0 5px 5px;
        width: 75px;

        &.blank {
            margin-bottom: 0;
        }

        input {
            display: none;

            &:checked ~ label:before {
                background-color: $white;
                color: $black;
                content: "Selected";
            }
        }

        span {
            text-transform: uppercase;
            font-size: 14px;
            width: 100%;
            display: block;
            text-align: center;
            letter-spacing: 1px;
        }

        label {
            border: 1px solid $black;
            cursor: pointer;
            display: block;
            height: 100px;
            position: relative;
            width: 100%;

            &:before {
                font-size: 12px;
                content: "Select";
                color: $white;
                background-color: $black;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 25px;
                text-align: center;
                padding-top: 7.5px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            img {
                width: 100%;
            }

            &[for="techflex_white"] {
                img {
                    background-color: $black;
                }
            }
        }
    }
}

.tourproof-wrap,
.reverse-wrap {
    width: 50%;

    input {
        display: none;

        &:checked ~ label {
            background-position: center bottom;
        }
    }

    span {
        margin-top: 5px;
        color: #aaa;
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: lowercase;
    }

    label {
        background-image: image-url('builder/check.png');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100% auto;
        cursor: pointer;
        display: block;
        height: 20px;
        margin: 0 auto;
        width: 20px;
    }
}

.tourproof-wrap {
    position: relative;
    width: 100%;

    .body-wrap[data-cable-type="patch"] & {
        width: 50%;

        &:after {
            display: block;
        }
    }

    &:after {
        background-color: #999;
        content: "";
        display: none;
        height: 80%;
        position: absolute;
        right: 0;
        top: 10%;
        width: 1px;
    }


    .tourproof-container {
        max-width: 165px;
        margin: 0 auto;

        @include bp(max-width, $bp-small) {
            text-align: center;

            span {
                margin-top: 0;
            }

            label {
                margin-top: 5px;
            }
        }

        @include bp(min-width, $bp-small + 1) {
            padding-right: 75px;

            label {
                float: right;
            }
        }
    }

    button {
        background-color: #ccc;
        border: 1px solid #bbb;
        border-radius: 50%;
        font-size: 10px;
        font-weight: 300;
        height: 15px;
        padding-left: 2px;
        width: 15px;

        @include bp(max-width, $bp-small) {
            position: absolute;
            right: 0;
            top: 10px;
        }

        @include bp(min-width, $bp-small + 1) {
            margin-left: 5px;
            vertical-align: middle;
        }
    }
}

.reverse-wrap {
    position: relative;
    display: none;

    .body-wrap[data-cable-type="patch"] & {
        display: block;
    }
}
