.display-wrap {
    background-image: image-url('background.jpg');
    overflow: hidden;
    position: relative;
    height: 100%;

    @include bp(max-width, $bp-small) {
        @include justify-content(center);
        width: 100%;
    }

    @include bp(min-width, $bp-small + 1) {
        // width: 50%;
    }

    @include flexbox((
        flex-grow: 1,
        flex-basis: 1
    ));

    .images {
        position: absolute;

        @include bp(max-width, $bp-small) {
            margin-top: -20px;
        }

        .input,
        .output {
            position: absolute;
        }

        .input {
            @include transform(scaleX(-1));
        }

        .cable {
            height: 100%;
            width: 100%;
        }

        .input-boot-image,
        .output-boot-image {
            height: auto;
            position: absolute;
            right: 7%;
            top: 2px;
            width: (100% * (50/180));
        }

        img {
            height: 100%;
            width: 100%;
        }

        [data-cable-type="patch"] & {
            .cable img {
                height: auto;
            }

            .input {
                // @include transform(scaleX(-1) rotate(-31.6075deg))
                @include transform(scaleX(-1) rotate(-37.5685deg))
            }

            .output {
                @include transform(rotate(-38.5685deg))
            }
        }
    }

    .overview {
        position: absolute;
        text-align: center;
        text-transform: uppercase;

        @include bp(max-width, $bp-small) {
            bottom: 140px;
            left: 5%;
            right: 5%;
        }

        @include bp(min-width, $bp-small + 1) {
            bottom: 15%;
            left: 10%;
            right: 10%;
        }

        span {
            cursor: default;
            font-size: 12px;
            font-weight: lighter;
        }

        div {
            margin-bottom: 3px;
        }
    }

    .techflex-window {
        border: solid 2px $black;
        border-radius: 50%;
        display: none;
        position: absolute;
        overflow: hidden;

        .body-wrap[data-cable-type="patch"] & {
            left: 25px;
            top: 30px;
            height: 50px;
            width: 50px;
        }

        .body-wrap[data-cable-type="instrument"] & {
            left: -10px;
            bottom: 105px;
            height: 75px;
            width: 75px;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }

    .price-wrap {
        color: $red;
        font-size: 24px;
        font-weight: 700;
        position: absolute;
        width: 100%;
        text-align: center;

        @include bp(max-width, $bp-small) {
            bottom: 90px;
        }

        @include bp(min-width, $bp-small + 1) {
            bottom: 7.5%;
        }
    }
}


