@import "builder/filters";
@import "builder/lengths";

#body {
    // &.regular {
    //     .other.reverse_plugs {
    //         display: none;
    //     }
    // }

    // &.patch {
    //     &.reverse_plugs {
    //         .display .inputPlug {
    //             @include transform(rotate(90deg) scaleX(1));

    //             .plug {
    //                 position: relative;
    //                 left: -72px;
    //                 top: 71px;
    //             }
    //         }
    //     }
    // }

    &.expanded .builders {
        width: 80%;
    }
}

.builders {
    @include align-self(center);
    @include transition(all 0.3s ease-out);
    position: relative;
    z-index: 2;
    margin-left: 0;

    // @include bp(max-width, $bp-small) {
    //     height: 50%;
    //     margin: 0 auto;
    //     width: 100%;
    // }

    // @include bp(min-width, $bp-small + 1) {
        height: 80%;
        padding-right: 65px;
        width: 50%;
    // }

    .options .outer {
        width: 95%;
    }
}

.slimScrollDiv {
    padding-bottom: 56px;
    height: 90% !important;
}

.cableTypes {
    @include display-flex(flex);
    @include flex-direction(row);
    @include justify-content(space-around);
    text-align: center;
    display: none;

    .tab {
        @include flex-grow(1);
        cursor: pointer;
        padding: 0.5em 0;
        border: 2px solid #ccc;
        border-bottom: none;
        background-color: #676767;
        color: white;
        border-radius: 15px 15px 0 0;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;

        &:not(:first-child) {
            border-left: none;
        }

        &.selected {
            background-color: #050505;
        }
    }
}

.builder {
    background: #fdfdfd;
    border: solid 1px black;
    border-top: none;
    display: none;
    position: relative;
    z-index: 10;

    &, & > li {
        height: 100%;
    }

    &.selected {
        display: block;
    }

    > li {
        display: none;
        overflow: hidden;

        &.current {
            display: block;
        }
    }

    button.expand {
        width: 30px;
        height: 30px;
        background-color: white;
        position: absolute;
        left: -31px;
        top: 50%;
        border: solid 1px black;
        border-right: 0;

        &:after {
            position: absolute;
            left: 9px;
            top: 8px;
            display: block;
            content: "";
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-right: 10px solid black;
            border-left: none;
            @include transition(all 0.3s ease-out);
        }

        #body.expanded &:after {
            left: 10px;
            @include transform(rotate(180deg));
        }
    }
}

li.other {
    .options {
        padding: 2em;
        max-width: 600px;
        margin: 0 auto;

        .other {
                display: block;
                margin: 1em auto;
                cursor: default;

            &.other h3 {
                margin: 0;
            }

            &:not(:last-child) {
                border-bottom: 1px solid black;
            }

            &.techflex {
                width: 100%;
                @include display-flex(flex);
                @include justify-content(center);
            }

            &.heatshrink, &.reverse_plugs {
                width: 50%;
            }

            &.quantity {
                width: 100%;

                input {
                    width: 50px;
                    padding: 1em;
                    text-align: center;
                    border: solid 1px #333;
                    background-color: white;
                    display: block;
                    margin: 0.5em auto 0;
                }
            }
        }
    }
    

    .option.techflex {
        height: 100px;
        min-width: auto;
        width: 75px;

        .reset {
            display: none;
        }

        input {
            display: none;
        }

        input[value="white"] + label:before {
            background-image: url('http://placehold.it/75/fff/fff');
        }

        input[value="black"] + label:before {
            background-image: url('http://placehold.it/75/000/000');
        }

        input[value="gray"] + label:before {
            background-image: url('http://placehold.it/75/aaa/aaa');
        }

        input + label:after {
            background-image: url('http://placehold.it/75x25/000/5adedc')
        }

        input:checked + label:after {
            background-image: url('http://placehold.it/75x25/5adedc/000');
        }

        label {
            position: relative;
            width: 75px;
            height: 100px;
            display: block;

            &:after, &:before {
                cursor: pointer;
                position: absolute;
                content: "";
                width: 75px;
                display: block;
                left: 0;
            }

            &:after {
                height: 25px;
                bottom: 0;
            }

            &:before {
                height: 75px;
                top: 0;
            }
        }
    }
}

.options {
    overflow-y: scroll;
    height: 90%;
    position: relative;
    z-index: 2;
    
    .outer {
        @include display-flex(flex);
        @include flex-direction(row);
        @include flex-wrap(wrap);
        margin: auto;

        h3 {
            width: 100%;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 2px;
            font-size: 18px;
            margin: 1.5em 1.5em 0.5em;
            text-align: center;

            span {
                display: block;
                margin-top: 1em;
                font-size: 11px;
                font-weight: 300;
                color: #535353;
                text-transform: lowercase;
            }
        }
    }

    &.active {
        .option {
            .image:before {
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;
                content: "";
                background-color: rgba(0, 0, 0, 0.225);
            }
            
            &.selected {
                .image:before {
                    background-color: transparent;
                }

                .inner .select {
                    .picked {
                        display: block;
                    }

                    .pickme {
                        display: none;
                    }
                }
            }
        }
    }
}

.option {
    cursor: pointer;
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    z-index: 2;

    @include bp(max-width, $bp-small) {
        margin: 1em auto;
    }

    .inner div {
        height: 30px;
        @include display-flex(flex);
        @include align-items(center);
        @include justify-content(center);
    }
    
    .info {
        @include transition(top 0.25s ease-in-out);
        background-color: rgba(0,0,0,0.75);
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: 100%;
        z-index: 30;

        @include display-flex(flex);
        @include flex-direction(column);

        ul {
            text-align: left;
            padding: 10px 0 0 10px;

            li.title {
                font-size: 12px;
                font-weight: bold;
                border: solid 1px white;
                padding: 3px;
                margin-bottom: 3px;
                display: inline-block;
                color: #eee;
            }

            li {
                margin-bottom: 1px;
                em {
                    color: #92d9f3;
                    font-style: none;
                }
            }

            .capacitance:after {
                content: " pf/ft";
                font-size: 7px;
            }
        }

        button.more {
            background: none;
            border: none;
            bottom: 5px;
            left: 0;
            right: 0;
            position: absolute;
            width: 50%;
            margin: 0 auto;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.cable {
        .price span {
            &:after {
                content: "/ft";
                font-size: 8px;
                font-weight: 300;
            }
        }
    }

    // specs open
    &.specs .info {
        top: 0;
    }

    .image {
        overflow: hidden;
        position: relative;

        img {
            height: auto;
            width: 100%;
        }

        .overlay {
            position: absolute;
            top: -2px;
            width: 102%;
            left: -2.5px;
        }

        .colors, .boots {
            position: absolute;
            z-index: 20;
            bottom: 5px;
            left: 5px;
            top: 0;
            width: 10px;

            @include display-flex(flex);
            @include flex-direction(column);
            @include justify-content(flex-end);

            div {
                width: 10px;
                margin: 3px;
                height: 10px;
                cursor: pointer;
                border-radius: 50%;
            }

            .red {
                background-color: #e90d2f;
            }

            .orange {
                background-color: #ff864f;
            }

            .yellow {
                background-color: #fcf86c;
                border: solid 1px #ccc;
                width: 11px;
                height: 11px;
            }

            .green {
                background-color: #25c265;
            }

            .violet {
                background-color: #6154ba;
            }

            .black {
                background-color: #000;
            }

            .gray {
                background-color: #999da3;
            }

            .white {
                background-color: #fff;
                border: solid 1px #aeaeae;
                width: 11px;
                height: 11px;
            }

            .gold {
                background-color: #fff282;
                border: solid 1px #bbb;
                width: 11px;
                height: 11px;
            }

            .nickel {
                background-color: #dce4f5;
            }
        }
    }

    .name {
        background-color: #555;
        padding: 0 8px;
    }

    .price {
        background-color: #af9757;
        font-weight: bolder;
        font-size: 14px;

        span:before {
            content: '$';
        }
    }

    .specs {
        background-color: #6f9dbe;
    }

    .select {
        background-color: #ff1200;

        cursor: pointer;

        button {
            background: none;
            border: none;
            text-transform: inherit;

            &:before, &:after {
                position: absolute;
                content: "";
                height: 6px;
                background-color: transparent;
                bottom: 0;
            }

            &:before {
                top: 0;
            }

            &:after {
                bottom: 0;
            }

            .pickme {
                display: block;
            }

            .picked {
                display: none;
            }
        }
    }

    .selector {
        display: none;
    }

    .select:after, .select:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 6px;
        background-color: transparent;
        top: 0;
    }

    .selector:checked ~ .inner .select:before, &:hover .select:before {
        background-color: #ff1200;
        left: 0;
        z-index: 30;
    }

    .selector:checked ~ .inner .select:after, &:hover .select:after {
        background-color: #ff1200;
        right: 0;
        z-index: 30;
    }

    .selector:checked ~ .inner .select button:after, &:hover .select button:after, .selector:checked ~ .inner .select button:before, &:hover .select button:before {
        background-color: #ff1200;
        left: 0;
        right: 0;
        z-index: 30;
    }
}

.step {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background-color: #444;
    z-index: 100;
    
    button {
        color: white;
        border: solid 1px white;
        text-transform: uppercase;
        background: none;
        padding: 0.5em 2.5em;
        overflow: hidden;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        position: relative;

        &:before, &:after {
            content: "";
            position: absolute;
            display: block;
            height: 0;
            width: 0;
            top: 7px;
        }

        $step-width: 5px;
        $step-height: 7px;

        &.previous {
            float: left;

            &:before {
                left: 5px;
                border-top: $step-width solid transparent;
                border-bottom: $step-width solid transparent;
                border-right: $step-height solid white;
                border-left: none;
            }

            &:after {
                left: 10px;
                border-top: $step-width solid transparent;
                border-bottom: $step-width solid transparent;
                border-right: 2px solid #444;
                border-left: none;
            }
        }

        &.next {
            float: right;

            &:before {
                right: 5px;
                border-top: $step-width solid transparent;
                border-bottom: $step-width solid transparent;
                border-left: $step-height solid white;
                border-right: none;
            }

            &:after {
                right: 10px;
                border-top: $step-width solid transparent;
                border-bottom: $step-width solid transparent;
                border-left: 2px solid #444;
                border-right: none;
            }
        }
    }
}

@include bp(max-width, $bp-small) {
    .options {
        width: 105%;
        .outer {
            padding-top: 40px;
            position: relative;

            h3 {
                position: absolute;
                height: 15px;
                top: 0;
                left: 0;
            }
        }
    }
    .option {
        @include display-flex(flex);
        @include flex-direction(row);
        width: 90%;
        height: 100px;
        max-width: 250px;

        div {
            &.image {
                width: 40%;
                height: 100%;
            }
            &.inner {
                width: 60%;
                height: 100%;
            }
            div {
                height: 50%;
            }
        }

        .image {
            max-height: 100%;
            position: relative;

            img {
                height: 100%;
                width: auto;
            }
        }

        .name {
            width: 100%;
            padding: 10px;
        }

        .price, .select {
            width: 50%;
        }
        .price {
            float: left;
        }
        .select {
            float: right;
        }

        .specs {
            span {
                display: none;
            }

            width: 15px;
            position: absolute;
            left: 0;
            height: 100%;
            top: 0;

            &.open {
                width: 70%;
            }
        }

        .select:before, .select:after {
            width: 3px;
        }
        .select button:before, .select button:after {
            height: 3px;
        }
    }
}

.introduction {
    width: calc(100% - 65px);
    height: 100%;
    position: absolute;
    z-index: 99;
    background-color: white;
    @include display-flex(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    letter-spacing: 1px;
    text-align: center;
    border: solid 2px black;
    cursor: pointer;

    h1 {
        text-transform: uppercase;
        font-size: 20px;
    }

    button {
        background-color: #fe531f;
        color: white;
        padding: 0.5em 1em;
        border: none;

        &:active, &:focus {
            background-color: white;
            color: #fe531f;
            border: #fe531f solid 2px;
        }
    }

}
