@import "builder/filters";
@import "builder/lengths";
@import "builder/options";

.builders {
    @include align-self(center);
    @include transition(all 0.3s ease-out);
    height: 80%;
    margin-left: 0;
    padding-right: 65px;
    position: relative;
    width: 50%;
    z-index: 2;

    .options .outer {
        width: 95%;
    }
}

.slimScrollDiv {
    padding-bottom: 66px;
    height: 90% !important;
}

.cableTypes {
    @include display-flex(flex);
    @include flex-direction(row);
    @include justify-content(space-around);
    text-align: center;
    display: none;

    .tab {
        @include flex-grow(1);
        cursor: pointer;
        padding: 0.5em 0;
        border: 2px solid #ccc;
        border-bottom: none;
        background-color: #676767;
        color: white;
        border-radius: 15px 15px 0 0;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;

        &:not(:first-child) {
            border-left: none;
        }

        &.selected {
            background-color: #050505;
        }
    }
}

.builder {
    background: #fdfdfd;
    border: solid 1px #ccc;
    display: none;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 10px 1px #ccc;

    &, & > li {
        height: 100%;
    }

    &.selected {
        display: block;
    }

    > li {
        display: none;
        overflow: hidden;

        &.current {
            display: block;
        }

        @include bp(max-width, 1050px) {
            &.other .options .other.outer {
                width: 100%;

                &:before {
                    background-color: transparent;
                }
            }
        }
    }

    button.expand {
        width: 44px;
        height: 62px;
        background: url($media-folder + 'builder/expand.png') no-repeat scroll center center / 100% auto transparent;
        position: absolute;
        left: -38px;
        top: 50%;
        border: 0;

        &:after {
            position: absolute;
            left: 24px;
            top: 24px;
            display: block;
            content: "";
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-right: 10px solid black;
            border-left: none;
            @include transition(all 0.3s ease-out);
        }

        #body.expanded &:after {
            left: 26px;
            background-image: url($media-folder + 'builder/collapse.png');
            @include transform(rotate(180deg));
        }
    }
}

.step {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background-color: #262626;
    z-index: 100;
    
    button {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 1px solid white;
        color: white;
        font-size: 10px;
        font-weight: 800;
        letter-spacing: 1.5px;
        overflow: hidden;
        padding: 1.1em 2.5em;
        position: relative;
        text-transform: uppercase;

        &:before {
            background-repeat: no-repeat;
            background-size: 100% auto;
            content: "";
            position: absolute;
            display: block;
            height: 12px;
            width: 7px;
            top: 11px;
        }

        $step-width: 5px;
        $step-height: 7px;

        &.previous {
            float: left;

            &:before {
                background-image: url($media-folder + 'builder/step/arrow.png');
                left: 9px;
                @include transform(scaleX(-1));
            }
        }

        &.next {
            float: right;

            &:before {
                background-image: url($media-folder + 'builder/step/arrow.png');
                right: 9px;
            }
        }
    }
}

/**
 * Media Queries
 */
@include bpw(650px, 761px) {
    .slimScrollDiv {
        padding-bottom: 48px;
    }
    .step {
        padding: 0.5em;

        button {
            padding: 1em 1.5em;
        }
    }
}
@include bp(max-width, 649px) {
    .slimScrollDiv {
        padding-bottom: 22px;
    }
    .step {
        padding: 0.25em;

        button {
            padding: 0.1em;
            &:before {background: none;}
        }
    }
}