@import "builder/filters";
@import "builder/lengths";
@import "builder/options";

.builders {
    @include align-self(center);
    @include transition(all 0.3s ease-out);
    position: relative;
    z-index: 2;
    margin-left: 0;

    // @include bp(max-width, $bp-small) {
    //     height: 50%;
    //     margin: 0 auto;
    //     width: 100%;
    // }

    // @include bp(min-width, $bp-small + 1) {
        height: 80%;
        padding-right: 65px;
        width: 50%;
    // }

    .options .outer {
        width: 95%;
    }
}

.slimScrollDiv {
    padding-bottom: 66px;
    height: 90% !important;
}

.cableTypes {
    @include display-flex(flex);
    @include flex-direction(row);
    @include justify-content(space-around);
    text-align: center;
    display: none;

    .tab {
        @include flex-grow(1);
        cursor: pointer;
        padding: 0.5em 0;
        border: 2px solid #ccc;
        border-bottom: none;
        background-color: #676767;
        color: white;
        border-radius: 15px 15px 0 0;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;

        &:not(:first-child) {
            border-left: none;
        }

        &.selected {
            background-color: #050505;
        }
    }
}

.builder {
    background: #fdfdfd;
    border: solid 1px #ccc;
    display: none;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 10px 1px #ccc;

    &, & > li {
        height: 100%;
    }

    &.selected {
        display: block;
    }

    > li {
        display: none;
        overflow: hidden;

        &.current {
            display: block;
        }
    }

    button.expand {
        width: 30px;
        height: 30px;
        background-color: white;
        position: absolute;
        left: -31px;
        top: 50%;
        border: solid 1px #ccc;
        border-right: 0;

        &:after {
            position: absolute;
            left: 9px;
            top: 8px;
            display: block;
            content: "";
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-right: 10px solid black;
            border-left: none;
            @include transition(all 0.3s ease-out);
        }

        #body.expanded &:after {
            left: 10px;
            @include transform(rotate(180deg));
        }
    }
}

.step {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background-color: #262626;
    z-index: 100;
    
    button {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 1px solid white;
        color: white;
        font-size: 10px;
        font-weight: 800;
        letter-spacing: 1.5px;
        overflow: hidden;
        padding: 1.1em 2.5em;
        position: relative;
        text-transform: uppercase;

        &:before, &:after {
            content: "";
            position: absolute;
            display: block;
            height: 0;
            width: 0;
            top: 11px;
        }

        $step-width: 5px;
        $step-height: 7px;

        &.previous {
            float: left;

            &:before {
                left: 5px;
                border-top: $step-width solid transparent;
                border-bottom: $step-width solid transparent;
                border-right: $step-height solid white;
                border-left: none;
            }

            &:after {
                left: 10px;
                border-top: $step-width solid transparent;
                border-bottom: $step-width solid transparent;
                border-right: 2px solid #444;
                border-left: none;
            }
        }

        &.next {
            float: right;

            &:before {
                right: 5px;
                border-top: $step-width solid transparent;
                border-bottom: $step-width solid transparent;
                border-left: $step-height solid white;
                border-right: none;
            }

            &:after {
                right: 10px;
                border-top: $step-width solid transparent;
                border-bottom: $step-width solid transparent;
                border-left: 2px solid #444;
                border-right: none;
            }
        }
    }
}

#production {
    &:before {
        content: "";
        background-color: white;
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 0;
        opacity: 0;
        @include transition(opacity 1s ease, z-index 1s step-end);
    }

    .builders {
        @include transition(z-index 1s step-end);
    }

    &.introduction {
        &:before {
            z-index: 200;
            opacity: 1;
            @include transition(all 0s step-start);
        }

        .builders {
            @include transition(z-index 0s step-start);
            z-index: 201;
        }
    }

    .introduction {
        @include display-flex(flex);
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);
        background-color: white;
        border: solid 2px black;
        cursor: pointer;
        height: 100%;
        letter-spacing: 1px;
        position: absolute;
        text-align: center;
        width: calc(100% - 65px);
        z-index: 99;

        h1 {
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 900;
            margin-bottom: 2em;
        }

        h2 {
            font-style: italic;
            margin: 1.5em 0 2.5em;
        }

        p {
            font-size: 12px;
            line-height: 15px;
            margin: 1em auto;
            width: 60%;
        }

        button {
            background-color: #ff1300;
            border: none;
            color: white;
            font-size: 12px;
            font-weight: 700;
            padding: 1em 3.5em;

            &:active, &:focus {
                background-color: white;
                color: #ff1300;
                border: #ff1300 solid 2px;
            }
        }
    }
}