.display {
    @include display-flex(flex);
    @include align-items(center);
    @include justify-content(center);
    @include transition(width 0.3s ease-out, opacity 0.3s ease-in);

    position: relative;
    z-index: 1;
    padding-left: 125px;
    opacity: 1;

    @include bp(max-width, $bp-small) {
        height: 50%;
        margin: 0 auto;
        width: 100%;
    }

    @include bp(min-width, $bp-small + 1 ) {
        width: 50%;
        height: 100%;
    }

    .outer {
        @include display-flex(flex);
        @include align-items(center);
        @include justify-content(center);
        width: 80%;
        height: 80%;
        margin-bottom: 100px;

        .inner {
            position: relative;
            width: 100%;
            height: 100%;


            @include bp(max-width, $bp-small) {
                max-width: 250px;
                max-height: 250px;
            }

            @include bpw($bp-small + 1, $bp-medium) {
                max-width: 170px;
                max-height: 170px;
            }

            @include bpw($bp-medium + 1, $bp-large) {
                max-width: 280px;
                max-height: 280px;
            }

            @include bpw($bp-large + 1, $bp-xlarge) {
                max-width: 350px;
                max-height: 350px;
            }

            @include bp(min-width, $bp-xlarge + 1) {
                max-height: 500px;
                max-width: 500px;
            }

            @include bp(max-height, 450px) {
                max-width: 250px;
                max-height: 250px;
            }

            div {
                position: relative;

                &:not(.cable) {
                    position: absolute;
                }
            }
        }
    }

    .cable {
        width: 100%;
        // height: 100%;
        margin: 0 auto;
        position: relative;
    }
    .inputPlug, .outputPlug {
        .plug {
            height: 300px;
            max-width: 180px;
        }
        .boot {
            position: absolute;
        }
    }

    .inputPlug {
        // Mirror
        @include transform(scaleX(-1));
        .boot {
        }
    }

    .outputPlug {
        .boot {
        }
    }
}

.body {
    &.patch {
        .display {
            .cable > img {
                max-height: 100%;
                max-width: 100%;
                margin: 0 auto;
            }

            .inner {
                height: 20%;
                width: 70%;
            }
        }
    }

    &.regular {
        .display {
            .cable > img {
                height: 100%;
                width: 100%;
                margin: 0 auto;
            }
            .inner {
                height: 70%;
            }
        }
    }
}

.body.patch {
    .display {
        .inner {
            max-width: 400px;
        }
        .inputPlug, .outputPlug {
            img {
                // triangles 8-11-sqrt(185) and 9-12-15
                // triangles made from pixel distances from dot to dot in patch image
                // angle of rotation roughly a little more than 36
                @include transform(rotate(-36deg));
            }
        }
    }
}

.body.delay {
    .inputPlug, .outputPlug {
        img {
            @include transition(all 2s 2s ease);
        }
    }
}

.body.expanded .display {
    @include transition(opacity 0.15s ease-out);
    width: 0;
    opacity: 0;
}