@include bp(max-height, 600px) {
    .storage {
        display: none !important;
    }

    .display {
        padding-left: 0;
    }
}

.storage-container {
    @include display-flex(flex);
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(center);
    left: 10px;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 100;
}

div.storage {
    @include display-flex(flex);
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(center);
    background-color: #ddd;
    padding: 10px;

    .builds {
        @include display-flex(flex);
        @include flex-direction(column);
    }


    .build {
        position: relative;
        cursor: pointer;
        border-bottom: solid 1px black;
        order: 99;

        &:last-child {
            border-bottom: none;
        }

        input[name="storage_build"]:checked + .identifier {
            background-color: #ccc;
        }

        input[type="radio"] {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
            visibility: hidden;
        }

        &.current .identifier {
            // background-color: limegreen !important;
        }

        .identifier {
            @include display-flex(flex);
            @include align-items(center);
            @include flex-direction(column);
            @include justify-content(center);
            position: relative;
            width: 80px;
            height: 80px;
            z-index: 2;

            p {
                font-weight:  700;
                &.id {
                    font-size: 16px;
                    font-weight:  800;
                }

                &.type {
                    text-transform: uppercase;
                    font-size: 10px;
                    margin: 7px;
                }

                &.price {
                    color: #cf2700;
                    font-size: 12px;
                    &:before {
                        content: '$';
                    }
                }
            }
        }

        .information {
            @include transition(width 0.3s ease-in-out);
            background-color: #ccc;
            position: absolute;
            left: 0;
            top: 0;
            bottom: -2px;
            width: 0;
            overflow: hidden;

            p {
                font-size: 10px;
                margin: 5px 0;
                span {
                    text-transform: lowercase;
                    width: 80px;
                    text-align: right;
                    display: inline-block;
                    margin-right: 2px;
                }
                em {
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-style: normal;
                }
            }
        }

        .information p {
            width: 380px;
            padding-left: 80px;
        }
        &:hover .information {
            padding-left: 80px;
            width: 380px;

            p{
                padding-left: 0;
            }
        }
    }

    .buttons {
        @include display-flex(flex);
        @include flex-direction(column);
        width: 100%;
        margin-top: 10px;
        button {
            @include transition(opacity 0.1s ease);
            border: none;
            height: 30px;
            letter-spacing: 1px;
            font-size: 9px;
            font-weight: bolder;
            opacity: 1;
            text-transform: uppercase;
            width: 100%;
        }
        button:hover {
            opacity: 0.85;
        }
        button:active {
            opacity: 1;
        }
        button:nth-child(1) {
            background-color: white;
            color: black;
            &:active {
                color: white;
                background-color: black;
            }
        }
        button:nth-child(2) {
            background-color: #838383;
            color: white;
            &:active {
                color: #838383;
                border: solid 1px #838383;
                background-color: white;
            }
        }
        button:nth-child(3) {
            background-color: #4c4c4c;
            color: white;
            &:active {
                color: #4c4c4c;
                border: solid 1px #4c4c4c;
                background-color: white;
            }
        }
        button:nth-child(4) {
            background-color: #fe531f;
            color: white;
            &:active {
                color: #fe531f;
                border: solid 1px #fe531f;
                background-color: white;
            }
        }
    }
}

@include bp(max-width, $bp-small) {
    .storage {
        height: 100px;
        width: 100%;

        @include flex-direction(row);

        .buttons {
            button {
                display: block;
            }
        }
    }
}