// =============================================
// Primary Break Points
// =============================================
$bp-xsmall: 479px;
// $bp-small: 599px;
$bp-small: 699px;
$bp-medium: 770px;
$bp-large: 979px;
$bp-xlarge: 1199px;

$media-folder: "../images/";

$techflex-colors: 'white' 'gray' 'black' 'aqua' 'red' 'purple' 'green';

$header-height: 45px;
$footer-height: 50px;

$red: #ed1100;
$yellow: #f5dd88;
$green: #65b83c;
$teal: #2ca4ba;
$black: #000;
$white: #fff;
$orange: #e7712a;
$brown: #b48d3b;

$builder-bg: #f9f9f9;
$storage-bg: #191919;
$tracker-bg: #444;
$details-bg: #f17e1e;

$sections: 'introduction' 'production' 'confirmation';
$steps: 'length' 'cable' 'input' 'output' 'extras';
$cable-types: 'patch' 'instrument' 'speaker' 'xlr';
