.builder-wrap {
    background-color: #eee;
    height: 100%;
    width: 100%;

    @include bp(max-width, $bp) {
        position: absolute;
        height: 100%;
        z-index: 10;
        bottom: 0;
        max-height: 0;
        overflow: hidden;
        @include transition(max-height 0.5s ease);

        &[data-builder-visible="open"] {
            max-height: 100%;
        }
    }

    @include bp(min-width, $bp + 1) {
        width: $width-right;
        position: relative;
        float: right;
    }
}

.header {
    $bgc: #6aaeaf;
    background-color: $bgc;
    height: $header-height;
    width: 100%;

    .previous {
        float: left;

        // &:after { @include triangle('left', 10px); }
    }

    .collapse {
        float: right;

        // &:after { @include triangle('down', 10px); }
    }

    button {
        border: 0;
        position: relative;
    }

    h1 {
        @include display-flex;
        @include align-items(center);
        @include justify-content(center);
        color: $white;
        cursor: default;
        height: 100%;
        margin: 0;
        text-align: center;
        text-transform: uppercase;

        strong {
            display: inline-block;
            margin-left: 5px;
        }
    }

    @include bp(max-width, $bp) {
        button {
            background-color: darken($bgc, 10);
            height: 100%;
            width: 40px;
        }

        .previous:after {
            right: 18px;
            top: 15px;
        }

        .collapse:after {
            right: 9px;
            top: 20px;
        }
    }

    @include bp(min-width, $bp + 1) {
        button {
            background-color: transparent;
            height: $header-height / 2;
            width: $header-height / 2;
        }

        .collapse {
            display: none;
        }
    }
}

.builder-container {
    height: 100%;

    @include bp(max-width, $bp) {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    @include bp(min-width, $bp + 1) {
        float: left;
        width: 100%;
        overflow: hidden;
    }
}

.builder-next {
    width: 100%;
    height: 0;
    border: 0;
    background-color: lightgreen;
    color: $white;
    position: absolute;
    bottom: 0;
    left: 0;

    @include transition(height 0.25s ease);

    [data-component-status="complete"] & {
        height: $next-height;
    }
}

.builder {
    height: 100%;
    width: 100%;

    $components: (
        "length": 1,
        "cable": 2,
        "input": 3,
        "output": 4,
        "other": 5,
    );

    @each $c, $n in $components {
        &[data-active-component="#{$c}"] article {
            left: #{($n - 1) * -20%};
        }
    }

    article {
        float: left;
        left: 0;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;

        display: none;
        &.current {display: block;}

        @include transition(left 0.5s ease);

        &.length {
            @import "builder/length";
        }

        &.other {
            // @import "builder/other";
        }
    }
}

.options-container {
    background-color: $builder-bg;
    position: relative;
    overflow: hidden;

    .active {
        display: none;

        &:checked ~ .options {
            .selector:checked + .inner .select {
                background-color: rgba(127,255,212,1);
            }
        }
    }

    @include bp(max-width, $bp) {
        height: calc(100% - #{$header-height});
        padding-bottom: 0;
        width: 100%;

        @include transition(padding-bottom 0.25s ease);

        [data-component-status="complete"] & {
            padding-bottom: $next-height;
        }
    }

    @include bp(min-width, $bp + 1) {
        height: calc(100% - #{$header-height});

        @include transition(height 0.25s ease);

        [data-component-status="complete"] & {
            height: calc(100% - #{$header-height + $next-height});
        }
    }
}

.options-wrap {
    overflow-y: scroll;
    height: 100%;
}

.options {
    @include display-flex;
    @include flex-flow(row wrap);

    h2 {
        display: block;
        text-transform: uppercase;
        width: 100%;
    }

    .option {
        position: relative;
        cursor: pointer;
        text-align: center;
        overflow: hidden;

        // &:hover .details {
        //     border: solid 3px red;
        // }

        &[data-option-only-patch] {
            display: none;

            [data-current-length-type="patch"] & {
                display: block;
            }
        }

        &[data-status="unavailable"] {
            &:after {
                background-color: rgba($black, 0.9);
                cursor: default;
                width: 100%;
                height: 100%;
                position: absolute;
                content: "";
                left: 0;
                top: 0;
            }
        }

        .selector {
            display: none;

            &:checked + div .details {
                border: solid $red 5px;
            }
        }

        img {
            width: 100%;
            height: auto;
        }

        .details {
            // background-color: rgba($white, 0.75);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        .name {
            color: #666;
            background-color: $white;
            text-transform: uppercase;
            width: 100%;
            font-size: 14px;
            margin: 10px 0;
            padding-bottom: 5px;
            display: block;

            [data-component="input"] & {
                display: none;
            }

            span,
            strong {
                display: block;
            }
        }

        .price {
            color: #ef0000;
            // display: block;
            font-size: 12px;
            font-weight: 900;
            // width: 100%;
            margin: 10px 0;
            position: absolute;
            right: 15px;
            bottom: 15px;

            .cable &:after {
                content: "per ft";
                color: #666;
                display: block;
                font-size: 10px;
                text-transform: uppercase;
                font-weight: 300;
            }

            &:before {
                content: "$";
            }
        }

        .choice {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .select {
            display: none;
            background-color: transparent;
            border: 2px solid rgba(50, 50, 50, 0.5);
            border-radius: 50%;
            height: 30px;
            margin: 0 auto;
            width: 30px;
        }

        &:hover {
            .select {
                background-color: rgba(75, 75, 75, 0.5);
            }
        }

        @include bp(max-width, $bp) {
            @include flex(0 1 (100% / 3));
        }

        @include bp(min-width, $bp + 1) {
            @include flex(0 1 22.5%);
            margin: 5px 1%;
        }
    }
}
