@font-face {
    font-family: 'Garamond';
    src: url('fonts/GaramondPro/BoldItalic/garamondpro-bolditalic.eot');
    src: url('fonts/GaramondPro/BoldItalic/garamondpro-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/GaramondPro/BoldItalic/garamondpro-bolditalic.woff') format('woff'),
         url('fonts/GaramondPro/BoldItalic/garamondpro-bolditalic.ttf') format('truetype'),
         url('fonts/GaramondPro/BoldItalic/garamondpro-bolditalic.svg#AdobeGaramondProBoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Garamond';
    src: url('fonts/GaramondPro/Bold/garamondpro-bold.eot');
    src: url('fonts/GaramondPro/Bold/garamondpro-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/GaramondPro/Bold/garamondpro-bold.woff') format('woff'),
         url('fonts/GaramondPro/Bold/garamondpro-bold.ttf') format('truetype'),
         url('fonts/GaramondPro/Bold/garamondpro-bold.svg#AdobeGaramondProBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond';
    src: url('fonts/GaramondPro/Italic/garamondpro-italic.eot');
    src: url('fonts/GaramondPro/Italic/garamondpro-italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/GaramondPro/Italic/garamondpro-italic.woff') format('woff'),
         url('fonts/GaramondPro/Italic/garamondpro-italic.ttf') format('truetype'),
         url('fonts/GaramondPro/Italic/garamondpro-italic.svg#AdobeGaramondProItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Garamond';
    src: url('fonts/GaramondPro/Regular/garamondpro-regular.eot');
    src: url('fonts/GaramondPro/Regular/garamondpro-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/GaramondPro/Regular/garamondpro-regular.woff') format('woff'),
         url('fonts/GaramondPro/Regular/garamondpro-regular.ttf') format('truetype'),
         url('fonts/GaramondPro/Regular/garamondpro-regular.svg#AdobeGaramondProRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd/Black/avenir-black.eot');
    src: url('fonts/AvenirLTStd/Black/avenir-black.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirLTStd/Black/avenir-black.woff') format('woff'),
         url('fonts/AvenirLTStd/Black/avenir-black.ttf') format('truetype'),
         url('fonts/AvenirLTStd/Black/avenir-black.svg#avenir_lt_std95_black') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd/Heavy/avenir-heavy.eot');
    src: url('fonts/AvenirLTStd/Heavy/avenir-heavy.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirLTStd/Heavy/avenir-heavy.woff') format('woff'),
         url('fonts/AvenirLTStd/Heavy/avenir-heavy.ttf') format('truetype'),
         url('fonts/AvenirLTStd/Heavy/avenir-heavy.svg#avenir_lt_std85_heavy') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd/Medium/avenir-medium.eot');
    src: url('fonts/AvenirLTStd/Medium/avenir-medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirLTStd/Medium/avenir-medium.woff') format('woff'),
         url('fonts/AvenirLTStd/Medium/avenir-medium.ttf') format('truetype'),
         url('fonts/AvenirLTStd/Medium/avenir-medium.svg#avenir_lt_std65_medium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd/Roman/avenir-roman.eot');
    src: url('fonts/AvenirLTStd/Roman/avenir-roman.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirLTStd/Roman/avenir-roman.woff') format('woff'),
         url('fonts/AvenirLTStd/Roman/avenir-roman.ttf') format('truetype'),
         url('fonts/AvenirLTStd/Roman/avenir-roman.svg#avenir_lt_std55_roman') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('fonts/AvenirLTStd/Light/avenir-light.eot');
    src: url('fonts/AvenirLTStd/Light/avenir-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirLTStd/Light/avenir-light.woff') format('woff'),
         url('fonts/AvenirLTStd/Light/avenir-light.ttf') format('truetype'),
         url('fonts/AvenirLTStd/Light/avenir-light.svg#avenir_lt_std35_light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Utopia';
    src: url('fonts/UtopiaStd/BoldDisplay/utopiastd-bolddisplay.eot');
    src: url('fonts/UtopiaStd/BoldDisplay/utopiastd-bolddisplay.eot?#iefix') format('embedded-opentype'),
         url('fonts/UtopiaStd/BoldDisplay/utopiastd-bolddisplay.woff') format('woff'),
         url('fonts/UtopiaStd/BoldDisplay/utopiastd-bolddisplay.ttf') format('truetype'),
         url('fonts/UtopiaStd/BoldDisplay/utopiastd-bolddisplay.svg#UtopiaStdBoldDisplay') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Utopia';
    src: url('fonts/UtopiaStd/BoldDisplayItalic/utopiastd-bolddisplayitalic.eot');
    src: url('fonts/UtopiaStd/BoldDisplayItalic/utopiastd-bolddisplayitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/UtopiaStd/BoldDisplayItalic/utopiastd-bolddisplayitalic.woff') format('woff'),
         url('fonts/UtopiaStd/BoldDisplayItalic/utopiastd-bolddisplayitalic.ttf') format('truetype'),
         url('fonts/UtopiaStd/BoldDisplayItalic/utopiastd-bolddisplayitalic.svg#UtopiaStdBoldDisplayItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Utopia';
    src: url('fonts/UtopiaStd/Display/utopiastd-display.eot');
    src: url('fonts/UtopiaStd/Display/utopiastd-display.eot?#iefix') format('embedded-opentype'),
         url('fonts/UtopiaStd/Display/utopiastd-display.woff') format('woff'),
         url('fonts/UtopiaStd/Display/utopiastd-display.ttf') format('truetype'),
         url('fonts/UtopiaStd/Display/utopiastd-display.svg#UtopiaStdDisplay') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Utopia';
    src: url('fonts/UtopiaStd/DisplayItalic/utopiastd-displayitalic.eot');
    src: url('fonts/UtopiaStd/DisplayItalic/utopiastd-displayitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/UtopiaStd/DisplayItalic/utopiastd-displayitalic.woff') format('woff'),
         url('fonts/UtopiaStd/DisplayItalic/utopiastd-displayitalic.ttf') format('truetype'),
         url('fonts/UtopiaStd/DisplayItalic/utopiastd-displayitalic.svg#UtopiaStdDisplayItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Utopia2';
    src: url('fonts/UtopiaStd/DisplayItalic/UtopiaStd-DispIt.eot');
    src: url('fonts/UtopiaStd/DisplayItalic/UtopiaStd-DispIt.eot?#iefix') format('embedded-opentype'),
         url('fonts/UtopiaStd/DisplayItalic/UtopiaStd-DispIt.woff') format('woff'),
         url('fonts/UtopiaStd/DisplayItalic/UtopiaStd-DispIt.ttf') format('truetype'),
         url('fonts/UtopiaStd/DisplayItalic/UtopiaStd-DispIt.svg#UtopiaStd-DispIt') format('svg');
}

@font-face {
    font-family: 'Univers1';
    src: url('fonts/UniversLTStd/LightUltraCn/UniversLTStd-LightUltraCn.eot');
    src: url('fonts/UniversLTStd/LightUltraCn/UniversLTStd-LightUltraCn.eot?#iefix') format('embedded-opentype'),
         url('fonts/UniversLTStd/LightUltraCn/UniversLTStd-LightUltraCn.woff') format('woff'),
         url('fonts/UniversLTStd/LightUltraCn/UniversLTStd-LightUltraCn.ttf') format('truetype'),
         url('fonts/UniversLTStd/LightUltraCn/UniversLTStd-LightUltraCn.svg#UniversLTStd-LightUltraCn') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'Univers2';
    src: url('fonts/UniversLTStd/UltraCn/UniversLTStd-UltraCn.eot');
    src: url('fonts/UniversLTStd/UltraCn/UniversLTStd-UltraCn.eot?#iefix') format('embedded-opentype'),
         url('fonts/UniversLTStd/UltraCn/UniversLTStd-UltraCn.woff') format('woff'),
         url('fonts/UniversLTStd/UltraCn/UniversLTStd-UltraCn.ttf') format('truetype'),
         url('fonts/UniversLTStd/UltraCn/UniversLTStd-UltraCn.svg#UniversLTStd-UltraCn') format('svg');
    font-weight: 400;
}