/* line 4, ../scss/mixin/_screensize.scss */
body:before {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  color: white;
  content: "";
  height: 15px;
  left: 0;
  line-height: 100%;
  position: fixed;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 9999;
}
@media only screen and (max-width: 479px) {
  /* line 4, ../scss/mixin/_screensize.scss */
  body:before {
    content: "You're on an XSMALL screen";
  }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  /* line 4, ../scss/mixin/_screensize.scss */
  body:before {
    content: "You're on an SMALL screen";
  }
}
@media only screen and (min-width: 600px) and (max-width: 770px) {
  /* line 4, ../scss/mixin/_screensize.scss */
  body:before {
    content: "You're on an MEDIUM screen";
  }
}
@media only screen and (min-width: 771px) and (max-width: 979px) {
  /* line 4, ../scss/mixin/_screensize.scss */
  body:before {
    content: "You're on an LARGE screen";
  }
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  /* line 4, ../scss/mixin/_screensize.scss */
  body:before {
    content: "You're on an XLARGE screen";
  }
}
@media only screen and (min-width: 1200px) {
  /* line 4, ../scss/mixin/_screensize.scss */
  body:before {
    content: "You're on an XLARGE+ screen";
  }
}

/* line 1, ../scss/main/_layout.scss */
html,
body,
.content-wrap,
section,
.body-wrap {
  width: 100%;
  height: 100%;
}

/* line 10, ../scss/main/_layout.scss */
.content-wrap {
  letter-spacing: 1px;
}
/* line 13, ../scss/main/_layout.scss */
.content-wrap section {
  display: none;
}
/* line 18, ../scss/main/_layout.scss */
.content-wrap[data-active-section="introduction"] section.introduction-wrap {
  display: block;
}
/* line 18, ../scss/main/_layout.scss */
.content-wrap[data-active-section="production"] section.production-wrap {
  display: block;
}
/* line 18, ../scss/main/_layout.scss */
.content-wrap[data-active-section="confirmation"] section.confirmation-wrap {
  display: block;
}

/* line 24, ../scss/main/_layout.scss */
.body-wrap {
  display: -webkit-flex;
  display: flex;
  position: relative;
  overflow: hidden;
}
/* line 32, ../scss/main/_layout.scss */
.body-wrap[data-current-step="length"] article[data-component="length"] {
  display: -webkit-flex;
  display: flex;
}
/* line 32, ../scss/main/_layout.scss */
.body-wrap[data-current-step="cable"] article[data-component="cable"] {
  display: -webkit-flex;
  display: flex;
}
/* line 32, ../scss/main/_layout.scss */
.body-wrap[data-current-step="input"] article[data-component="input"] {
  display: -webkit-flex;
  display: flex;
}
/* line 32, ../scss/main/_layout.scss */
.body-wrap[data-current-step="output"] article[data-component="output"] {
  display: -webkit-flex;
  display: flex;
}
/* line 32, ../scss/main/_layout.scss */
.body-wrap[data-current-step="extra"] article[data-component="extra"] {
  display: -webkit-flex;
  display: flex;
}
/* line 40, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="patch"] article[data-component="length"] div[data-type="patch"] {
  display: block;
}
/* line 44, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="patch"] article[data-component="length"] .length-choice[data-type="patch"] .inactive {
  display: none;
}
/* line 48, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="patch"] article[data-component="length"] .length-choice[data-type="patch"] .active {
  display: block;
}
/* line 53, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="patch"] .option.patch {
  display: block;
}
/* line 40, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="instrument"] article[data-component="length"] div[data-type="instrument"] {
  display: block;
}
/* line 44, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="instrument"] article[data-component="length"] .length-choice[data-type="instrument"] .inactive {
  display: none;
}
/* line 48, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="instrument"] article[data-component="length"] .length-choice[data-type="instrument"] .active {
  display: block;
}
/* line 53, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="instrument"] .option.instrument {
  display: block;
}
/* line 40, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="speaker"] article[data-component="length"] div[data-type="speaker"] {
  display: block;
}
/* line 44, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="speaker"] article[data-component="length"] .length-choice[data-type="speaker"] .inactive {
  display: none;
}
/* line 48, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="speaker"] article[data-component="length"] .length-choice[data-type="speaker"] .active {
  display: block;
}
/* line 53, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="speaker"] .option.speaker {
  display: block;
}
/* line 40, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="xlr"] article[data-component="length"] div[data-type="xlr"] {
  display: block;
}
/* line 44, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="xlr"] article[data-component="length"] .length-choice[data-type="xlr"] .inactive {
  display: none;
}
/* line 48, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="xlr"] article[data-component="length"] .length-choice[data-type="xlr"] .active {
  display: block;
}
/* line 53, ../scss/main/_layout.scss */
.body-wrap[data-cable-type="xlr"] .option.xlr {
  display: block;
}

@media only screen and (max-width: 599px) {
  /* line 64, ../scss/main/_layout.scss */
  .body-wrap[data-current-step="closed"] .builders-wrap {
    display: none;
  }

  /* line 70, ../scss/main/_layout.scss */
  .builders-wrap {
    height: 100%;
    z-index: 20;
  }

  /* line 76, ../scss/main/_layout.scss */
  .length-wrap .length-choice {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* line 80, ../scss/main/_layout.scss */
  .length-wrap .length-choice[data-type="patch"] {
    margin-left: 20px;
  }
  /* line 85, ../scss/main/_layout.scss */
  .length-wrap .image {
    max-width: 75px;
  }
}
/* line 1, ../scss/main/_load.scss */
.loader-wrap {
  display: none;
  background-color: #000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@-moz-keyframes wave {
  0%, 40%, 100% {
    -moz-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -moz-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes wave {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes wave {
  0%, 40%, 100% {
    -moz-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
/* line 29, ../scss/main/_load.scss */
.loader-wrap div {
  background-color: white;
  height: 85px;
  width: 7px;
  margin: 0 7px;
  -moz-animation: wave 1.2s infinite ease-in-out;
  -webkit-animation: wave 1.2s infinite ease-in-out;
  animation: wave 1.2s infinite ease-in-out;
}
/* line 38, ../scss/main/_load.scss */
.loader-wrap .rect2 {
  -moz-animation-delay: -1.1s;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
/* line 42, ../scss/main/_load.scss */
.loader-wrap .rect3 {
  -moz-animation-delay: -1s;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
/* line 46, ../scss/main/_load.scss */
.loader-wrap .rect4 {
  -moz-animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
/* line 50, ../scss/main/_load.scss */
.loader-wrap .rect5 {
  -moz-animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

/* line 1, ../scss/main/_introduction.scss */
.introduction-wrap {
  display: none;
}

/* line 6, ../scss/main/production/_tracker.scss */
.tracker-wrap {
  background-color: #fff;
  z-index: 10;
}
/* line 10, ../scss/main/production/_tracker.scss */
.tracker-wrap > div {
  text-align: center;
}
@media only screen and (max-width: 599px) {
  /* line 6, ../scss/main/production/_tracker.scss */
  .tracker-wrap {
    bottom: 0;
    height: 75px;
    position: absolute;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 23, ../scss/main/production/_tracker.scss */
  .tracker-wrap .dot {
    width: 20%;
    height: 100%;
  }
  /* line 32, ../scss/main/production/_tracker.scss */
  .tracker-wrap .review-wrap {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  /* line 6, ../scss/main/production/_tracker.scss */
  .tracker-wrap {
    display: -webkit-flex;
    display: flex;
    border-right: 1px solid #333;
    height: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  /* line 55, ../scss/main/production/_tracker.scss */
  .tracker-wrap > div {
    -webkit-align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 75px;
  }
  /* line 66, ../scss/main/production/_tracker.scss */
  .tracker-wrap > div + div {
    border-bottom: 1px solid #333;
  }
}
/* line 72, ../scss/main/production/_tracker.scss */
.tracker-wrap .masthead {
  border-bottom: 1px solid #333;
}
/* line 76, ../scss/main/production/_tracker.scss */
.tracker-wrap .masthead a {
  cursor: pointer;
  background-image: url('../images/home.png?1456850561');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 80%;
  display: block;
}
/* line 89, ../scss/main/production/_tracker.scss */
.tracker-wrap .dot {
  background-color: #6aaeaf;
  cursor: pointer;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
/* line 99, ../scss/main/production/_tracker.scss */
.tracker-wrap .dot:before {
  -webkit-align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  content: "#";
  margin: 10px auto;
  width: 30px;
  height: 30px;
}
/* line 115, ../scss/main/production/_tracker.scss */
.tracker-wrap .dot[data-pointer-component="length"]:before {
  content: "1";
}
/* line 119, ../scss/main/production/_tracker.scss */
.body-wrap[data-current-step="length"] .tracker-wrap .dot[data-pointer-component="length"] {
  background-color: #fff;
  color: #6aaeaf;
}
/* line 123, ../scss/main/production/_tracker.scss */
.body-wrap[data-current-step="length"] .tracker-wrap .dot[data-pointer-component="length"]:before {
  border-color: #6aaeaf;
  border-width: 2px;
}
/* line 115, ../scss/main/production/_tracker.scss */
.tracker-wrap .dot[data-pointer-component="cable"]:before {
  content: "2";
}
/* line 119, ../scss/main/production/_tracker.scss */
.body-wrap[data-current-step="cable"] .tracker-wrap .dot[data-pointer-component="cable"] {
  background-color: #fff;
  color: #6aaeaf;
}
/* line 123, ../scss/main/production/_tracker.scss */
.body-wrap[data-current-step="cable"] .tracker-wrap .dot[data-pointer-component="cable"]:before {
  border-color: #6aaeaf;
  border-width: 2px;
}
/* line 115, ../scss/main/production/_tracker.scss */
.tracker-wrap .dot[data-pointer-component="input"]:before {
  content: "3";
}
/* line 119, ../scss/main/production/_tracker.scss */
.body-wrap[data-current-step="input"] .tracker-wrap .dot[data-pointer-component="input"] {
  background-color: #fff;
  color: #6aaeaf;
}
/* line 123, ../scss/main/production/_tracker.scss */
.body-wrap[data-current-step="input"] .tracker-wrap .dot[data-pointer-component="input"]:before {
  border-color: #6aaeaf;
  border-width: 2px;
}
/* line 115, ../scss/main/production/_tracker.scss */
.tracker-wrap .dot[data-pointer-component="output"]:before {
  content: "4";
}
/* line 119, ../scss/main/production/_tracker.scss */
.body-wrap[data-current-step="output"] .tracker-wrap .dot[data-pointer-component="output"] {
  background-color: #fff;
  color: #6aaeaf;
}
/* line 123, ../scss/main/production/_tracker.scss */
.body-wrap[data-current-step="output"] .tracker-wrap .dot[data-pointer-component="output"]:before {
  border-color: #6aaeaf;
  border-width: 2px;
}
/* line 115, ../scss/main/production/_tracker.scss */
.tracker-wrap .dot[data-pointer-component="extra"]:before {
  content: "5";
}
/* line 119, ../scss/main/production/_tracker.scss */
.body-wrap[data-current-step="extra"] .tracker-wrap .dot[data-pointer-component="extra"] {
  background-color: #fff;
  color: #6aaeaf;
}
/* line 123, ../scss/main/production/_tracker.scss */
.body-wrap[data-current-step="extra"] .tracker-wrap .dot[data-pointer-component="extra"]:before {
  border-color: #6aaeaf;
  border-width: 2px;
}
/* line 135, ../scss/main/production/_tracker.scss */
.tracker-wrap .dot[data-status="complete"]:before {
  content: "";
  background-color: green;
  border-color: green;
}
/* line 141, ../scss/main/production/_tracker.scss */
.tracker-wrap .dot[data-status="complete"]:after {
  content: "";
  width: 10px;
  height: 20px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 10px;
  left: 50%;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 157, ../scss/main/production/_tracker.scss */
.tracker-wrap .price-wrap {
  border-top: 1px solid #333;
}

/* line 1, ../scss/main/production/_display.scss */
.display-wrap {
  background-image: url('../images/background.jpg?1456850568');
  overflow: hidden;
  position: relative;
  height: 100%;
  -webkit-flex-grow: 1;
  -webkit-flex-basis: 1;
  flex-grow: 1;
  flex-basis: 1;
}
/* line 12, ../scss/main/production/_display.scss */
.display-wrap .images {
  position: absolute;
}
/* line 15, ../scss/main/production/_display.scss */
.display-wrap .images .input,
.display-wrap .images .output {
  position: absolute;
}
/* line 20, ../scss/main/production/_display.scss */
.display-wrap .images .input {
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* line 24, ../scss/main/production/_display.scss */
.display-wrap .images .cable {
  height: 100%;
  width: 100%;
}
/* line 29, ../scss/main/production/_display.scss */
.display-wrap .images .input-boot-image,
.display-wrap .images .output-boot-image {
  height: auto;
  position: absolute;
  right: 7%;
  top: 2px;
  width: 27.77778%;
}
/* line 38, ../scss/main/production/_display.scss */
.display-wrap .images img {
  height: 100%;
  width: 100%;
}
/* line 44, ../scss/main/production/_display.scss */
[data-cable-type="patch"] .display-wrap .images .cable img {
  height: auto;
}
/* line 48, ../scss/main/production/_display.scss */
[data-cable-type="patch"] .display-wrap .images .input {
  -moz-transform: scaleX(-1) rotate(-37.5685deg);
  -ms-transform: scaleX(-1) rotate(-37.5685deg);
  -webkit-transform: scaleX(-1) rotate(-37.5685deg);
  transform: scaleX(-1) rotate(-37.5685deg);
}
/* line 53, ../scss/main/production/_display.scss */
[data-cable-type="patch"] .display-wrap .images .output {
  -moz-transform: rotate(-38.5685deg);
  -ms-transform: rotate(-38.5685deg);
  -webkit-transform: rotate(-38.5685deg);
  transform: rotate(-38.5685deg);
}
/* line 59, ../scss/main/production/_display.scss */
.display-wrap .overview {
  left: 10%;
  position: absolute;
  right: 10%;
  text-align: center;
}
/* line 65, ../scss/main/production/_display.scss */
.display-wrap .overview span {
  cursor: default;
  font-size: 14px;
  font-weight: lighter;
  text-transform: uppercase;
}
/* line 72, ../scss/main/production/_display.scss */
.display-wrap .overview strong {
  text-transform: none;
}

/* line 1, ../scss/main/production/_builder.scss */
.builders-wrap {
  background-color: #fff;
}
@media only screen and (max-width: 599px) {
  /* line 1, ../scss/main/production/_builder.scss */
  .builders-wrap {
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 1, ../scss/main/production/_builder.scss */
  .builders-wrap {
    width: 50%;
  }
}

/* line 15, ../scss/main/production/_builder.scss */
article {
  overflow: hidden;
  height: 100%;
  display: none;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 24, ../scss/main/production/_builder.scss */
article .header {
  background-color: #6aaeaf;
  color: #fff;
  padding: 15px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
/* line 30, ../scss/main/production/_builder.scss */
article .header h1 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 300;
}
/* line 37, ../scss/main/production/_builder.scss */
article .header h1 strong {
  font-weight: 600;
}
/* line 43, ../scss/main/production/_builder.scss */
article .body {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}
/* line 53, ../scss/main/production/_builder.scss */
article .body.complete + .footer .builder-next {
  background-color: #fff;
  color: #333;
}
/* line 57, ../scss/main/production/_builder.scss */
article .body.complete + .footer .builder-next:before, article .body.complete + .footer .builder-next:after {
  background-color: #333;
}
/* line 66, ../scss/main/production/_builder.scss */
article .footer {
  background-color: #333;
  width: 100%;
  padding: 10px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
/* line 72, ../scss/main/production/_builder.scss */
article .footer button {
  background: transparent none repeat scroll 0 0;
  border: solid #fff 1px;
  color: #fff;
  letter-spacing: 1px;
  height: 30px;
  overflow: hidden;
  position: relative;
  font-size: 11px;
  letter-spacing: 2px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 85, ../scss/main/production/_builder.scss */
article .footer button:hover {
  background-color: #000;
  color: #fff;
}
/* line 90, ../scss/main/production/_builder.scss */
article .footer button:before, article .footer button:after {
  background-color: #fff;
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  width: 2px;
}
/* line 104, ../scss/main/production/_builder.scss */
article .footer button.builder-prev {
  float: left;
  padding-left: 30px;
  padding-right: 15px;
}
/* line 109, ../scss/main/production/_builder.scss */
article .footer button.builder-prev:before {
  left: 10px;
  top: 6px;
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}
/* line 115, ../scss/main/production/_builder.scss */
article .footer button.builder-prev:after {
  bottom: 6px;
  left: 10px;
  -moz-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
/* line 122, ../scss/main/production/_builder.scss */
article .footer button.builder-next {
  float: right;
  padding-right: 30px;
  padding-left: 15px;
}
/* line 127, ../scss/main/production/_builder.scss */
article .footer button.builder-next:before {
  right: 10px;
  top: 6px;
  -moz-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
/* line 133, ../scss/main/production/_builder.scss */
article .footer button.builder-next:after {
  bottom: 6px;
  right: 10px;
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}
@media only screen and (max-width: 599px) {
  /* line 142, ../scss/main/production/_builder.scss */
  article .toggle {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
  }
}
@media only screen and (min-width: 600px) {
  /* line 142, ../scss/main/production/_builder.scss */
  article .toggle {
    display: none;
  }
}

/* line 158, ../scss/main/production/_builder.scss */
.length-wrap .notice {
  width: 100%;
}
/* line 161, ../scss/main/production/_builder.scss */
.length-wrap .notice img {
  width: 100%;
  height: auto;
}
/* line 167, ../scss/main/production/_builder.scss */
.length-wrap .length-choice .active,
.length-wrap .input,
.length-wrap .ruler,
.length-wrap .select {
  display: none;
}
/* line 174, ../scss/main/production/_builder.scss */
.length-wrap .length-choices {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  text-align: center;
  width: 100%;
}
/* line 185, ../scss/main/production/_builder.scss */
.length-wrap .length-choices .length-choice span {
  text-transform: uppercase;
}
/* line 189, ../scss/main/production/_builder.scss */
.length-wrap .length-choices .length-choice .name span {
  font-weight: 600;
  letter-spacing: 2px;
}
/* line 194, ../scss/main/production/_builder.scss */
.length-wrap .length-choices .length-choice .desc {
  letter-spacing: 1px;
}
/* line 199, ../scss/main/production/_builder.scss */
.length-wrap .length-choices .image {
  cursor: pointer;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 208, ../scss/main/production/_builder.scss */
.length-wrap .length-choices .image img {
  height: 100%;
  width: 100%;
}
/* line 215, ../scss/main/production/_builder.scss */
.length-wrap .rulers {
  margin: 1em auto;
  max-width: 600px;
  width: 90%;
}
/* line 220, ../scss/main/production/_builder.scss */
.length-wrap .rulers .ui-slider-horizontal {
  height: 4px;
  border: none;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkMDAwMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZhNTAwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWVlZTAwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #dd0000), color-stop(50%, #ffa500), color-stop(100%, #eeee00));
  background-image: -moz-linear-gradient(left, #dd0000, #ffa500, #eeee00);
  background-image: -webkit-linear-gradient(left, #dd0000, #ffa500, #eeee00);
  background-image: linear-gradient(to right, #dd0000, #ffa500, #eeee00);
}
/* line 226, ../scss/main/production/_builder.scss */
.length-wrap .rulers .ui-slider-handle {
  background: none;
  background-color: white;
  border-color: #898989;
  border-radius: 50%;
  border-width: 2px;
  top: -9px;
  -moz-box-shadow: #8c8c8c 3px 2px 3px;
  -webkit-box-shadow: #8c8c8c 3px 2px 3px;
  box-shadow: #8c8c8c 3px 2px 3px;
}
/* line 236, ../scss/main/production/_builder.scss */
.length-wrap .rulers .ui-slider-range {
  background-color: #999;
  background-image: none;
}
/* line 241, ../scss/main/production/_builder.scss */
.length-wrap .rulers .ui-state-active {
  background: none;
  background-color: #ccc;
  border: white;
}
/* line 248, ../scss/main/production/_builder.scss */
.length-wrap .inputs {
  color: #777;
  margin: 0 auto;
  text-transform: uppercase;
  width: 100px;
}
/* line 254, ../scss/main/production/_builder.scss */
.length-wrap .inputs span {
  display: block;
  font-size: 11px;
  margin-bottom: 0.5em;
  text-align: center;
}
/* line 261, ../scss/main/production/_builder.scss */
.length-wrap .inputs label {
  float: right;
  font-size: 14px;
  margin-top: 17px;
  margin-left: 5px;
}
/* line 268, ../scss/main/production/_builder.scss */
.length-wrap .inputs input {
  border: 1px solid #999;
  color: #000;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0 auto 0 17px;
  padding: 0.5em 0;
  text-align: center;
  width: 65px;
}
/* line 280, ../scss/main/production/_builder.scss */
.length-wrap .inputs .input {
  width: 106px;
}
/* line 285, ../scss/main/production/_builder.scss */
.length-wrap .selects {
  display: none;
}
/* line 289, ../scss/main/production/_builder.scss */
.length-wrap .body button {
  background-color: #6aaeaf;
  border: 0 none;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 25px auto 0;
  padding: 10px 15px;
  width: 150px;
}

/* line 301, ../scss/main/production/_builder.scss */
.details-wrap {
  background-color: #e9e9e9;
  display: none;
}
@media only screen and (max-width: 599px) {
  /* line 301, ../scss/main/production/_builder.scss */
  .details-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
  }
}
@media only screen and (min-width: 600px) {
  /* line 301, ../scss/main/production/_builder.scss */
  .details-wrap {
    -webkit-order: 11;
    order: 11;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
  }
}
/* line 319, ../scss/main/production/_builder.scss */
.details-wrap.active {
  display: block;
}
/* line 322, ../scss/main/production/_builder.scss */
.details-wrap.active .empty {
  display: none;
}
/* line 327, ../scss/main/production/_builder.scss */
.details-wrap .empty {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}
@media only screen and (max-width: 599px) {
  /* line 327, ../scss/main/production/_builder.scss */
  .details-wrap .empty {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  /* line 327, ../scss/main/production/_builder.scss */
  .details-wrap .empty {
    display: -webkit-flex;
    display: flex;
  }
}
/* line 342, ../scss/main/production/_builder.scss */
.details-wrap .control {
  background-color: #000;
  border: 0 none;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  z-index: 50;
}
@media only screen and (min-width: 600px) {
  /* line 342, ../scss/main/production/_builder.scss */
  .details-wrap .control {
    display: none;
  }
}

/* line 358, ../scss/main/production/_builder.scss */
.details-content {
  display: none;
  position: relative;
  max-height: 300px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (max-width: 599px) {
  /* line 358, ../scss/main/production/_builder.scss */
  .details-content {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  /* line 368, ../scss/main/production/_builder.scss */
  .details-wrap.active .details-content {
    display: -webkit-flex;
    display: flex;
  }
}
@media only screen and (min-width: 600px) {
  /* line 358, ../scss/main/production/_builder.scss */
  .details-content {
    overflow: hidden;
  }
  /* line 376, ../scss/main/production/_builder.scss */
  .details-wrap.active .details-content {
    display: block;
  }
}
/* line 381, ../scss/main/production/_builder.scss */
.details-content .name-wrap {
  padding-top: 5px;
}
@media only screen and (max-width: 599px) {
  /* line 381, ../scss/main/production/_builder.scss */
  .details-content .name-wrap {
    -webkit-order: 1;
    order: 1;
    margin-bottom: 10px;
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 381, ../scss/main/production/_builder.scss */
  .details-content .name-wrap {
    -webkit-order: 1;
    order: 1;
  }
}
/* line 395, ../scss/main/production/_builder.scss */
.details-content .name-wrap span {
  display: block;
  text-transform: uppercase;
  text-align: center;
}
/* line 401, ../scss/main/production/_builder.scss */
.details-content .name-wrap .manufacturer {
  margin-bottom: 5px;
}
/* line 405, ../scss/main/production/_builder.scss */
.details-content .name-wrap .model {
  font-weight: 600;
}
/* line 410, ../scss/main/production/_builder.scss */
.details-content .image-wrap {
  max-width: 300px;
  position: relative;
  height: 100%;
}
@media only screen and (max-width: 599px) {
  /* line 410, ../scss/main/production/_builder.scss */
  .details-content .image-wrap {
    -webkit-order: 2;
    order: 2;
    width: 85%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 410, ../scss/main/production/_builder.scss */
  .details-content .image-wrap {
    float: left;
  }
}
@media only screen and (max-width: 599px) {
  /* line 424, ../scss/main/production/_builder.scss */
  .details-content .image-wrap img {
    height: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 424, ../scss/main/production/_builder.scss */
  .details-content .image-wrap img {
    height: 30vh;
    width: auto;
  }
}
/* line 436, ../scss/main/production/_builder.scss */
.details-content .image-wrap .choice {
  left: 0;
  position: absolute;
  top: 0;
}
@media only screen and (max-width: 599px) {
  /* line 443, ../scss/main/production/_builder.scss */
  .details-content .choice-wrap {
    -webkit-order: 3;
    order: 3;
    width: 15%;
  }
  /* line 449, ../scss/main/production/_builder.scss */
  .details-content .choice-wrap.empty {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  /* line 443, ../scss/main/production/_builder.scss */
  .details-content .choice-wrap {
    -webkit-order: 9;
    order: 9;
    float: right;
    width: 30%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
/* line 463, ../scss/main/production/_builder.scss */
.details-content .choice-wrap div {
  border: 1px solid #666;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
@media only screen and (max-width: 599px) {
  /* line 463, ../scss/main/production/_builder.scss */
  .details-content .choice-wrap div {
    margin: 0 auto 20px;
  }
}
@media only screen and (min-width: 600px) {
  /* line 463, ../scss/main/production/_builder.scss */
  .details-content .choice-wrap div {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
/* line 481, ../scss/main/production/_builder.scss */
.details-content .choice-wrap .blank {
  border: 0 none;
  height: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 599px) {
  /* line 489, ../scss/main/production/_builder.scss */
  .details-content .price-wrap {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
@media only screen and (min-width: 600px) {
  /* line 489, ../scss/main/production/_builder.scss */
  .details-content .price-wrap {
    -webkit-order: 3;
    order: 3;
  }
}
/* line 500, ../scss/main/production/_builder.scss */
.details-content .price-wrap span {
  color: #ed1100;
  font-size: 20px;
  font-weight: 500;
}
/* line 505, ../scss/main/production/_builder.scss */
.details-content .price-wrap span:before {
  content: "$";
}
@media only screen and (max-width: 599px) {
  /* line 511, ../scss/main/production/_builder.scss */
  .details-content .information-wrap {
    -webkit-order: 5;
    order: 5;
    padding: 5px;
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 511, ../scss/main/production/_builder.scss */
  .details-content .information-wrap {
    -webkit-order: 4;
    order: 4;
  }
}
/* line 524, ../scss/main/production/_builder.scss */
.details-content .information-wrap span {
  display: block;
}
/* line 529, ../scss/main/production/_builder.scss */
.details-content .select-option {
  background-color: #f5c329;
  border: 0 none;
  height: 35px;
  letter-spacing: 1px;
  padding: 10px 0;
  position: relative;
  margin: 15px auto;
  width: 150px;
}
@media only screen and (max-width: 599px) {
  /* line 529, ../scss/main/production/_builder.scss */
  .details-content .select-option {
    -webkit-order: 6;
    order: 6;
  }
}
@media only screen and (min-width: 600px) {
  /* line 529, ../scss/main/production/_builder.scss */
  .details-content .select-option {
    -webkit-order: 6;
    order: 6;
    margin-top: auto;
  }
}
/* line 548, ../scss/main/production/_builder.scss */
.details-content .select-option:after {
  color: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  -webkit-align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* line 560, ../scss/main/production/_builder.scss */
.details-wrap.selected .details-content .select-option:after {
  background-color: #57c285;
  content: "Picked!";
}
/* line 565, ../scss/main/production/_builder.scss */
.details-wrap.unavailable .details-content .select-option {
  cursor: default;
}
/* line 568, ../scss/main/production/_builder.scss */
.details-wrap.unavailable .details-content .select-option:after {
  content: "Out of Stock";
  background-color: #ed1100;
}

/* line 576, ../scss/main/production/_builder.scss */
.options-box {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-grow: 1;
  -webkit-order: 10;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  order: 10;
  overflow: hidden;
  position: relative;
  height: 100%;
  min-height: 160px;
}
/* line 589, ../scss/main/production/_builder.scss */
.options-box h2 {
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding: 10px 50px 10px 10px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
/* line 597, ../scss/main/production/_builder.scss */
.options-box h2 span {
  float: right;
}
/* line 600, ../scss/main/production/_builder.scss */
.options-box h2 span strong {
  color: #ed1100;
}

/* line 607, ../scss/main/production/_builder.scss */
.options-wrap {
  overflow-y: scroll;
  height: 100%;
  padding: 15px;
}
/* line 612, ../scss/main/production/_builder.scss */
.options-wrap .active,
.options-wrap .selector {
  display: none;
}

/* line 618, ../scss/main/production/_builder.scss */
.options {
  margin-bottom: 15px;
  -webkit-align-content: flex-start;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 628, ../scss/main/production/_builder.scss */
.options h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
}

/* line 635, ../scss/main/production/_builder.scss */
.option {
  border: 1px solid #ccc;
  display: none;
  position: relative;
  margin: 5px;
  max-width: 200px;
  min-width: 115px;
  width: 23%;
}
/* line 645, ../scss/main/production/_builder.scss */
.option:before {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  height: 100%;
  left: 0;
  letter-spacing: 2px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 20;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 667, ../scss/main/production/_builder.scss */
.option:hover .outer {
  display: block;
}
/* line 672, ../scss/main/production/_builder.scss */
.option.blank {
  border: 0 none;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-order: 9999 !important;
  order: 9999 !important;
}
/* line 681, ../scss/main/production/_builder.scss */
.option.clicked {
  outline: 3px solid #000;
  border-color: #000;
}
/* line 690, ../scss/main/production/_builder.scss */
.option.selected {
  outline: 3px #57c285 solid;
  border-color: #57c285;
}
/* line 694, ../scss/main/production/_builder.scss */
.option.selected .option-select:after {
  display: block;
  display: -webkit-flex;
  display: flex;
}
/* line 700, ../scss/main/production/_builder.scss */
.option[data-status="unavailable"] {
  -webkit-order: 9999 !important;
  order: 9999 !important;
}
/* line 703, ../scss/main/production/_builder.scss */
.option[data-status="unavailable"]:before {
  display: none;
}
/* line 707, ../scss/main/production/_builder.scss */
.option[data-status="unavailable"] .inner:after {
  background-color: rgba(255, 255, 255, 0.9);
  content: "Out of Stock";
  cursor: default;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 10;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 728, ../scss/main/production/_builder.scss */
.option[data-status="unavailable"]:hover .option-select {
  cursor: default;
}
/* line 732, ../scss/main/production/_builder.scss */
.option[data-status="unavailable"]:hover .option-select:after {
  background-color: #fff;
  border: solid 1px #000;
  color: #000;
  content: "Out of Stock";
  height: 100%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  -webkit-align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* line 750, ../scss/main/production/_builder.scss */
.option[data-status="unavailable"]:hover .inner:after {
  display: none;
}
/* line 756, ../scss/main/production/_builder.scss */
.option .hasChoices {
  color: #ff786e;
  content: "*";
  font-size: 24px;
  font-weight: 900;
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 766, ../scss/main/production/_builder.scss */
.option .outer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
}
/* line 776, ../scss/main/production/_builder.scss */
.option .outer button {
  border: 0 none;
  height: 40%;
  width: 90%;
  position: relative;
  margin-top: 5%;
  margin-left: 5%;
}
/* line 786, ../scss/main/production/_builder.scss */
.option .option-specs {
  background-color: #9cc9ca;
}
/* line 790, ../scss/main/production/_builder.scss */
.option .option-select {
  background-color: #478485;
}
/* line 793, ../scss/main/production/_builder.scss */
.option .option-select:after {
  -webkit-align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  content: "Selected!";
  background-color: #57c285;
  left: 0;
  top: 0;
}
/* line 806, ../scss/main/production/_builder.scss */
.option .image-wrap {
  height: 100%;
  width: 100%;
}
/* line 810, ../scss/main/production/_builder.scss */
.option .image-wrap img {
  height: auto;
  width: 100%;
}
/* line 816, ../scss/main/production/_builder.scss */
.option .details {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 823, ../scss/main/production/_builder.scss */
.option .name {
  font-size: 10px;
  letter-spacing: 1px;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  top: 4px;
  width: 100%;
}
/* line 832, ../scss/main/production/_builder.scss */
.option .name span {
  display: block;
}
/* line 837, ../scss/main/production/_builder.scss */
.option .price {
  bottom: 15px;
  left: 15px;
  position: absolute;
  font-size: 14px;
  font-weight: 800;
  color: #ed1100;
}
/* line 845, ../scss/main/production/_builder.scss */
.option .price:before {
  content: '$';
}
/* line 849, ../scss/main/production/_builder.scss */
.cable-wrap .option .price:after {
  color: #bababa;
  content: 'per ft';
  display: block;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 861, ../scss/main/production/_builder.scss */
.extra-wrap .body {
  overflow-y: auto;
  padding: 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
/* line 868, ../scss/main/production/_builder.scss */
.extra-wrap .body > div {
  padding: 25px;
}
/* line 873, ../scss/main/production/_builder.scss */
.extra-wrap h3 {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 1em;
}
/* line 882, ../scss/main/production/_builder.scss */
.extra-wrap h3 span {
  color: #aaa;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: lowercase;
}
/* line 890, ../scss/main/production/_builder.scss */
.extra-wrap h3 p {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 1em auto 0;
  text-transform: none;
}

/* line 900, ../scss/main/production/_builder.scss */
.techflex-wrap {
  position: relative;
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: center;
  -webkit-align-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}
/* line 910, ../scss/main/production/_builder.scss */
.techflex-wrap:before {
  background-color: #999;
  bottom: 0;
  content: "";
  height: 1px;
  left: 5%;
  position: absolute;
  width: 90%;
}
/* line 920, ../scss/main/production/_builder.scss */
.techflex-wrap .techflex {
  margin: 0 5px 5px;
  width: 75px;
}
/* line 924, ../scss/main/production/_builder.scss */
.techflex-wrap .techflex.blank {
  margin-bottom: 0;
}
/* line 928, ../scss/main/production/_builder.scss */
.techflex-wrap .techflex input {
  display: none;
}
/* line 931, ../scss/main/production/_builder.scss */
.techflex-wrap .techflex input:checked ~ label:before {
  background-color: #fff;
  color: #000;
  content: "Picked!";
}
/* line 938, ../scss/main/production/_builder.scss */
.techflex-wrap .techflex span {
  text-transform: uppercase;
  font-size: 14px;
  width: 100%;
  display: block;
  text-align: center;
  letter-spacing: 1px;
}
/* line 947, ../scss/main/production/_builder.scss */
.techflex-wrap .techflex label {
  border: 1px solid #000;
  cursor: pointer;
  display: block;
  height: 100px;
  position: relative;
  width: 100%;
}
/* line 955, ../scss/main/production/_builder.scss */
.techflex-wrap .techflex label:before {
  font-size: 12px;
  content: "Pick me!";
  color: #fff;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  text-align: center;
  padding-top: 7.5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 971, ../scss/main/production/_builder.scss */
.techflex-wrap .techflex label img {
  width: 100%;
}
/* line 976, ../scss/main/production/_builder.scss */
.techflex-wrap .techflex label[for="techflex_white"] img {
  background-color: #000;
}

/* line 984, ../scss/main/production/_builder.scss */
.tourproof-wrap,
.reverse-wrap {
  width: 50%;
}
/* line 988, ../scss/main/production/_builder.scss */
.tourproof-wrap input,
.reverse-wrap input {
  display: none;
}
/* line 991, ../scss/main/production/_builder.scss */
.tourproof-wrap input:checked ~ label,
.reverse-wrap input:checked ~ label {
  background-position: center bottom;
}
/* line 996, ../scss/main/production/_builder.scss */
.tourproof-wrap span,
.reverse-wrap span {
  float: left;
  margin-top: 5px;
  color: #aaa;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: lowercase;
}
/* line 1006, ../scss/main/production/_builder.scss */
.tourproof-wrap label,
.reverse-wrap label {
  background-image: url('../images/builder/check.png?1456850568');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  cursor: pointer;
  display: block;
  height: 20px;
  margin: 0 auto;
  width: 20px;
}

/* line 1019, ../scss/main/production/_builder.scss */
.tourproof-wrap {
  position: relative;
  width: 100%;
}
/* line 1023, ../scss/main/production/_builder.scss */
.body-wrap[data-cable-type="patch"] .tourproof-wrap {
  width: 50%;
}
/* line 1026, ../scss/main/production/_builder.scss */
.body-wrap[data-cable-type="patch"] .tourproof-wrap:after {
  display: block;
}
/* line 1031, ../scss/main/production/_builder.scss */
.tourproof-wrap:after {
  background-color: #999;
  content: "";
  display: none;
  height: 80%;
  position: absolute;
  right: 0;
  top: 10%;
  width: 1px;
}
/* line 1043, ../scss/main/production/_builder.scss */
.tourproof-wrap .tourproof-container {
  max-width: 140px;
  margin: 0 auto;
}
/* line 1048, ../scss/main/production/_builder.scss */
.tourproof-wrap button {
  background-color: #ccc;
  border: 1px solid #bbb;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 300;
  height: 15px;
  padding-left: 2px;
  position: relative;
  right: -5px;
  top: -3px;
  width: 15px;
}

/* line 1063, ../scss/main/production/_builder.scss */
.reverse-wrap {
  position: relative;
  display: none;
}
/* line 1067, ../scss/main/production/_builder.scss */
.body-wrap[data-cable-type="patch"] .reverse-wrap {
  display: block;
}

/* line 2, ../scss/main/_confirmation.scss */
.confirmation-wrap .return-wrap {
  background-color: #75bebf;
  border: 0 none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: lighter;
  height: 50px;
  text-transform: uppercase;
  width: 100%;
  -webkit-align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* line 15, ../scss/main/_confirmation.scss */
.confirmation-wrap .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 50px;
  border: 1px solid #bbb;
  height: 75%;
  margin-top: 25px;
  width: 80%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: space-around;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* line 30, ../scss/main/_confirmation.scss */
.confirmation-wrap .confirm-text {
  text-align: center;
}
/* line 33, ../scss/main/_confirmation.scss */
.confirmation-wrap .confirm-text img {
  height: 75px;
  margin: 0 auto;
  width: 75px;
}
/* line 39, ../scss/main/_confirmation.scss */
.confirmation-wrap .confirm-text h1 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 46, ../scss/main/_confirmation.scss */
.confirmation-wrap .confirm-text h2 {
  font-size: 12px;
  font-weight: 300;
  margin: 0 auto;
  line-height: 20px;
  letter-spacing: 0;
}
/* line 55, ../scss/main/_confirmation.scss */
.confirmation-wrap .final-build {
  margin: 15px 40px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 25px 0;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* line 67, ../scss/main/_confirmation.scss */
.confirmation-wrap .final-build ul {
  margin-right: auto;
}
/* line 72, ../scss/main/_confirmation.scss */
.confirmation-wrap .final-build .qty-wrap label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 78, ../scss/main/_confirmation.scss */
.confirmation-wrap .final-build .qty-wrap input {
  border: 1px solid #aaa;
  margin: 10px auto;
  padding: 4px;
  text-align: center;
  width: 50px;
}
/* line 87, ../scss/main/_confirmation.scss */
.confirmation-wrap .final-build > span {
  color: #ed1100;
  font-weight: 900;
  margin-left: auto;
}
/* line 98, ../scss/main/_confirmation.scss */
.confirmation-wrap button {
  width: 200px;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 12px;
  margin-bottom: 10px;
}
