$dot-offset: -7px;
$dot-diameter: 50px;
$dot-background: 70%;

#body {
    &.regular {
        .pointer[data-pointer-component="length"] {
            top: -5px;
        }
        .pointer[data-pointer-component="output"], .pointer[data-pointer-component="input"] {
            right: -5%;
            top: 65px;
        }
        .pointer[data-pointer-component="cable"] {
            top: 40%;
            right: -5%;
        }
    }

    &.patch {
        .pointer[data-pointer-component="length"] {
            top: 0;
        }
        .pointer[data-pointer-component="output"], .pointer[data-pointer-component="input"] {
            right: 10%;
            top: 25%;
        }

        .pointer[data-pointer-component="cable"] {
            top: 40%;
            right: 7.5%;
        }
    }
}

.pointer {
    &.current .dot, .dot:hover {
        width: $dot-diameter;
        height: $dot-diameter;
        line-height: $dot-diameter;

        @include transition(all 0.25s ease);

        &:before {
            opacity: 1;
        }
    }

    .dot {
        @include transition(all 0.25s ease-in-out);
        background-color: #6c6c6c;
        border-radius: 50%;
        color: #a3a3a3;
        cursor: pointer;
        font-size: 12px;
        font-weight: 800;
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        padding: 0;
        position: relative;
        text-align: center;
        width: 24px;
        z-index: 50;

        &:before {
            background-size: $dot-background auto;
            background-color: #6c6c6c;
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            content: "";
            height: $dot-diameter;
            opacity: 0;
            position: absolute;
            text-align: center;
            top: 1px;
            width: $dot-diameter;
            @include transition(all 0.25s ease);
        }
    }

    .line {
        background-color: #bcbcbc;
    }
}

.pointer[data-pointer-component="cable"] {
    top: 40%;
    width: 10%;

    #body[data-current-length-type="regular"] & {
        right: -5%;
    }

    #body[data-current-length-type="patch"] & {
        right: 10%;
    }

    .line {
        height: 1px;
        left: 0;
        top: 5px;
        width: 100%;
    }

    .dot {
        left: 100%;
        top: $dot-offset;

        &:before {
            background-image: url($media-folder + 'misc/tracker/cable-complete.png');
        }

        &:hover {
            top: $dot-offset + -13px;
        }
    }

    &.current {
        .dot {
            top: $dot-offset + -13px;

            &:before {
                background-image: url($media-folder + 'misc/tracker/cable-selected.png');
            }
        }
    }
}

.pointer[data-pointer-component="length"] {
    left: 50%;
    margin-left: -5px;
    top: -2%;

    .line {
        bottom: 0;
        height: 10px;
        left: 5px;
        width: 1px;

        .bracket {
            background-color: #bcbcbc;
            height: 1px;
            left: -150px;
            position: relative;
            top: 10px;
            width: 300px;


            &:before, &:after {
                position: absolute;
                height: 10px;
                width: 1px;
                display: block;
                content: "";
                background-color: #bcbcbc;
            }

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }
        }
    }

    .dot {
        top: -33px;
        left: $dot-offset;

        &:before {
            background-image: url($media-folder + 'misc/tracker/length-complete.png');
        }

        &:hover {
            left: $dot-offset + -13px;
            top: -60px;
        }
    }

    &.current {
        .dot {
            left: $dot-offset + -13px;
            top: -60px;

            &:before {
                background-image: url($media-folder + 'misc/tracker/length-selected.png');
            }
        }
    }
}

.pointer[data-pointer-component="output"], .pointer[data-pointer-component="input"] {
    width: 25%;
    top: 65px;

    #body[data-current-length-type="regular"] & {
        right: -5%;
    }

    #body[data-current-length-type="patch"] & {
        right: 10%;
    }

    .line {
        height: 1px;
        width: 100%;
        top: 5px;
        left: 0;
    }

    .dot {
        left: 100%;
        top: $dot-offset;
    }
}

.pointer[data-pointer-component="input"] {
    .dot {
        @include transform(scaleX(-1));

        &:before {
            background-image: url($media-folder + 'misc/tracker/input-complete.png');
        }

        &:hover {
            top: $dot-offset + -13px;
        }
    }

    &.current {
        .dot {
            top: $dot-offset + -13px;

            &:before {
                background-image: url($media-folder + 'misc/tracker/input-selected.png');
            }
        }
    }
}

.pointer[data-pointer-component="output"] {
    .dot {
        &:before {
            background-image: url($media-folder + 'misc/tracker/output-complete.png');
        }

        &:hover {
            top: $dot-offset + -13px;
        }
    }

    &.current {
        .dot {
            top: $dot-offset + -13px;

            &:before {
                background-image: url($media-folder + 'misc/tracker/output-selected.png');
            }
        }
    }
}

.pointer[data-pointer-component="other"] {
    top: -1em;
    left: -1em;
    z-index: 100;

    .dot {
        background-image: url($media-folder + 'misc/tracker/other-complete.png');
        background-position: center 6px;
        background-repeat: no-repeat;
        background-size: 80% auto;
        width: $dot-diameter;
        height: $dot-diameter;

        &:before {
            background-color: transparent;
        }
    }

    &.current {
        .dot {
            background-image: url($media-folder + 'misc/tracker/other-selected.png');
        }
    }
}

.pointer.techflex {
    background-size: 100%;
    border: solid 1px black;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    top: 10%;
    padding-bottom: 15%;
    position: relative;
    width: 15%;
    z-index: 15;

    $colors: 'black' 'gray' 'white';
    @each $color in $colors {
        &[data-techflex-color="#{$color}"] {
            display: block;
            background-image: url($media-folder + 'display/techflex/#{$color}.png');
        }
    }

    #body[data-current-length-type="regular"] & {
        right: 11%;
        left: auto;
    }

    #body[data-current-length-type="patch"] & {
        left: 0%;
        right: auto;
    }

    [data-restriction-techflex="false"] & {
        border: 0;
        cursor: default;
        display: block;

        &:after {
            background: $yellow url("../images/backpack/warning.png") no-repeat scroll center center / 80% auto;
            border-radius: 50%;
            content: "";
            cursor: pointer;
            height: 50%;
            right: -50%;
            top: -10%;
            position: absolute;
            width: 50%;
        }
    }
}
