body {
    &:before {
        background-color: rgba(0,0,0,0.4);
        bottom: 0;
        color: white;
        content: "";
        height: 15px;
        left: 0;
        line-height: 100%;
        position: fixed;
        pointer-events: none;
        right: 0;
        text-align: center;
        z-index: 9999;

        @include bp(max-width, $bp-xsmall) {
            content: "You're on an XSMALL screen";
        }

        @include bpw($bp-xsmall + 1, $bp-small) {
            content: "You're on an SMALL screen";
        }

        @include bpw($bp-small + 1, $bp-medium) {
            content: "You're on an MEDIUM screen";
        }

        @include bpw($bp-medium + 1, $bp-large) {
            content: "You're on an LARGE screen";
        }

        @include bpw($bp-large + 1, $bp-xlarge) {
            content: "You're on an XLARGE screen";
        }

        @include bp(min-width, $bp-xlarge + 1) {
            content: "You're on an XLARGE+ screen";
        }
    }
}