@import "builder/filters";
@import "builder/lengths";

#builders {
    box-shadow: 0 0 10px 1px #ccc;
    position: relative;
    height: 100%;
    width: 43%;
    z-index: 2;
    @include transition(all 0.3s ease-out);

    .options .outer {
        margin: 15px auto 0;
        width: 100%;
    }
}

.cableTypes {
    @include display-flex(flex);
    @include flex-direction(row);
    @include justify-content(space-around);
    text-align: center;
    display: none;

    .tab {
        @include flex-grow(1);
        cursor: pointer;
        padding: 0.5em 0;
        border: 2px solid #ccc;
        border-bottom: none;
        background-color: #676767;
        color: white;
        border-radius: 15px 15px 0 0;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;

        &:not(:first-child) {
            border-left: none;
        }

        &.selected {
            background-color: #050505;
        }
    }
}

.builder {
    background-color: $builder-bg;
    height: 100%;
    position: relative;
    z-index: 10;

    // hide all builders
    display: none;
    // show selected builder
    &.selected {
        display: block;
    }

    &[data-filter-empty="true"] {
        display: none;
    }

    li {
        display: none;
        overflow: hidden;
        height: 100%;

        &.current {
            display: block;
        }

        &.length {
            $types: regular patch;

            .ruler, .input {
                display: none;
            }

            .choices {
                .active {
                    display: none;
                }
                .inactive {
                    display: block;
                }
            }

            @each $type in $types {
                .selector[data-length-type="#{$type}"] {
                    ~ div [data-length-type="#{$type}"] {
                        display: block;
                    }
                    & ~ .choices [data-length-type="#{$type}"] {
                        .active {
                            display: block;
                        }
                        .inactive {
                            display: none;
                        }
                    }
                }
            }
        }

        &.other {
            .options {
                padding: 2em;
                max-width: 600px;
                margin: 0 auto;
                min-width: 350px;
            }

            .option {
                border-bottom: 1px solid #ccc;
                float: left;
                height: 120px;
                margin: 15px auto 0;
                padding-bottom: 30px;

                &[data-option-type="techflex"] {
                    $techflex-colors: 'white' 'gray' 'black';
                    height: 185px;
                    width: 100%;
                    @include display-flex(flex);
                    @include flex-flow(row wrap);
                    @include justify-content(center);


                    h3 {
                        text-align: center;
                        span {
                            display: inline-block;
                            margin-left: 5px;
                        }
                    }

                    .choice {
                        float: left;
                        height: 100px;
                        margin-right: 10px;
                        text-align: center;
                        width: 75px;

                        span {
                            color: #000;
                            cursor: default;
                            font-size: 10px;
                            letter-spacing: 1px;
                            text-align: center;
                            text-transform: uppercase;
                        }

                        input ~ label:after {
                            background-color: #000;
                            color: #fff;
                            content: "Pick me!";
                        }

                        input:checked ~ label:after {
                            background-color: #fff;
                            color: #000;
                            content: "Picked!";
                        }

                        @each $color in $techflex-colors {
                            input[value="#{$color}"] ~ label:before {
                                background-image: url($media-folder + 'misc/other/techflex/#{$color}.png');

                                @if $color == 'white' {
                                    background-color: black;
                                } @else {
                                    background-color: white;
                                }
                            }
                        }

                        label {
                            border: solid 1px #ccc;
                            color: white;
                            cursor: pointer;
                            display: block;
                            height: 100px;
                            position: relative;
                            width: 75px;

                            &:after, &:before {
                                position: absolute;
                                content: "";
                                width: 73px;
                                display: block;
                                left: 0;
                            }

                            &:after {
                                height: 25px;
                                line-height: 25px;
                                bottom: 0;
                                font-size: 10px;
                                letter-spacing: 1px;
                                text-transform: uppercase;
                            }

                            &:before {
                                height: 75px;
                                top: 0;
                            }
                        }
                    }

                }

                &[data-option-type="tourproof"] {
                    width: 50%;
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 0;
                        width: 1px;
                        height: 88%;
                        background-color: #ccc;
                    }

                    button {
                        background-color: #ccc;
                        border: solid 1px #bbb;
                        border-radius: 50%;
                        font-size: 10px;
                        font-weight: 300;
                        height: 15px;
                        padding-left: 2px;
                        position: relative;
                        right: -5px;
                        top: -3px;
                        width: 15px;
                    }

                    .choice {
                        margin: 0 auto;
                        width: 140px;

                        span {
                            float: left;
                            margin-top: 5px;
                        }

                        input:checked ~ label {
                            background-position: center bottom;
                        }
                    }
                }

                &[data-option-type="reverse_plugs"] {
                    width: 50%;

                    #body[data-current-length-type="regular"] & {
                        display: none;
                    }

                    .choice {
                        input:checked ~ label {
                            background-position: center bottom;
                        }
                    }
                }

                &[data-option-type="quantity"] {
                    // height: 100px;
                    // padding-bottom: 10px;

                    #body[data-current-length-type="patch"] & {
                        width: 100%;
                        border-bottom: 0;
                    }

                    #body[data-current-length-type="regular"] & {
                        width: 50%;
                    }

                    input {
                        background-color: $white;
                        border: 1px solid #333;
                        display: block;
                        margin: 0.5em auto 0;
                        padding: 0.5em;
                        text-align: center;
                        width: 50px;
                    }
                }

                &:not([data-option-type="techflex"]) {
                    text-align: center;

                    label {
                        background-image: url($media-folder + 'builder/check.png');
                        background-size: 100%;
                        background-repeat: no-repeat;
                        background-position: center top;
                        cursor: pointer;
                        display: block;
                        height: 20px;
                        margin: 0 auto;
                        width: 20px;
                    }
                }

                h3 {
                    font-size: 18px;
                    font-weight: 800;
                    letter-spacing: 2px;
                    margin: 0 0 1em;
                    text-transform: uppercase;
                    width: 100%;

                    p {
                        font-size: 10px;
                        font-weight: 300;
                        letter-spacing: 1px;
                        margin: 1em auto 0;
                        text-transform: none;
                    }
                }

                .cost {
                    color: #aaa;
                    font-size: 11px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    text-transform: lowercase;
                }

                input[type="checkbox"],
                input[type="radio"] {
                    display: none;
                }
            }
        }
    }

    .options {
        position: relative;
        z-index: 2;

        // slimscroll fix
        height: 100% !important;

        > .active {
            display: none;

            &:checked ~ .outer {
                .overlay {
                    opacity: 1;
                }
            }
        }

        .outer {
            @include display-flex(flex);
            @include flex-flow(row wrap);

            $list: premium standard straight right;
            @each $item in $list {
                &.#{$item}:before {
                    content: "#{$item}";
                }
            }

            &:before {
                display: block;
                margin-left: 10px;
                text-transform: uppercase;
                width: 100%;
            }
        }
    }
    
    .outer .option {
        $block-size: 150px;
        border: solid 1px #e9e9e9;
        height: 125px;
        margin: 10px;
        position: relative;
        width: $block-size;

        &[data-filter-status="hidden"],
        &[data-filter-status="filtered"] {
            display: none;
        }

        .selector {
            display: none;

            &:checked {
                ~ .inner .overlay {
                    opacity: 0;
                }

                ~ .select {
                    background-color: $red;

                    &:before {
                        content: "Picked!";
                    }
                }
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
        }

        img.component {
            height: $block-size;
            width: $block-size;
        }

        img.choice {

        }

        .price {
            bottom: 15px;
            color: lighten($red, 10%);
            font-size: 13px;
            font-weight: 800;
            position: absolute;
            right: 15px;

            &:before {
                content: "$";
            }
        }

        .name {
            color: $black;
            cursor: default;
            font-size: 9px;
            left: 0;
            letter-spacing: 1px;
            padding: 0 20px;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 8px;
            width: 100%;

            strong {
                display: block;
                font-weight: 800;
                margin-top: 2px;
            }
        }

        .inner {
            overflow: hidden;
            height: 100px;
            width: 100%;
            position: relative;
        }

        .select {
            background-color: $black;
            border: 0;
            color: $white;
            font-size: 10px;
            height: 25px;
            letter-spacing: 1px;
            text-transform: uppercase;
            width: 100%;

            &:before {
                content: "Pick me!";
            }
        }

        .details {
            background-color: rgba($black, 0.7);
            bottom: 0;
            left: 0;
            position: absolute;
            opacity: 0;
            right: 0;
            text-align: center;
            top: 0;
            z-index: 5;

            @include transition(opacity 0.15s ease-out);

            .touch & {
                .specs, .choices, .select {
                    display: none;
                }
            }

            &:hover {
                opacity: 1;
            }

            span, button {
                margin: 0.25em 0;
                text-transform: uppercase;
            }
            button {
                border: 0;
                background-color: transparent;
                letter-spacing: 1px;
            }
            .name {
                color: $white;
            }
            .price {
                font-size: 10px;
            }

            .specs {
                background-color: rgba($teal, 0.6);
                bottom: 8px;
                color: $white;
                font-size: 8px;
                height: 25px;
                left: 20%;
                position: absolute;
                width: 60%;
            }
        }

        .choices {
            @include display-flex(flex);
            @include justify-content(center);
            @include align-items(center);
            height: 85%;
            width: 100%;

            div {
                border-radius: 50%;
                cursor: pointer;
                height: 10px;
                margin: 0 3px;
                pointer-events: auto;
                position: relative;
                width: 10px;

                &:after {
                    border-radius: 50%;
                    content: "";
                    height: 10px;
                    left: 0;
                    top: 0;
                    position: absolute;
                    width: 10px;
                }
            }

            [data-choice-value="red"]:after {
                background-color: #e90d2f;
            }

            [data-choice-value="orange"]:after {
                background-color: #ff864f;
            }

            [data-choice-value="yellow"]:after {
                background-color: #fcf86c;
            }

            [data-choice-value="green"]:after {
                background-color: #25c265;
            }

            [data-choice-value="violet"]:after {
                background-color: #6154ba;
            }

            [data-choice-value="black"]:after {
                background-color: #000;
                width: 11px;
                height: 11px;
                left: -0.5px;
                top: -0.5px;
                border: 1px solid #555;
            }

            [data-choice-value="gray"]:after {
                background-color: #999da3;
            }

            [data-choice-value="white"]:after {
                background-color: #fff;
            }

            [data-choice-value="gold"]:after {
                background-color: #fff282;
            }

            [data-choice-value="nickel"]:after {
                background-color: #dce4f5;
            }
        }

        .overlay {
            background-color: rgba($black, 0.5);
            position: absolute;
            z-index: 3;
            opacity: 0;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    .option[data-oos="true"], .option[data-choice-oos="true"] {
        &:before {
            background-color: #222;
            bottom: -1px;
            color: #bbb;
            content: "Out of stock";
            display: block;
            height: 24px;
            left: 0;
            line-height: 24px;
            position: absolute;
            width: 100%;

            font-size: 10px;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;

        }

        &:after {
            background: rgba(0, 0, 0, 0.75) url("../images/misc/outofstock.png") no-repeat scroll center center / 100% auto;
            content: "";
            display: block;
            height: 100px;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 3;
        }
    }

    .step {
        width: 100%;
        height: 90px;
        padding: 1em;
        background-color: $tracker-bg;
        z-index: 100;
        
        button {
            border: 0;
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            overflow: hidden;
            width: 50px;
            height: 50px;
            position: relative;
            margin-top: 15px;

            &:before {
                background-repeat: no-repeat;
                background-size: 100% auto;
                content: "";
                position: absolute;
                display: block;
                height: 21px;
                width: 12px;
                top: 8px;
            }

            $step-width: 5px;
            $step-height: 7px;

            &.previous {
                float: left;

                &:before {
                    background-image: url($media-folder + 'builder/step/arrow-left.png');
                    left: 10px;
                }
            }

            &.next {
                float: right;

                &:before {
                    background-image: url($media-folder + 'builder/step/arrow-right.png');
                    right: 10px;
                }
            }
        }
    }
}

.builder .outer[data-filter-empty="true"] {
    display: none;
}

.options[data-filter-empty="true"] {
    &:before, &:after {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
        text-align: center;
        width: 100%;
    }

    &:before {
        content: "Sorry!";
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 2px;
        margin-top: 3em;
    }

    &:after {
        content: "None of these options match your criteria. Try broadening some options and try again.";
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 25px;
        margin-top: 1em;
    }
}
#body[data-only-patch="true"] .choice.regular {
    display: none;
}

li.length {
    $types: patch regular;

    input[name="switch"] {
        @each $type in $types {
            &.#{$type} {
                & ~ .rulers .#{$type} {
                    display: block;
                }

                & ~ .choices .#{$type} .silhouette {
                    &.red {
                        display: block;
                    }

                    &.gray {
                        display: none;
                    }
                }
            }
        }
    }

    .measurement {
        margin: 1em auto;
        max-height: 150px;
        max-width: 150px / (167/864);
        width: 90%;
    }

    .choices {
        @include display-flex(flex);
        @include justify-content(space-around);
        @include align-items(center);
        text-align: center;
        margin: 2em auto;
        max-width: 500px;

        .choice {
            max-width: 40%;

            p, span, button {
                text-transform: uppercase;
            }

            input[type="radio"] {
                display: none;
            }

            .image {
                width: 100%;
                height: auto;
                overflow: hidden;
                position: relative;
                max-width: 125px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                }

                .red {
                    display: none;
                }

                .gray {
                    display: block;
                }
            }
            .information {
                @include transition(top 0.3s ease-in);
                background-color: rgba(0,0,0,0.75);
                left: 0;
                color: white;
                position: absolute;
                top: 100%;
                right: 0;
                height: 100%;
            }

            &.specs .information {
                top: 0;
            }
            .type, .specs, button {
                height: 35px;
            }

            .specs, .type {
                @include display-flex(flex);
                @include justify-content(center);
                @include align-items(center);
            }

            .type {
                font-weight: 800;
                letter-spacing: 2px;
                font-size: 20px;
            }

            .detail {
                color: #777;
                font-size: 12px;
                letter-spacing: 1px;
            }

            button {
                border: none;
                display: block;
                background: #ff1200;
            }
        }
    }

    .rulers {
        margin: 1em auto;
        max-width: 600px;
        width: 90%;

        .rulerContainer {
            display: none;
            margin: 1em 0;
            color: #777;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
        }

        .lengthContainer {
            margin: 1em auto 0;
            width: 70px;
            position: relative;

            span {
                font-size: 11px;
                display: block;
                margin-bottom: 0.5em;
            }

            label {
                position: absolute;
                right: -30px;
                top: 50%;
                font-size: 14px;
            }

            input {
                border: solid 1px #999;
                padding: 0.5em 0;
                font-weight: 900;
                margin: 0 auto;
                font-size: 20px;
                letter-spacing: 1px;
                width: 70px;
                text-align: center;
            }
        }

        .ui-slider-horizontal {
            height: 4px;
            border: none;
            @include background-image(linear-gradient(to right, #dd0000, orange, #eeee00));
        }

        .ui-slider-handle {
            border-radius: 50%;
            background: none;
            background-color: white;
            border-color: #898989;
            border-width: 2px;
            top: -9px;
            @include box-shadow(#8c8c8c 3px 2px 3px);
        }

        .ruler .ui-slider-range {
            background-image: none;
            background-color: #999;
        }

        .ui-state-active {
            background: none;
            background-color: #ccc;
            border: white;
        }
    }

    .inputs {
        color: #777;
        margin: 0 auto;
        text-transform: uppercase;
        width: 100px;

        span {
            display: block;
            font-size: 11px;
            margin-bottom: 0.5em;
            text-align: center;
        }

        label {
            margin-top: 17px;
            margin-left: 5px;
            float: right;
            font-size: 14px;
        }

        input {
            border: 1px solid #999;
            color: $black;
            font-size: 20px;
            font-weight: 900;
            letter-spacing: 1px;
            margin: 0 auto 0 17px;
            padding: 0.5em 0;
            text-align: center;
            width: 65px;
        }

        .input {
            width: 105px;
        }
    }

    .notice, .notice img {
        width: 100%;
    }

    @include bp(max-height, 715px) {
        .options .measurement {
            display: none;
        }

        .filters > div {
            display: block;
        }
    }

    @include bp(min-height, 716px) {
        .options .measurement {
            display: block;
        }

        .filters > div {
            display: none;
        }
    }
}

li.cable {
    .price:after {
        content: "per ft";
        color: #bababa;
        display: block;
        font-size: 9px;
        font-weight: 300;
        text-transform: uppercase;
    }
}