@import "builder/filters";
@import "builder/lengths";

#builders {
    box-shadow: 0 0 10px 1px #ccc;
    position: relative;
    height: 100%;
    width: 43%;
    z-index: 2;
    @include transition(all 0.3s ease-out);
}

.cableTypes {
    @include display-flex(flex);
    @include flex-direction(row);
    @include justify-content(space-around);
    text-align: center;
    display: none;

    .tab {
        @include flex-grow(1);
        cursor: pointer;
        padding: 0.5em 0;
        border: 2px solid #ccc;
        border-bottom: none;
        background-color: #676767;
        color: white;
        border-radius: 15px 15px 0 0;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;

        &:not(:first-child) {
            border-left: none;
        }

        &.selected {
            background-color: #050505;
        }
    }
}

.builder {
    background-color: $builder-bg;
    height: 100%;
    position: relative;
    z-index: 10;

    // hide all builders
    display: none;
    // show selected builder
    &.selected {
        display: block;
    }

    &[data-filter-empty="true"] {
        display: none;
    }

    li {
        display: none;
        overflow: hidden;
        height: 100%;

        &.current {
            display: block;
        }

        &.length {
            .ruler, .input {
                display: none;
            }

            .choices {
                .active {
                    display: none;
                }
                .inactive {
                    display: block;
                }
            }

            @each $type in $cable-types {
                .selector[data-length-type="#{$type}"] {
                    ~ div [data-length-type="#{$type}"] {
                        display: block;
                    }
                    & ~ .choices [data-length-type="#{$type}"] {
                        .active {
                            display: block;
                        }
                        .inactive {
                            display: none;
                        }
                    }
                }
            }
        }

        &.other {
            .options {
                padding: 2em;
                max-width: 700px;
                margin: 0 auto;
                min-width: 350px;
            }

            .option {
                border-bottom: 1px solid #ccc;
                float: left;
                height: 120px;
                margin: 15px auto 0;
                padding-bottom: 30px;

                &[data-option-type="techflex"] {
                    height: auto;
                    position: relative;
                    width: 100%;
                    @include display-flex(flex);
                    @include flex-flow(row wrap);
                    @include justify-content(center);

                    [data-restriction-techflex="false"] & {
                        &:before {
                            display: none;
                            background-color: $yellow;
                            background-image: url("../images/backpack/warning.png");
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 90% auto;
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            content: "";
                            left: 35px;
                            bottom: 48px;
                            position: absolute;
                            z-index: 3;
                        }

                        &:after {
                            @include display-flex(flex);
                            @include align-items(center);
                            @include justify-content(center);
                            background-color: rgba(0, 0, 0, 0.95);
                            border: 1px solid #ccc;
                            bottom: 2.5%;
                            color: #ccc;
                            content: "Due to the diameter of the cable, your plugs will not fit on this cable with Techflex. ";
                            cursor: default;
                            font-size: 13px;
                            font-weight: 700;
                            left: 0;
                            letter-spacing: 1px;
                            line-height: 20px;
                            padding: 0 15px;
                            position: absolute;
                            text-transform: uppercase;
                            text-align: center;
                            top: 45px;
                            width: 100%;
                            z-index: 2;
                        }
                    }

                    h3 {
                        text-align: center;

                        span {
                            display: inline-block;
                            margin-left: 5px;
                        }
                    }

                    .choice {
                        float: left;
                        height: 116px;
                        margin-right: auto;
                        text-align: center;
                        width: 75px;

                        span {
                            color: #000;
                            cursor: default;
                            font-size: 10px;
                            letter-spacing: 1px;
                            text-align: center;
                            text-transform: uppercase;
                        }

                        input ~ label:after {
                            background-color: #000;
                            color: #fff;
                            content: "Pick me!";
                        }

                        input:checked ~ label:after {
                            background-color: #fff;
                            color: #000;
                            content: "Picked!";
                        }

                        @each $color in $techflex-colors {
                            input[value="#{$color}"] ~ label:before {
                                background-image: url($media-folder + 'misc/other/techflex/#{$color}.png');

                                @if $color == 'white' {
                                    background-color: black;
                                } @else {
                                    background-color: white;
                                }
                            }
                        }

                        label {
                            border: solid 1px #ccc;
                            color: white;
                            cursor: pointer;
                            display: block;
                            height: 100px;
                            position: relative;
                            width: 75px;

                            &:after, &:before {
                                position: absolute;
                                content: "";
                                width: 73px;
                                display: block;
                                left: 0;
                            }

                            &:after {
                                height: 25px;
                                line-height: 25px;
                                bottom: 0;
                                font-size: 10px;
                                letter-spacing: 1px;
                                text-transform: uppercase;
                            }

                            &:before {
                                height: 75px;
                                top: 0;
                            }
                        }
                    }

                }

                &[data-option-type="tourproof"] {
                    width: 50%;
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        right: 0;
                        width: 1px;
                        height: 88%;
                        background-color: #ccc;
                    }

                    button {
                        background-color: #ccc;
                        border: solid 1px #bbb;
                        border-radius: 50%;
                        font-size: 10px;
                        font-weight: 300;
                        height: 15px;
                        padding-left: 2px;
                        position: relative;
                        right: -5px;
                        top: -3px;
                        width: 15px;
                    }

                    .choice {
                        margin: 0 auto;
                        width: 140px;

                        span {
                            float: left;
                            margin-top: 5px;
                        }

                        input:checked ~ label {
                            background-position: center bottom;
                        }
                    }
                }

                &[data-option-type="reverse_plugs"] {
                    width: 50%;

                    #body[data-current-length-type="instrument"] & {
                        display: none;
                    }

                    .choice {
                        input:checked ~ label {
                            background-position: center bottom;
                        }
                    }
                }

                &[data-option-type="quantity"] {
                    // height: 100px;
                    // padding-bottom: 10px;

                    #body[data-current-length-type="patch"] & {
                        width: 100%;
                        border-bottom: 0;
                    }

                    #body[data-current-length-type="instrument"] & {
                        width: 50%;
                    }

                    input {
                        background-color: $white;
                        border: 1px solid #333;
                        display: block;
                        margin: 0.5em auto 0;
                        padding: 0.5em;
                        text-align: center;
                        width: 50px;
                    }
                }

                &:not([data-option-type="techflex"]) {
                    text-align: center;

                    label {
                        background-image: url($media-folder + 'builder/check.png');
                        background-size: 100%;
                        background-repeat: no-repeat;
                        background-position: center top;
                        cursor: pointer;
                        display: block;
                        height: 20px;
                        margin: 0 auto;
                        width: 20px;
                    }
                }

                h3 {
                    font-size: 18px;
                    font-weight: 800;
                    letter-spacing: 2px;
                    margin: 0 0 1em;
                    text-transform: uppercase;
                    width: 100%;

                    p {
                        font-size: 10px;
                        font-weight: 300;
                        letter-spacing: 1px;
                        margin: 1em auto 0;
                        text-transform: none;
                    }
                }

                .cost {
                    color: #aaa;
                    font-size: 11px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    text-transform: lowercase;
                }

                input[type="checkbox"],
                input[type="radio"] {
                    display: none;
                }
            }
        }
    }

    .options {
        position: relative;
        z-index: 2;

        // slimscroll fix
        height: 100% !important;

        > .active {
            display: none;

            &:checked ~ .outer {
                .overlay {
                    opacity: 1;
                }
            }
        }

        .outer {
            @include display-flex(flex);
            @include flex-flow(row wrap);
            position: relative;
            margin: 20px auto;
            width: 100%;

            $list: 'premium' 'standard' 'straight' 'right' 'other';
            @each $item in $list {
                &.#{$item}:before {
                    content: "#{$item}";
                }
            }

            &:before {
                display: block;
                margin-left: 10px;
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: 1px;
                width: 100%;
            }

            &:after {
                content: "";
                height: 1px;
                left: 10px;
                max-width: 100px;
                position: absolute;
                top: 15px;
                width: 100%;
            }
        }
    }

    .outer .option {
        $block-size: 150px;
        border: solid 1px #e9e9e9;
        height: 125px;
        margin: 10px;
        position: relative;
        width: $block-size;

        &[data-filter-status="hidden"],
        &[data-filter-status="filtered"] {
            display: none;
        }

        .selector {
            display: none;

            &:checked {
                ~ .inner .overlay {
                    opacity: 0;
                }

                ~ .select {
                    background-color: $red;

                    &:before {
                        content: "Picked!";
                    }
                }
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
        }

        img.component {
            height: $block-size;
            width: $block-size;
        }

        img.choice {

        }

        .price {
            bottom: 15px;
            color: lighten($red, 10%);
            font-size: 13px;
            font-weight: 800;
            position: absolute;
            right: 15px;

            &:before {
                content: "$";
            }
        }

        .name {
            color: $black;
            cursor: default;
            font-size: 9px;
            left: 0;
            letter-spacing: 1px;
            padding: 0 10px;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 8px;
            width: 100%;

            strong {
                display: block;
                font-weight: 800;
                margin-top: 2px;
            }
        }

        .inner {
            overflow: hidden;
            height: 100px;
            width: 100%;
            position: relative;
        }

        .select {
            background-color: $black;
            border: 0;
            color: $white;
            font-size: 10px;
            height: 25px;
            letter-spacing: 1px;
            text-transform: uppercase;
            width: 100%;

            &:before {
                content: "Pick me!";
            }
        }

        .details {
            background-color: rgba($black, 0.7);
            bottom: 0;
            left: 0;
            position: absolute;
            opacity: 0;
            right: 0;
            text-align: center;
            top: 0;
            z-index: 5;

            @include transition(opacity 0.15s ease-out);

            .touch & {
                .specs, .choices, .select {
                    display: none;
                }
            }

            &:hover {
                opacity: 1;
            }

            span, button {
                margin: 0.25em 0;
                text-transform: uppercase;
            }
            button {
                border: 0;
                background-color: transparent;
                letter-spacing: 1px;
            }
            .name {
                color: $white;
            }
            .price {
                font-size: 10px;
            }

            .specs {
                background-color: rgba($teal, 0.6);
                bottom: 8px;
                color: $white;
                font-size: 8px;
                height: 25px;
                left: 20%;
                position: absolute;
                width: 60%;
            }
        }

        .choices {
            @include display-flex(flex);
            @include justify-content(center);
            @include align-items(center);
            height: 85%;
            width: 100%;

            div {
                border-radius: 50%;
                cursor: pointer;
                height: 10px;
                margin: 0 3px;
                overflow: hidden;
                pointer-events: auto;
                position: relative;
                width: 10px;
            }

            @include choices;
        }

        .overlay {
            background-color: rgba($black, 0.5);
            bottom: -1px;
            left: -1px;
            position: absolute;
            opacity: 0;
            right: -1px;
            top: -1px;
            z-index: 3;
        }
    }

    .option[data-status="unavailable"], .option[data-choice-status="unavailable"] {
        &:before {
            background-color: #808080;
            bottom: -2px;
            color: #000;
            content: "Out of stock";
            cursor: default;
            display: block;
            height: 25px;
            left: 0;
            line-height: 25px;
            position: absolute;
            width: 100%;

            font-size: 10px;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;

        }

        &:after {
            content: "";
            display: block;
            height: 100px;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 3;
        }
    }

    .step {
        width: 100%;
        height: 90px;
        padding: 1em;
        background-color: $tracker-bg;
        z-index: 100;

        button {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: solid $white 1px;
            color: $white;
            letter-spacing: 1px;
            height: 70%;
            overflow: hidden;
            position: relative;
            top: 15%;
            font-size: 11px;
            letter-spacing: 2px;

            @include transition(all 0.2s ease-out);

            &:hover {
                background-color: $black;
                color: $white;
            }

            &:before,
            &:after {
                background-color: $white;
                content: "";
                position: absolute;
                display: block;
                height: 10px;
                width: 2px;
            }

            $angle: 50deg;
            $x: 14px;
            $y: 11.5px;

            &.previous {
                float: left;
                padding-left: 30px;
                padding-right: 15px;

                &:before {
                    left: $x;
                    top: $y;
                    @include transform(rotate($angle));
                }

                &:after {
                    bottom: $y;
                    left: $x;
                    @include transform(rotate($angle*-1));
                }
            }

            &.next {
                float: right;
                padding-right: 30px;
                padding-left: 15px;

                &:before {
                    right: $x;
                    top: $y;
                    @include transform(rotate($angle*-1));
                }

                &:after {
                    bottom: $y;
                    right: $x;
                    @include transform(rotate($angle));
                }
            }

            @include bp(max-width, 1150px) {
                padding: 0 !important;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                max-width: 34px;
            }
        }
    }

    li[data-status="complete"] .step {
        $green: $white;
        outline: solid 1px #ccc;

        .next {
            background-color: $green;
            color: $tracker-bg;
            outline: solid 1px $green;

            &:before,
            &:after {
                background-color: $tracker-bg;
                @include transition(all 0.2s ease-out);
            }

            &:hover {
                background-color: $black;
                color: $white;

                &:before,
                &:after {
                    background-color: $white;
                }
            }
        }
    }
}

.builder .outer[data-filter-empty="true"] {
    display: none;
}

.options[data-filter-empty="true"] {
    &:before, &:after {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
        text-align: center;
        width: 100%;
    }

    &:before {
        content: "Sorry!";
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 2px;
        margin-top: 3em;
    }

    &:after {
        content: "None of these options match your criteria. Try broadening some options and try again.";
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 25px;
        margin-top: 1em;
    }
}
#body[data-only-patch="true"] .choice[data-length-type="instrument"] {
    display: none;
}

li.cable {
    .price:after {
        content: "per ft";
        color: #bababa;
        display: block;
        font-size: 9px;
        font-weight: 300;
        text-transform: uppercase;
    }
}


.builder {
    article {
        height: 100%;
        position: relative;

        @include flexbox((
            display: flex,
            flex-direction: column,
        ));
    }
}

.header {
    background-color: $teal;
    padding: 25px 20px;

    h1 {
        color: $white;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 2px;
        margin: 0;
        text-transform: uppercase;

        strong {
            font-weight: inherit;
        }
    }
}

.body {

}

.footer {
    background-color: #999;
    height: 50px;
    margin-top: auto;
}

article.length {
    display: none;
    .choice .active,
    .input,
    .ruler,
    .select {
        display: none;
    }

    @each $type in $cable-types {
        .body-wrap[data-type="#{$type}"] & {
            div[data-type="#{$type}"] {
                display: block;
            }

            .choice[data-type="#{$type}"] .inactive {
                display: none;
            }

            .choice[data-type="#{$type}"] .active {
                display: block;
            }
        }
    }

    .choices {
        @include display-flex(flex);
        @include justify-content(space-around);
        @include align-items(center);
        margin: 2em auto;
        max-width: 500px;
        text-align: center;

        .choice {
            span {
                text-transform: uppercase;
            }
        }

        .image {
            cursor: pointer;
            height: auto;
            max-width: 125px;
            overflow: hidden;
            position: relative;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .rulers {
        margin: 1em auto;
        max-width: 600px;
        width: 90%;

        .ui-slider-horizontal {
            height: 4px;
            border: none;
            @include background-image(linear-gradient(to right, #dd0000, orange, #eeee00));
        }

        .ui-slider-handle {
            background: none;
            background-color: white;
            border-color: #898989;
            border-radius: 50%;
            border-width: 2px;
            top: -9px;
            @include box-shadow(#8c8c8c 3px 2px 3px);
        }

        .ui-slider-range {
            background-color: #999;
            background-image: none;
        }

        .ui-state-active {
            background: none;
            background-color: #ccc;
            border: white;
        }
    }

    .inputs {
        color: #777;
        margin: 0 auto;
        text-transform: uppercase;
        width: 100px;

        span {
            display: block;
            font-size: 11px;
            margin-bottom: 0.5em;
            text-align: center;
        }

        label {
            float: right;
            font-size: 14px;
            margin-top: 17px;
            margin-left: 5px;
        }

        input {
            border: 1px solid #999;
            color: $black;
            font-size: 20px;
            font-weight: 900;
            letter-spacing: 1px;
            margin: 0 auto 0 17px;
            padding: 0.5em 0;
            text-align: center;
            width: 65px;
        }

        .input {
            width: 105px;
        }
    }

    .selects {
        display: none;
    }

    .notice,
    .notice img {
        width: 100%;
    }

    .length-confirm {
        margin-top: 15px;
        text-align: center;

        button {
            background-color: $teal;
            border: 0;
            color: $white;
            font-size: 12px;
            letter-spacing: 1px;
            padding: 10px 15px;

        }
    }
}

article.cable {
    display: none;
}

#builders {
    width: 58%;
}

article {
    .body.options-box {
        @include flexbox((
            display: flex,
            flex-grow: 1
        ));
    }

    .details-wrap {
        @include order(2);
        background-color: $details-bg;
        height: 100%;
        width: 25%;

        &.active {
            .empty {
                display: none;
            }

            .details-content,
            .select-option {
                display: block;
            }
        }

        .empty {
            display: block;

            &:before {
                content: "Select to see details";
            }
        }

        .details-content,
        .select-option {
            display: none;
        }

        .choices {
            div {
                width: 25px;
                height: 25px;
                border: 1px solid #999;
                display: inline-block;
            }
        }


        .specs {
            span {
                display: block;
            }
        }

        .images {
            position: relative;
        }

        img {
            width: 100%;
            height: auto;

            &.choice {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .options-wrap {
        @include order(1);
        height: 100%;
        width: 75%;

        input {
            display: none;
        }

        .active {
            display: none;
        }
    }

    .options {
        @include flexbox((
            display: flex,
            flex-wrap: wrap,
            align-content: flex-start,
        ));
    }
}

.option {
    display: none;
    @each $type in $cable-types {
        .body-wrap[data-cable-type="#{$type}"] &.#{$type} {
            display: block;
        }
    }

    position: relative;
    margin: 1%;
    width: 23%;

    .details {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .name {
        font-size: 9px;
        letter-spacing: 1px;
        position: absolute;
        top: 8px;
        text-transform: uppercase;
        text-align: center;
        width: 100%;

        span {
            display: block;
        }
    }

    .price {
        position: absolute;
        bottom: 0;
        left: 0;

        &:before {
            content: '$';
        }
    }

    button {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        top: 0;
        left: 0;
        border: 0 none;
    }
}

.image-wrap {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: auto;
    }
}