.ruler,
.input,
.select {
    display: none;
}

.choices {
    .active {
        display: none;
    }

    .inactive {
        display: block;
    }
}

$types: 'regular' 'patch';
@each $type in $types {
    .selector[data-length-type="#{$type}"] {
        ~ div div[data-length-type="#{$type}"] {
            display: block;
        }

        & ~ .choices div[data-length-type="#{$type}"] {
            .active {
                display: block;
            }
            .inactive {
                display: none;
            }
        }
    }
}

.choices {
    @include display-flex(flex);
    @include justify-content(space-around);
    @include align-items(center);
    margin: 2em auto;
    max-width: 500px;
    text-align: center;

    .choice {
        max-width: 40%;

        p,
        span,
        button {
            text-transform: uppercase;
        }

        input[type="radio"] {
            display: none;
        }

        .image {
            cursor: pointer;
            height: auto;
            max-width: 125px;
            overflow: hidden;
            position: relative;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
            }

            .red {
                display: none;
            }

            .gray {
                display: block;
            }
        }

        .information {
            @include transition(top 0.3s ease-in);
            background-color: rgba(0,0,0,0.75);
            color: white;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 100%;
        }

        &.specs .information {
            top: 0;
        }
        .type, .specs, button {
            height: 35px;
        }

        .specs,
        .type {
            @include display-flex(flex);
            @include justify-content(center);
            @include align-items(center);
        }

        .type {
            font-size: 20px;
            font-weight: 800;
            letter-spacing: 2px;
        }

        .detail {
            color: #777;
            font-size: 12px;
            letter-spacing: 1px;
        }

        button {
            background: #ff1200;
            border: none;
            display: block;
        }
    }
}

.rulers {
    margin: 1em auto;
    max-width: 600px;
    width: 90%;

    .rulerContainer {
        display: none;
        margin: 1em 0;
        color: #777;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
    }

    .lengthContainer {
        margin: 1em auto 0;
        position: relative;
        width: 70px;

        span {
            display: block;
            font-size: 11px;
            margin-bottom: 0.5em;
        }

        label {
            font-size: 14px;
            position: absolute;
            right: -30px;
            top: 50%;
        }

        input {
            border: solid 1px #999;
            font-weight: 900;
            font-size: 20px;
            letter-spacing: 1px;
            margin: 0 auto;
            padding: 0.5em 0;
            text-align: center;
            width: 70px;
        }
    }

    .ui-slider-horizontal {
        border: none;
        height: 4px;
        @include background-image(linear-gradient(to right, #dd0000, orange, #eeee00));
    }

    .ui-slider-handle {
        @include box-shadow(#8c8c8c 3px 2px 3px);
        background: none;
        background-color: white;
        border-color: #898989;
        border-radius: 50%;
        border-width: 2px;
        top: -9px;
    }

    .ruler .ui-slider-range {
        background-color: #999;
        background-image: none;
    }

    .ui-state-active {
        background: none;
        background-color: #ccc;
        border: white;
    }
}

.inputs {
    color: #777;
    margin: 0 auto;
    text-transform: uppercase;
    width: 100px;

    span {
        display: block;
        font-size: 11px;
        margin-bottom: 0.5em;
        text-align: center;
    }

    label {
        float: right;
        font-size: 14px;
        margin-top: 17px;
        margin-left: 5px;
    }

    input {
        border: 1px solid #999;
        color: $black;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 1px;
        margin: 0 auto 0 17px;
        padding: 0.5em 0;
        text-align: center;
        width: 65px;
    }

    .input {
        width: 105px;
    }
}

.selects {
    width: 100%;

    @include flexbox((
        display: flex,
        justify-content: center,
    ));

    select {
        padding: 10px;
        text-align: center;
    }

    span {
        display: inline-block;
        margin-right: -15px;
    }
}

.notice {
    width: 100%;

    img {
        height: auto;
        margin: 0 auto;
        width: 80%;
    }
}

@include bp(max-width, $bp) {
    .rulers,
    .inputs {
        display: none;
    }
}

@include bp(min-width, $bp + 1 ) {
    .selects {
        display: none;
    }
}
