header {
    display: none;
    $font-color: #7c7c7c;
    $font-accent: #3c3c3c;

    background-color: white;
    border-bottom: solid 2px gray;
    height: 52px;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 15;

    .outer {
        height: 40px;
        line-height: 40px;
        margin: 0 auto;
        max-width: 1000px;
        width: 100%;

        a.logo {
            float: left;
            height: 100%;
            text-align: center;

            img {
                max-height: 100%;
            }
        }

        ul {
            @include clearfix;
            clear: none;
            margin: 5px auto;
            width: 720px;

            li {
                float: left;
                padding: 0 2em;
                text-align: center;

                &:not(:last-child) {
                    border-right: solid 1px #ccc;
                }

                a {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 11px;
                    letter-spacing: 3px;
                    text-decoration: none;
                }

                a, a:visited {
                    color: $font-color;
                }

                a:hover, a:focus, a:active {
                    color: $font-accent;
                }

                .cart {
                    background: url('/v/s/images/header/cart.png') no-repeat scroll center center / 100% auto transparent;
                    height: 20px;
                    width: 20px;
                    display: block;
                    margin-top: 10px;

                    &:hover {
                        background-image: url('/v/s/images/header/cart-hover.png');
                    }
                }
            }
        }
    }
}
