@import "blocks/header";
@import "blocks/introduction";
@import "blocks/production";
@import "blocks/confirmation";

.content-wrap {
    overflow: hidden;
    position: relative;

    section {
        position: relative;
    }
}

.body-wrap {
    @include display-flex(flex);
}

body[data-orientation="horizontal"] {
}

body[data-orientation="vertical"] {
}
