@import "compass/css3";

@import "var";
@import "mixin/breakpoints";
@import "mixin/clearfix";

@import "mixin/choices";

@import "main";
@import "blocks";
@import "media";

// @import "hotfix";
#display {
    order: 3;
}

#storage {
    left: auto;
    right: 0;
}

.filters {
    padding-left: 40px;
}

#header {
    left: 5px;
}