.filters {
    $primary: #af9757;
    $secondary: #fff;
    $accent: #000;

    &:before {
        color: #fff;
        text-transform: uppercase;
        align-self: center;
        font-size: 14px;
        font-weight: bolder;
        letter-spacing: 1px;
        margin-left: 20px;
        cursor: default;
        width: 150px;
    }

    &.cable:before {
        content: "1. Cable Type";
    }
    &.length:before {
        content: "2. Cable Length";
    }
    &.inputPlug:before {
        content: "3. Input Plug";
    }
    &.outputPlug:before {
        content: "4. Output Plug";
    }
    &.other:before {
        content: "5. Other Options";
    }

    @include display-flex(flex);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-items(center);
    background-color: $primary;
    font-size: 11px;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase;
    max-height: 10%;
    height: 100%;

    .filterContainer {
        @include align-self(center);
        min-width: 85px;
        width: 23%;
        margin-right: 1%;
        position: relative;
        height: 50%;
        max-height: 40px;

        &.manufacturer {
            width: 30%;
            max-width: 185px;

            @include bp(min-width, 1199px) {
                h2 {
                    max-width: 185px;
                }
            }

            @include bp(max-width, 1198px) {
                h2 {
                    max-width: 136px;
                }
            }

            .filter {
                max-width: 185px;
            }
        }

        &.filter-open {
            h2:after {
                @include transform(rotate(180deg));
            }

            h2, .filter-option {
                background-color: $accent;
            }

            .filter {
                @include transition(z-index 0s step-end);
                z-index: 40;
            }

            div.filter-option {
                @include transform(translateY(0));
                opacity: 1;
                visibility: visible;

                @for $i from 1 through 7 {
                    &:nth-child(#{$i}) {
                        @include transition(all 0.1s #{0.025*$i}s ease-out);
                    }
                }
            }

            // .filter-on {
            //     top: auto;
            //     z-index: 1;
            // }
        }

        // .filter-on {
        //     top: 0;
        //     z-index: 3;

        //     .filter-selected {
        //         visibility: visible;
        //         opacity: 1;
        //     }
        // }

        h2:after {
            border-color: $primary transparent;
            border-style: solid solid none;
            border-width: 7px 4px medium;
            content: "";
            display: block;
            height: 0;
            position: absolute;
            right: 1em;
            top: 40%;
            width: 0;

            @include transition(all 0.4s ease);
            @include transform(rotate(0));
        }

        h2 {
            @include transition(all 0.1s ease-in);
            @include display-flex(flex);
            @include align-items(center);
            @include justify-content(center);
            background-color: $secondary;
            color: $primary;
            cursor: pointer;
            height: 100%;
            letter-spacing: 1px;
            font-weight: bold;
            position: relative;
            max-width: 150px;
            z-index: 2;
        }

        &.color {
            .filter-option {
                label {
                    &:before, &:after {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                    }
                    &:before {
                        left: 2em;
                    }
                    &:after {
                        right: 2em;
                        border-radius: 50%;
                    }
                }
                $list: 'red' 'orange' 'yellow' 'green' 'black' 'white' 'green' 'blue';
                @each $color in $list {
                    input[value="#{$color}"] + label:after {
                        background-color: #{$color};
                    }
                }
                input[value="black"] + label:after {
                    border: white solid 1px;
                }
                @for $i from 1 through 7 {
                    &:nth-child(#{$i}) {
                        @include transition(all 0.1s #{0.025*(7-$i)}s ease-out);
                    }
                }
            }
        }

        &.brightness, &.flexibility {
            .filter-option {
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        @include transition(all 0.1s #{0.05*(3-$i)}s ease-out);
                    }
                }
            }
        }
        
    }
    .filter {
        @include transition(all 0.2s ease-in, z-index 0.2s step-end);
        position: absolute;
        width: 100%;
        max-width: 150px;
        z-index: 1;

        .filter-option {
            @include display-flex(flex);
            @include align-items(center);
            @include justify-content(center);
            @include transform(translateY(-40%));
            background-color: $secondary;
            color: $primary;
            width: 150px;
            height: 35px;
            letter-spacing: 1px;
            font-weight: bold;
            position: relative;
            margin: 0;
            opacity: 0;
            visibility: hidden;
            width: 100%;

            input:checked + label {
                background-color: white;
                border: solid 5px #838383;
                opacity: 1;
                &:before {
                    background-image: url('http://placehold.it/25');
                }
            }

            input {
                display: none;
            }

            label {
                @include display-flex(flex);
                @include align-items(center);
                @include justify-content(center);
                cursor: pointer;
                height: 100%;
                text-align: center;
                width: 100%;
                opacity: 0.65;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }

    button {
        display: none;
        position: absolute;
        left: 10px;
        bottom: 10px;
        background: none;
        border: none;
        text-transform: uppercase;
    }

    // hide animated arrow on smaller screens
    @include bp(max-width, 1250px) {
        .filterContainer h2:after {
            display: none;
        }

        .filterContainer.color .filter-option label:after {
            right: 1em;
        }
    }

    // hide filters when the screen is too small
    @include bp(max-width, 979px) {
        button, div {
            display: none;
        }
    }
}

.options.empty:before {
    content: "Sorry, no matches! Try broadening your options.";
}