ul.builder li {
    & > .filters:before {
        color: #fff;
        text-transform: uppercase;
        align-self: center;
        font-size: 14px;
        font-weight: bolder;
        letter-spacing: 1px;
        margin-left: 20px;
        cursor: default;
        width: 150px;
    }

    &.cable > .filters:before {
        content: "1. Cable Type";
    }
    &.length > .filters:before {
        content: "2. Cable Length";
    }
    &.inputPlug > .filters:before {
        content: "3. Input Plug";
    }
    &.outputPlug > .filters:before {
        content: "4. Output Plug";
    }
    &.other > .filters:before {
        content: "5. Other Options";
    }
}

.filters {
    $primary: #af9757;
    $secondary: #fff;
    $accent: #000;

    @include display-flex(flex);
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-items(center);
    background-color: $primary;
    font-size: 11px;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase;
    max-height: 10%;
    height: 100%;

    .filterContainer {
        @include align-self(center);
        min-width: 85px;
        max-width: 150px;
        width: 23%;
        margin-right: 1%;
        position: relative;
        height: 50%;
        max-height: 40px;

        &.filter-open {
            h2:before, h2:after {
                display: none !important;
            }
        }

        &.filter-on {
            .filter-open h2:after, .filter-open h2:before {
                display: none;
            }
            h2:after {
                @include align-items(center);
                background-color: white;
                content: "";
                @include display-flex(flex);
                left: 0;
                height: 100%;
                @include justify-content(center);
                position: absolute;
                top: 0;
                width: 100%;
                background-repeat: no-repeat;
                background-position: 10% center;
            }

            $list: 'high' 'med' 'low' 'switchcraft' 'neutrik' 'gandh';
            @each $item in $list {
                &.filter-on-#{$item} h2:after {
                    content: "#{$item}";

                    @if $item == 'gandh' {
                        content: "G&H";
                    }
                }
            }

            $color: 'red' 'orange' 'yellow' 'green' 'blue' 'black' 'white' 'multiple';
            @each $item in $color {
                &.filter-on-#{$item} h2:after {
                    content: "#{$item}";
                    background-image: url($media-folder + 'misc/filters/#{$item}.png');
                }
            }

            h2:before {
                top: -11px;
                opacity: 1;
            }
        }

        &:after {
            border-color: $primary transparent;
            border-style: solid solid none;
            border-width: 7px 4px medium;
            content: "";
            display: block;
            height: 0;
            position: absolute;
            right: 1em;
            top: 40%;
            width: 0;
            z-index: 3;

            @include transition(all 0.4s ease);
            @include transform(rotate(0));
        }

        &.manufacturer {
            width: 30%;
            max-width: 185px;

            @include bp(min-width, 1199px) {
                h2 {
                    max-width: 185px;
                }
            }

            @include bp(max-width, 1198px) {
                h2 {
                    max-width: 136px;
                }
            }

            .filter {
                max-width: 185px;
            }
        }

        &.filter-open {
            &:after {
                @include transform(rotate(-180deg));
            }

            h2, .filter-option {
                background-color: $accent;
            }

            .filter {
                @include transition(z-index 0s step-end);
                z-index: 40;
            }

            div.filter-option {
                @include transform(translateY(0));
                opacity: 1;
                visibility: visible;

                @for $i from 1 through 7 {
                    &:nth-child(#{$i}) {
                        @include transition(all 0.1s #{0.025*$i}s ease-out);
                    }
                }
            }
        }

        h2 {
            @include transition(all 0.1s ease-in);
            @include display-flex(flex);
            @include align-items(center);
            @include justify-content(center);
            background-color: $secondary;
            color: $primary;
            cursor: pointer;
            height: 100%;
            letter-spacing: 1px;
            font-weight: bold;
            position: relative;
            max-width: 150px;
            z-index: 2;

            &:before {
                position: absolute;
                display: block;
                text-transform: uppercase;
                top: 0;
                left: 0;
                opacity: 0;
                color: white;
                @include transition(all 0.2s ease-out);
            }

            &.brightness:before {
                content: "Brightness";
            }

            &.flexibility:before {
                content: "Flexibility";
            }

            &.color:before {
                content: "Color";
            }

            &.manufacturer:before {
                content: "Manufacturer";
            }
        }

        .filter-open h2:before {
            top: 11px;
            opacity: 1;
        }

        &.color {
            .filter-option {
                label {
                    &:before, &:after {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                    }
                    &:before {
                        left: 2em;
                    }
                    &:after {
                        right: 2em;
                        border-radius: 50%;
                    }
                }
                $list: 'red' 'orange' 'yellow' 'green' 'black' 'white' 'green' 'blue';
                @each $color in $list {
                    input[value="#{$color}"] + label:after {
                        background-color: #{$color};
                    }
                }
                input[value="black"] + label:after {
                    border: white solid 1px;
                }
                @for $i from 1 through 7 {
                    &:nth-child(#{$i}) {
                        @include transition(all 0.1s #{0.025*(7-$i)}s ease-out);
                    }
                }
            }
        }

        &.brightness, &.flexibility {
            .filter-option {
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        @include transition(all 0.1s #{0.05*(3-$i)}s ease-out);
                    }
                }
            }
        }

        @include bp(max-width, 1400px) {
            &:after {
                display: none;
            }
        }
    }

    .filter {
        @include transition(all 0.2s ease-in, z-index 0.2s step-end);
        position: absolute;
        width: 100%;
        max-width: 150px;
        z-index: 1;

        .filter-option {
            @include display-flex(flex);
            @include align-items(center);
            @include justify-content(center);
            @include transform(translateY(-40%));
            background-color: $secondary;
            color: $primary;
            width: 150px;
            height: 35px;
            letter-spacing: 1px;
            font-weight: bold;
            position: relative;
            margin: 0;
            opacity: 0;
            visibility: hidden;
            width: 100%;

            input:checked + label {
                background-color: white;
                border: solid 5px #838383;
                opacity: 1;
                &:before {
                    background-image: url('http://placehold.it/25');
                }
            }

            input {
                display: none;
            }

            label {
                @include display-flex(flex);
                @include align-items(center);
                @include justify-content(center);
                cursor: pointer;
                height: 100%;
                text-align: center;
                width: 100%;
                opacity: 0.65;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }


    button {
        display: none;
        position: absolute;
        left: 10px;
        bottom: 10px;
        background: none;
        border: none;
        text-transform: uppercase;
    }

    // hide animated arrow on smaller screens
    @include bp(max-width, 1250px) {
        .filterContainer h2:after {
            display: none;
        }

        .filterContainer.color .filter-option label:after {
            right: 1em;
        }
    }

    // hide filters when the screen is too small
    @include bp(max-width, 979px) {
        button, div {
            display: none;
        }
    }

    li.length & > div {
        position: absolute;
        right: 5%;
        top: 20%;
        width: 90%;
        height: 60%;

        img {
            position: absolute;
            right: 0;

            &.measurement {
                top: 20px;
                width: 0%;
                max-width: 440px;
                max-height: none;
                z-index: 3;
                border: solid 0 black;
                @include transition(all 0.3s ease-out);
            }

            &.notice {
                top: 0;
                max-height: 100%;
                max-width: 100%;
                cursor: pointer;
            }
        }

        &.showNotice .measurement {
            border-width: 3px;
            width: 100%;
        }
    }
}

.options.empty:before {
    content: "Sorry, no matches! Try broadening your options.";
    display: block;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}