li.length {
    $types: patch regular;

    .builder.only_patch & .choice.regular {
        display: none;
    }


    input[name="switch"] {
        @each $type in $types {
            &.#{$type} {
                & ~ .rulers .#{$type} {
                    display: block;
                }

                & ~ .choices .#{$type} .silhouette {
                    &.red {
                        display: block;
                    }

                    &.gray {
                        display: none;
                    }
                }
            }
        }
    }

    .measurement {
        margin: 1em auto;
        max-height: 150px;
        max-width: 150px / (167/864);
        width: 90%;
    }

    .choices {
        @include display-flex(flex);
        @include justify-content(space-around);
        @include align-items(center);
        text-align: center;
        margin: 2em auto;
        max-width: 500px;

        .choice {
            max-width: 40%;

            p, span, button {
                text-transform: uppercase;
            }

            input[type="radio"] {
                display: none;
            }

            .image {
                width: 100%;
                height: auto;
                overflow: hidden;
                position: relative;
                max-width: 125px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                }

                .red {
                    display: none;
                }

                .gray {
                    display: block;
                }
            }
            .information {
                @include transition(top 0.3s ease-in);
                background-color: rgba(0,0,0,0.75);
                left: 0;
                color: white;
                position: absolute;
                top: 100%;
                right: 0;
                height: 100%;
            }

            &.specs .information {
                top: 0;
            }
            .type, .specs, button {
                height: 35px;
            }

            .specs, .type {
                @include display-flex(flex);
                @include justify-content(center);
                @include align-items(center);
            }

            .type {
                font-weight: 800;
                letter-spacing: 2px;
                font-size: 20px;
            }

            .detail {
                color: #777;
                font-size: 12px;
                letter-spacing: 1px;
            }

            button {
                border: none;
                display: block;
                background: #ff1200;
            }
        }
    }

    .rulers {
        margin: 1em auto;
        max-width: 600px;
        width: 90%;

        .rulerContainer {
            display: none;
            margin: 1em 0;
            color: #777;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
        }

        .lengthContainer {
            margin: 1em auto 0;
            width: 70px;
            position: relative;

            span {
                font-size: 11px;
                display: block;
                margin-bottom: 0.5em;
            }

            label {
                position: absolute;
                right: -30px;
                top: 50%;
                font-size: 14px;
            }

            input {
                border: solid 1px #999;
                padding: 0.5em 0;
                font-weight: 900;
                margin: 0 auto;
                font-size: 20px;
                letter-spacing: 1px;
                width: 70px;
                text-align: center;
            }
        }

        .ui-slider-horizontal {
            height: 4px;
            border: none;
            @include background-image(linear-gradient(to right, #dd0000, orange, #eeee00));
        }

        .ui-slider-handle {
            border-radius: 50%;
            background: none;
            background-color: white;
            border-color: #898989;
            border-width: 2px;
            top: -9px;
            @include box-shadow(#8c8c8c 3px 2px 3px);
        }

        .ruler .ui-slider-range {
            background-image: none;
            background-color: #999;
        }

        .ui-state-active {
            background: none;
            background-color: #ccc;
            border: white;
        }
    }

    @include bp(max-height, 715px) {
        .options .measurement {
            display: none;
        }

        .filters > div {
            display: block;
        }
    }

    @include bp(min-height, 716px) {
        .options .measurement {
            display: block;
        }

        .filters > div {
            display: none;
        }
    }
}