// =============================================
// Primary Break Points
// =============================================
$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 770px;
$bp-large: 979px;
$bp-xlarge: 1199px;

$bp: 735px;

$media-folder: "../images/";

$red: #ed1100;
$yellow: #f5c329;
$teal: #6aaeaf; //darken(#8bc0c1, 10%);
$black: #000;
$white: #fff;

$builder-bg: #f9f9f9;
$storage-bg: #191919;
$tracker-bg: #6c6c6c;
$details-bg:  #e9e9e9;

$primary-header-height: 50px;

$builder-header-height: 70px;
$builder-footer-height: 50px;


$header-height: 50px;
$pick-height: 40px;
$width-left: 40%;
$width-right: 60%;

$details-height: 200px;
$next-height: 40px;
$step-height: 100px;

$plugs: (
    'neutrik': ('np2c' 'np2c-b' 'np2c-bag' 'np2rx' 'np2rx-b' 'np2rx-silent' 'np2x-b' 'np2x-silent' 'nys_224bg' 'nys_224g'),
    'g#{"&"}h': ('bf2p' 'rf2p' 'bf2pm'),
    'switchcraft': ('228' '280' '380'),
);
