@import "compass/css3";

@import "vendor/normalize";
@import "core/reset";

body {
    font-family: Roboto, sans-serif;
}

.hidden, .skeleton {
    display: none !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    text-transform: uppercase;
}
