html,
body,
.content-wrap,
section,
.body-wrap {
    width: 100%;
    height: 100%;
}

.content-wrap {
    letter-spacing: 1px;

    &[data-active-section="introduction"] .introduction-wrap {
        display: block;
    }

    &[data-active-section="confirmation"] {
        section {
            display: none;
        }

        .confirmation-wrap {
            display: block;
        }
    }
}

.body-wrap {
    @include flexbox((
        display: flex,
    ));
    position: relative;
    overflow: hidden;

    @each $step in $steps {
        &[data-current-step="#{$step}"] article[data-component="#{$step}"] {
            @include display-flex;
        }
    }

    @each $type in $cable-types {
        &[data-cable-type="#{$type}"] {
            article[data-component="length"] {
                div[data-type="#{$type}"] {
                    display: block;

                    .inactive {
                        display: none;
                    }

                    .active {
                        display: block;
                    }
                }
            }

            .option.#{$type} {
                display: block;
            }
        }
    }

    &[data-completed="true"] {
        article {
            height: calc(100% - 50px);
        }
    }
}

.review-wrap {
    display: none;
    height: 50px;
    width: 100%;

    .body-wrap[data-completed="true"] & {
        display: block;
    }

    .tracker-wrap & {
        @include bp(min-width, $bp-small + 1) {
            display: none !important;
        }
    }

    .builders-wrap & {
        @include bp(max-width, $bp-small) {
            display: none !important;
        }
    }

    button {
        background-color: lighten($green, 15%);
        border: 0 none;
        height: 100%;
        width: 100%;
    }
}

@include bp(max-width, $bp-small) {
    .body-wrap {

        &[data-current-step="closed"] {
            .builders-wrap {
                display: none;
            }
        }
    }

    .builders-wrap {
        height: 100%;
        z-index: 20;
    }
}

.modal-wrap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.75);

    &[data-status="open"] {
        z-index: 9999;
        @include flexcenter;
    }

    .exit {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $black;
        border: 0 none;
        color: $white;
        width: 25px;
        height: 25px;
    }

    .tourproof-modal {
        background-color: $white;
        max-height: 90%;
        max-width: 90%;
        overflow-y: scroll;
        position: relative;
        text-align: center;

        @include bp(max-width, $bp-small) {
            display: block;
            padding: 20px 30px 20px;
            margin-bottom: 10px;

            img {
                display: none;
            }

            p {
                margin-bottom: 15px;
            }

            .switcher-wrap {
                @include flexcenter;

                &[data-which="with"] {
                    button:first-child {
                        background-color: darken($green, 10%);
                        color: #fff;
                        border: $green;
                    }

                    & + .window {
                        background-position: -5px center;
                    }
                }

                &[data-which="without"] {
                    button:last-child {
                        background-color: darken($green, 10%);
                        color: #fff;
                        border: $green;
                    }

                    & + .window {
                        background-position: -240px center;
                    }
                }
            }

            .switch {
                padding: 10px;
                background-color: #ccc;
                border: solid 1px $black;
                margin: 0 5px;
            }

            .window {
                width: 190px;
                height: 200px;
                margin: 0 auto;
                background-image: image-url('tourproof.jpg');
                background-repeat: no-repeat;
                background-size: auto 100%;
            }
        }

        @include bp(min-width, $bp-small + 1) {
            padding: 50px 50px 0;
            @include flexcenter;
            @include flex-direction(column);

            p {
                margin-bottom: 25px;
            }
        }
    }
}
