.confirmation {
    $return-height: 50px;

    background-color: white;
    width: 100%;
    border: solid 1px black;

    div.return {
        @include display-flex(flex);
        @include justify-content(center);
        @include align-items(center);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        font-size: 12px;
        height: $return-height;
        background-color: #75bebf;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: lighter;
        color: white;
        cursor: pointer;

        &:before, &:after {
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            border-bottom: 7px solid white;
            border-top: none;
            margin: 0 2em;
        }
    }

    .details {
        height: 100%;
        padding-top: $return-height;
    }

    .cart {
        width: 80%;
        max-height: 90%;
        height: 100%;
        max-width: 800px;
        margin: 1em auto;
        overflow: hidden;
        padding: 50px 0;
        border: solid 1px #aaa;
    }

    .outer {
        height: 100%;
        max-width: 500px;
        overflow: hidden;
        margin: 0 auto;
    }

    .inner {
        overflow-y: scroll;
        width: calc(100% + 18px);
        text-align: center;
        height: 100%;

        > img {
            margin: 0 auto;
        }

        > h1 {
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 22px;
            letter-spacing: 1px;
        }

        > h2 {
            letter-spacing: 1px;
            margin: 0 auto;
            font-size: 11px;
            font-weight: lighter;
        }

        > button {
            display: block;
            width: 200px;
            border: none;
            margin: 0 auto;
            padding: 10px 0;
            font-size: 10px;
            letter-spacing: 1px;

            &.checkout {
                background-color: #b48d3b;
                color: white;
                margin-bottom: 1em;
            }

            &.return {
                background-color: #c4c4c4;
                color: black;
                font-weight: bolder;
            }
        }
    }

    .items {
        margin: 2em 0;
        width: 100%;
        @include display-flex(flex);
        @include flex-direction(column);

        .line-item {
            @include display-flex(flex);
            @include align-items(center);
            @include justify-content(center);
            margin-bottom: 1em;
            border-top: 1px solid #ccc;
            padding: 1em 0;
            order: 99;

            &:last-child {
                border-bottom: 1px solid #ccc;
                margin-bottom: 0;
            }

            .cable {
                width: 50%;
                text-align: left;
                .type {
                    color: #75bebf;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    letter-spacing: 1px;
                    font-weight: bolder;
                    font-size: 14px;
                }
                .specs {
                    @include display-flex(flex);
                    @include flex-direction(column);
                    @include transition(all 0.5s 0 ease);
                    font-size: 11px;
                    color: #535353;
                    font-weight: lighter;
                    max-height: 13px;
                    height: 100%;
                    overflow: hidden;

                    span {
                        margin-bottom: 2px;
                    }
                }

                button {
                    background: none;
                    border: none;
                    font-size: 10px;
                    color: #aaa;
                    text-transform: uppercase;
                    font-weight: bolder;
                    position: relative;

                    &:before {
                        content: "Show ";
                    }

                    &:after {
                        position: absolute;
                        right: -10px;
                        top: 1px;
                        content: "";
                        display: block;
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                        border-top: 7px solid #aaa;
                        border-bottom: none;
                        @include transition(all 0.25s ease-in);
                    }
                }
                &.open {
                    button {
                        &:before {
                            content: "Hide ";
                        }

                        &:after {
                            @include transform(rotate(-180deg));
                        }
                    }
                    .specs {
                        max-height: 150px;
                    }
                }
            }
            .qty {
                width: 25%;
                @include display-flex(flex);
                @include flex-direction(column);

                label {
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: bolder;
                    letter-spacing: 1px;
                }

                input {
                    width: 50px;
                    text-align: center;
                    margin: 0.5em auto;
                    padding: 4px;
                    border: solid 1px #aaa;
                }

                button {
                    border: none;
                    background: none;
                    font-size: 9px;
                    text-decoration: underline;
                    color: #535353;
                }
            }
            .price {
                width: 25%;
                font-weight: bolder;
            }
        }
    }
}
